<div class="group-files">
	<div class="group-files-title">
		<span>Ноябрь 2015</span>
	</div>
	<div class="group-files-container">
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt=""></a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="" alt="">
			</a>
		</div>
	</div>
</div>
