<div class="group-publication">
    <div class="my-photos" ng-if="vm.photosGrid">
        <div class="photo thumbnail" ng-class="{blocked: !!item.is_block}" ng-repeat="item in vm.group.publications | orderBy: '-created_at'"
             style="{{pubSize}}">
            <pub-list-item pub-data="item"
                           index="$index"
                           to-click="vm.openModalPublication"
                           is-grid="true"
                           is-modal="false"></pub-list-item>
        </div>
    </div>

    <div class="content-item" ng-if="!vm.photosGrid" ng-repeat="item in vm.group.publications | orderBy: '-created_at'">
        <pub-list-item pub-data="item"
                       index="$index"
                       to-click="vm.openModalPublication"
                       is-grid="false"
                       is-modal="false"></pub-list-item>
    </div>
</div>
<h4 class="text-center" ng-if="vm.group.publications.length === 0">Список публикаций пуст</h4>