<div style="min-height: 100%;">	
	<div class="user-main-content">
		<div class="user-main-content-item">
			<header>
				<div class="header header-user">
					<a class="logo" ui-sref="feed"></a>
					<div class="main-menu" ng-click="openMenu();" ng-class="showMenu ? 'show-menu' : ''" ng-init="showMenu=true;">			
						<a class="drop-menu" href=""></a>
						<div class="menu-item" ng-show="showMenu">
							<a class="profile" ui-sref="user({username: loggedUser})">Мой профиль</a>
							<a class="places" href="">Места</a>
							<a class="chat" href=""> Чаты</a>
							<a class="settings" ui-sref="settings">Настройки</a>
							<div class="search">
								<input type="text" placeholder="Поиск...">
								<span class="button"></span>
							</div>
						</div>
					</div>
					<div class="search">
						<input type="text" placeholder="Поиск...">
						<span class="button"></span>
					</div>
					<a class="exit" href="javascript:void(0);" ng-click="logOut()"><span></span>Выйти</a>
				</div>
			</header>

			<!-- Content -->
			<div class="groups-content">
				<div class="groups-header">
					<a href="" ng-click="viewGroupPublication(1, 12)">view pub popup</a>
					<a class="public-groups" href="">Публичные группы</a>
					<select name="" id="">
						<option value="">Популярные</option>
						<option value="">Новые</option>
					</select>
					<a class="pub-groups" href="javascript:void(0)" ng-click="openNewGroupCreation()">Создать публичную группу</a>
				</div>
				<div class="groups">
					<div class="group" ng-repeat="n in [1, 2, 3, 4]">
						<div class="group-cover">
							<a ui-sref="view-group({groupId: n})" class="group-ava">
								<img ng-src="{{image.url}}">
							</a>
							<div class="group-likes">
								<a href="" class="group-like">149</a>
								<a href="" class="group-comments">1052</a>
							</div>
						</div>
						<div class="titles">
							<a href="" class="title">Название группы Название группы</a>
							<p class="about">Описание группы. Группа про то, про это и все остальное.Описание группы. Группа про то, про это и все остальное.</p>
						</div>
						<button class="wright">Подписаться</button>
						<button>Вы подписаны</button>
					</div>
				</div>
			</div>

			<footer>
				<div class="footer">
				    <div class="footer-item">
				                <div class="footer-place">
				                    <a href="">Place People </a>
				                    <span>© 2016</span>
				                </div>
				                <div class="payment">
				                    <a class="mastercard" href=""></a>
				                    <a class="visa" href=""></a>
				                </div>
				    </div>
				    <div class="menu" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'open-bottom-menu' : ''" ng-init="showBottomMenu=true;">
				        <a class="drop-menu" href="" ></a>
				        <div class="menu-item" ng-show="showBottomMenu">		        	       
				            <a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})">{{staticPage.description}}</a>		            
				        </div>
				    </div>
				</div>
			</footer>
		</div>
	</div>
</div>