<div class="group-peoples">
	<div class="group-peoples-inner">
		<div class="group-peoples-item">
			<div class="peoples-item-info">
				<div class="peoples-item-ava">
					<a class="item-ava-a" href="">
						<img src="http://images.huffingtonpost.com/2016-03-02-1456944747-2376497-naturehike.jpg" alt="">
					</a>
				</div>
				<div class="peoples-item-data">
					<a href=""></a>
					<p>Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
			<span class="group-people-admin">Администратор</span>
		</div>
	</div>
</div>


<!-- 

<div class="contacts-off-container">
	<a href="javascript:void(0);" ng-click="returnToBack()" class="prev"></a>
	<div class="subscriber" ng-repeat="subscriber in subscribers">
		<div class="subscriber-item">
			<div class="user-ava">
				<a class="ava" ui-sref="user({username: subscriber.login})">
					<img ng-if="subscriber.avatar_path" ng-src="{{subscriber.avatar_path}}" alt="">
				</a>
			</div>
			<div class="user-info">
				<a class="user-name">{{subscriber.first_name}} {{subscriber.last_name}}</a>
				<p class="status-user" ng-hide="profileEdition">{{subscriber.status}}</p>
			</div>
		</div>
		<a href="javascript:void(0);" class="read" ng-click="sign(subscriber)">{{subscriber.is_sub ? 'Отписаться' : 'Подписаться'}}</a> 
	</div>
</div> -->