<div class="group-peoples">
	<div class="group-peoples-inner">
		<div class="group-peoples-inner-item">
			<div class="peoples-inner-item-data">
				<div class="peoples-item-photo">
					<a href="#">
						<img src="" alt="">
					</a>
				</div>
				<div class="peoples-item-name-content">
					<a class="peoples-item-name-family" href=""><span>Dima Dima</span></a>
					<p class="peoples-item-name-comment" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, consectetur debitis pariatur nisi exercitationem sequi officia tenetur qui provident necessitatibus!</p>
				</div>
			</div>
			<div class="peoples-inner-item-admin">Администратор</div>
		</div>

		<div class="group-peoples-inner-item">
			<div class="peoples-inner-item-data">
				<div class="peoples-item-photo">
					<a href="#">
						<img src="" alt="">
					</a>
				</div>
				<div class="peoples-item-name-content">
					<a class="peoples-item-name-family" href=""><span>Dima Dima</span></a>
					<p class="peoples-item-name-comment" >Lorem ipsum dolor sit amet</p>
				</div>
			</div>
			<div class="peoples-inner-item-admin"></div>
		</div>



	</div>
</div>