<div style="min-height: 100%;">
    <div class="user-main-content">
        <div class="user-main-content-item">
            <!-- Content -->
            <div class="groups-content">
                <div class="groups-header">
                    <!-- <a class="public-groups" href="">Публичные группы</a> -->
                    <a class="pub-groups" href="javascript:void(0)" ng-click="openNewGroupCreation()">Создать публичную
                        группу</a>
                </div>

                <div ng-if="showMyGroups && myGroupsFiltered.length > 0">
                    <div class="places-page-type-place">
                        <div>
                            <h4>Мои группы</h4>
                        </div>
                        <div class="places-type-place-btn" ng-if="!showAllButtons && myGroupsFiltered.length > 3"
                             ng-click="toogleGroupsView('my')">
                            Ещё
                        </div>
                        <div class="places-type-place-btn" ng-if="showAllButtons" ng-click="toogleGroupsView('all')">
                            Все
                        </div>
                    </div>
                    <div class="groups">
                        <div class="group"
                             ng-repeat="group in myGroupsFiltered | filter: showMyGroupsFilter | orderBy: ['-is_new_group', '-created_at'] |  limitTo: limitMyGroups"
                             ng-click="goGroup(group)">
                            <div class="group-cover">
                                <span class="groups-item-new-group" ng-if="group.is_new_group">NEW</span>
                                <a href class="group-ava">
                                    <img ngf-src="group.card_avatar" ngf-as-background="true">
                                </a>

                                <div class="group-likes">
                                    <p href class="group-like">{{group.count_user > 0 ? group.count_user :
                                        '&nbsp;'}}</p>

                                    <p href class="group-comments">{{group.publications > 0 ? group.publications : '&nbsp;'}}</p>
                                </div>
                            </div>
                            <div class="titles">
                                <a href ng-class="{'groups-locked-icon': !group.is_open}"
                                   class="title">{{::group.name}}</a>

                                <p ng-click="goToSearch(group.description)"
                                   ng-bind-html="group.description | colonToSmiley | linkCheck" class="about"></p>
                            </div>
                            <button class="wright"
                                    ng-class="{'btn--hover': group.is_sub}"
                                    ng-click="subscribe(group); $event.stopPropagation();"
                                    ng-disabled="group.is_sub">
                                {{group.is_sub ? 'Вы подписаны' : 'Подписаться'}}
                            </button>
                            <!--<button class="wright" ng-if="group.is_sub && group.is_creator" ng-click="openModalUnsubscribeCreator()">Отписаться</button>-->
                        </div>
                    </div>
                </div>

                <div ng-if="showAllGroups && publicGroupsFiltered.length > 0">
                    <div class="places-page-type-place">
                        <div>
                            <h4>Все публичные группы</h4>
                        </div>
                        <select class="groups-filter" name="" id="" ng-model="filterGroups.value"
                                ng-if="showAllButtons">
                            <option value="-count_user" selected>Популярные</option>
                            <option value="-created_at">Новые</option>
                        </select>

                        <div class="places-type-place-btn" ng-if="!showAllButtons && publicGroupsFiltered.length > 3"
                             ng-click="toogleGroupsView('public')">Ещё
                        </div>
                        <div class="places-type-place-btn" ng-if="showAllButtons" ng-click="toogleGroupsView('all')">
                            Все
                        </div>
                    </div>
                    <div class="groups">
                        <div class="group"
                             ng-repeat="group in publicGroupsFiltered | filter: {is_open: 1} | orderBy:filterGroups.value | limitTo: limitAllPublicGroups"
                             ng-click="goGroup(group)">
                            <div class="group-cover">
                                <span class="groups-item-new-group" ng-if="group.is_new_group">NEW</span>
                                <a class="group-ava">
                                    <img ngf-src="group.card_avatar" ngf-as-background="true">
                                </a>

                                <div class="group-likes">
                                    <p href class="group-like">{{group.count_user > 0 ? group.count_user : ''}}</p>

                                    <p href class="group-comments">{{group.publications > 0 ? group.publications :
                                        ''}}</p>
                                </div>
                            </div>
                            <div class="titles">
                                <a href="" class="title">{{::group.name}}</a>

                                <p ng-click="goToSearch(group.description)"
                                   ng-bind-html="group.description | colonToSmiley | linkCheck" class="about"></p>
                            </div>
                            <button class="wright"
                                    ng-class="{'btn--hover': group.is_sub}"
                                    ng-click="subscribe(group); $event.stopPropagation();"
                                    ng-disabled="group.is_sub">
                                {{group.is_sub ? 'Вы подписаны' : 'Подписаться'}}
                            </button>
                            <!--<div class="wright" ng-if="group.is_sub">Вы подписаны</div>-->
                            <!--<button class="wright" ng-if="group.is_sub && group.is_creator" ng-click="openModalUnsubscribeCreator()">Отписаться</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>