<div class="group-files">
	<div class="group-files-title">
		<span>Ноябрь 2015</span>
	</div>
	<div class="group-files-container">
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
		<div class="group-files-content">
		<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a></div>
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
		<div class="group-files-content">
			<a href="#"><img src="http://www.kauaibeachscoop.com/crop-center(200,200)//cms/north-shore/honopu-beach/honopu-beach-1-photo.jpg" alt="">
			</a>
		</div>
	</div>
</div>