<div style="min-height: 100%;">	
	<div class="user-main-content">
		<div class="user-main-content-item">
			<header>
				<div class="header header-user">
					<a class="logo" ui-sref="feed"></a>
					<div class="main-menu" ng-click="openMenu();" ng-class="showMenu ? 'show-menu' : ''" ng-init="showMenu=true;">			
						<a class="drop-menu" href=""></a>
						<div class="menu-item" ng-show="showMenu">
							<a class="profile" ui-sref="user({username: loggedUser})">Мой профиль</a>
							<a class="places" href="">Места</a>
							<a class="chat" href=""> Чаты</a>
							<a class="settings" ui-sref="settings">Настройки</a>
							<div class="search">
								<input type="text" placeholder="Поиск...">
								<span class="button"></span>
							</div>
						</div>
					</div>
					<div class="search">
						<input type="text" placeholder="Поиск...">
						<span class="button"></span>
					</div>
					<a class="exit" href="javascript:void(0);" ng-click="logOut()"><span></span>Выйти</a>
				</div>
			</header>

			<!-- Content -->

			<div class="group-page">
				<div class="group-ava">
					<a href="" class="ava"> 
						<img src="../../../../images/bc.png" alt=""> 
					</a>
					<div class="group-likes">
						<div class="group-info">
							<a href="" class="publication-place">Название группы Название группы Название группы Название группы</a>
							<p class="like-item">
								В теме 
								<span ng-if="singlePublication.user_like" class="you"> Вы </span>
								<span ng-if="singlePublication.user_like" class="more">и еще</span>
								<span class="count-like">{{singlePublication.user_like ? singlePublication.like_count - 1 : singlePublication.like_count}}</span>
								чел.
							</p>
						</div>
					</div> 
				</div>
				<div class="group-menu">
					<div class="group-menu-item">
						<div class="counts" >
							<a href="" class="counter active">
								<p>Публикации</p>
								<span>25</span>
							</a>
							<a href="" class="counter">
								<p>Чат</p>
								<!-- <span>417</span> -->
							</a>
							<a href="" class="counter">
								<p>Люди</p>
								<span>29</span>
							</a>
							<a href="" class="counter">
								<p>Файлы</p>
								<span>858</span> 
							</a>
							<!-- <a href="" class="counter">
								<p>Места</p>
								<span>858</span> 
							</a> -->
						</div>
					</div>
					<button>Подписаться</button>
				</div>
				<div class="group-header"></div>
				<div class="group-publication">
					<div class="my-photos" ng-show="true">
						<div class="photo" ng-repeat="n in [1,2,3,4]" style="{{resizeSizes}}">		
							<a href="" ng-click="showPublication(pub)">
								<!-- <img ng-src="{{pub.images[0].url}}" alt="">  -->
								<img src="">
								<!-- <p>{{pub.images}}</p> -->
								<!-- <span class="video" ng-show="$index==0"></span> -->
							</a>
						</div>
					</div>
				</div>
			</div>

			<footer>
				<div class="footer">
				    <div class="footer-item">
				                <div class="footer-place">
				                    <a href="">Place People </a>
				                    <span>© 2016</span>
				                </div>
				                <div class="payment">
				                    <a class="mastercard" href=""></a>
				                    <a class="visa" href=""></a>
				                </div>
				    </div>
				    <div class="menu" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'open-bottom-menu' : ''" ng-init="showBottomMenu=true;">
				        <a class="drop-menu" href="" ></a>
				        <div class="menu-item" ng-show="showBottomMenu">		        	       
				            <a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})">{{staticPage.description}}</a>		            
				        </div>
				    </div>
				</div>
			</footer>
		</div>
	</div>
</div>