<div class="group-files" ng-repeat="month in vm.chatFiles">
	<!--<div class="group-files-title">-->
		<!--<span>{{::vm.getMonth(month[0].created_at)}}</span>-->
	<!--</div>-->
	<div class="group-files-container" infinite-scroll="vm.loadMoreFiles()" infinite-scroll-distance="1">
		<div class="group-files-content" ng-repeat="file in month | limitTo: vm.limitToFiles" style="{{resizeSizes}}">
			<a a href ng-click="vm.openModalMediaFile(file)">
				<img ng-src="{{::file.url}}">
			</a>
		</div>
	</div>
</div>
