<div class="modal__title">Пригласить пользователя в группу</div>

<div class="modal__content" ng-if="vm.inviteNotSend && (vm.subscribers.length + vm.subscription.length) > 0"
ng-class="{'flex-content-center': !vm.canInviteUsers}">
    <div class="invite-group__items" ng-if="vm.canInviteUsers">
        <input type="text" id="" ng-model="searchString" placeholder="Пригласить в группу...">
        <ul class="contacts_list">
            <p ng-if="subscription.length > 0">Подписки</p>

            <li ng-repeat="user in vm.subscription | filter: vm.showUsersForInvite | searchFor:searchString as subscription"
                ng-click="vm.onItemSelected(user)" class="user_block">
                <div class="popup-invite-place-people-name1 user-block">
                    <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                        <img ng-src="{{user.avatar_path ? user.avatar_path : '/upload/preview-chat-no-avatar.png'}}" class="contacts_photo_img">
                    </a>

                    <div class="user-info">
                        <div class="user-info__user">
                            <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                                {{::user.first_name}} {{::user.last_name}}
                            </a>
                        </div>
                        <div class="user-info__status" ng-if="user.user_quote">{{::user.user_quote}}</div>
                        <div class="user-info__online">{{::user.is_online ? 'В сети' : 'Не в сети'}}</div>
                    </div>
                </div>
            </li>

            <p ng-if="subscribers.length > 0">Подписчики</p>
            <li ng-repeat="user in vm.subscribers | filter: vm.showUsersForInvite | searchFor:searchString as subscribers"
                ng-click="vm.onItemSelected(user)" class="user_block">
                <div class="popup-invite-place-people-name1 user-block">
                    <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                        <img ng-src="{{user.avatar_path ? user.avatar_path : '/upload/preview-chat-no-avatar.png'}}" class="contacts_photo_img">
                    </a>

                    <div class="user-info">
                        <div class="user-info__user">
                            <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                                {{::user.first_name}} {{::user.last_name}}
                            </a>
                        </div>
                        <div class="user-info__status" ng-if="user.user_quote">{{::user.user_quote}}</div>
                        <div class="user-info__online">{{::user.is_online ? 'В сети' : 'Не в сети'}}</div>
                    </div>
                </div>
            </li>
        </ul>
        <h4 ng-if="subscription.length === 0 && subscribers.length === 0">Пользователь не найден</h4>
    </div>
    <div class="alerts-container flex-content-center" ng-if="!vm.canInviteUsers">
        <h4 class="text-center">
            Вы пригласили всех подписчиков и подписавшихся
        </h4>
    </div>

    <div class="invite-group__items-selected" ng-if="vm.invitedUsers.length > 0">
        <p class="item1-add-people-title" ng-if="vm.invitedUsers.length > 0">Список пользователей</p>
        <ul class="contacts_list">
            <li ng-repeat="user in vm.invitedUsers" ng-mouseenter="showAdmin=true" ng-mouseleave="showAdmin=false">
                <div class="popup-invite-place-people-name1 user-block">
                    <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                        <img ng-src="{{user.avatar ? user.avatar : '/upload/preview-chat-no-avatar.png'}}" class="contacts_photo_img">
                    </a>

                    <div class="user-info">
                        <div class="user-info__user">
                            <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                                {{::user.firstName}} {{::user.lastName}}
                            </a>
                        </div>
                        <div class="user-info__status" ng-if="user.user_quote">{{::user.user_quote}}</div>
                        <div class="user-info__online">{{::user.is_online ? 'В сети' : 'Не в сети'}}</div>
                    </div>
                </div>
                    <span class="items-selected__item-delete"
                          ng-click="vm.removeUserFromInviteList(user)">&#10006;</span>
            </li>
        </ul>
    </div>
</div>
<div class="modal__content" ng-if="(vm.subscribers.length + vm.subscription.length) === 0">
    <p>Список контактов пуст</p>
</div>
<div class="modal__content" ng-if="!vm.inviteNotSend">
    <p>Приглашение отправлено</p>
</div>

<div class="modal__footer" ng-hide="!vm.inviteNotSend">
    <div class="modal__buttons">
        <a href="" class="modal__buttons-negative" ng-if="(vm.subscribers.length + vm.subscription.length) > 0"
           ng-click="vm.abortInviteUsers()">Отменить</a>
        <a href="" class="modal__buttons-positive" ng-if="(vm.subscribers.length + vm.subscription.length) > 0"
           ng-click="vm.submitInviteUsers()">Отправить</a>
        <a href="" class="modal__buttons-positive" ng-if="(vm.subscribers.length + vm.subscription.length) === 0"
           ng-click="closeThisDialog()">Закрыть</a>
    </div>
</div>