<form name="forms.newGroup" novalidate>
    <div class="new_group"> Новая группа</div>
    <div class="add_newgroup">
        <div class="first_item">
            <div class="ava_group">
                <img ng-src="{{myAvatar}}" alt="My Avatar" class="img_ava">
                <a class="img_name">{{::myName}}</a>
            </div>
            <div class="checkbox_group">
                <input type="checkbox" id="arr1" ng-model="newGroup.isOpen"/>
                <label for="arr1">Публичная группа</label>
            </div>
        </div>

        <div class="second_item">
            <div class="add-ava" ng-class="(forms.newGroup.avatar.$invalid && submFormGroup) ? 'has-error' : ''">
                <input type="file" name="avatar" id="avatarImg" class="js-group-avatar"
                       ng-model="groupCoverFile"
                       ngf-select
                       ngf-accept="'image/*'"
                       ngf-pattern="'image/*'"
                       ngf-min-height="240"
                       ngf-min-width="700"
                       ngf-resize="{width: 100, height: 100, quality: 1, centerCrop: true}"
                       ngf-before-model-change="changeGroupCoverFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                       required>
                <label for="avatarImg">
                <!--<span class="ava">-->
                    <img ngf-thumbnail="groupCoverFile" ngf-no-object-url="true">
                <!--</span>-->
                <!--<span class="add" ng-class="dataURI ? 'edit-ava' : ''" ng-mouseenter="showEditAva=true;"-->
                      <!--ng-mouseleave="showEditAva=false;" ng-click="showEditAva=!showEditAva">-->
                    <!--<span class="add-photo" ng-show="!dataURI || showEditAva"></span>-->
                <!--</span>-->
                </label>
            </div>
            <span class="add_ava_grp"> Добавить обложку группе </span>
        </div>
        <div class="error-messages" ng-messages="forms.newGroup.avatar.$error" ng-if="forms.newGroup.$invalid && forms.newGroup.$submitted || forms.newGroup.$dirty">
            <div ng-message="pattern">Выбранный файл не является изображением</div>
            <div ng-message="minWidth">Минимальная ширина 700 пикселей</div>
            <div ng-message="required">Вы не выбрали обложку для группы</div>
            <div ng-message="minHeight">Минимальная высота 240 пикселей</div>
        </div>


        <input type="text" name="name"
               ng-class="{'has-error': forms.newGroup.name.$invalid && submFormGroup}"
               ng-model="newGroup.name"
               required
               placeholder="Название">

        <div class="error-messages" ng-messages="forms.newGroup.name.$error" ng-if="forms.newGroup.$invalid && forms.newGroup.$submitted">
            <div ng-message="required">Вы не указали название группы</div>
        </div>

        <div class="text-field">
            <div emoji-form emoji-message="emojiMessage">
                <textarea id="messageInput" name="description"
                          ng-model="emojiMessage.messagetext" required></textarea>
                <a href="javascript:void(0);" class="emoji-button" id="emojibtn">
                    <i class="icon icon-emoji"></i>
                </a>
            </div>
        </div>
        <div class="error-messages" ng-messages="forms.newGroup.description.$error" ng-if="forms.newGroup.$invalid && forms.newGroup.$submitted">
            <div ng-message="required">Вы не указали название группы</div>
        </div>


        <div ng-if="isGroupNameExist">
            <p>Группа с таким названием уже существует!</p>
        </div>
        <div class="button">
            <a href="" class="cansel" ng-click="cancelNewGroup()"> Отменить </a>
            <a href="" class="create" ng-click="addGroup()"> Создать группу</a>
        </div>

        <!--<div class="fifth_item" ng-if="subscribers.length > 0">-->
            <!--<div class="item1-container">-->
                <!--<input type="text" id="" ng-model="searchString" placeholder="Пригласить в группу...">-->
                <!--<ul class="item1">-->
                    <!--<li ng-repeat="user in subscribers | searchFor:searchString">-->
                        <!--<img ng-src="{{user.avatar_path}}">-->

                        <!--<p>{{::user.first_name}} {{::user.last_name}}</p>-->
                <!--<span class="group-add-item1-user-plus" ng-click="onItemSelected(user)"><img src="/images/add.png"-->
                                                                                             <!--alt=""></span>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="item1-add-people-container">-->
                <!--<p class="item1-add-people-title">Список пользователей</p>-->

                <!--<div class="item1 add-people">-->
                    <!--<ul>-->
                        <!--<li ng-repeat="user in newGroup.users" ng-mouseenter="showAdmin=true"-->
                            <!--ng-mouseleave="showAdmin=false">-->
                            <!--<img ng-src="{{user.avatar}}">-->

                            <!--<p>{{::user.firstName}} {{::user.lastName}}</p>-->
                            <!--<span class="add-people-delete" ng-click="removeUser(user)">&#10006;</span>-->
                            <!--<span class="add-people-admin" ng-if="user.isAdmin || showAdmin" ng-click="setAdmin(user)">Администратор</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="fifth_item" ng-if="subscribers.length + subscription.length > 0">
            <div class="item1-container">
                <input type="text" ng-model="searchString" placeholder="Пригласить в группу ...">
                <ul class="item1">
                    <p>Подписки</p>
                    <li ng-repeat="user in subscription | searchFor:searchString">
                        <img ng-src="{{user.avatar_path ? user.avatar_path  : '/images/user.png'}}">
                        <p>{{::user.first_name}} {{::user.last_name}}</p>
                        <span class="group-add-item1-user-plus" ng-click="onItemSelected(user)">
                        <img src="/images/add.png" alt=""></span>
                    </li>
                    <p>Подписчики</p>
                    <li ng-repeat="user in subscribers | searchFor:searchString">
                        <img ng-src="{{user.avatar_path ? user.avatar_path : '/images/user.png'}}">
                        <p>{{::user.first_name}} {{::user.last_name}}</p>
                        <span class="group-add-item1-user-plus" ng-click="onItemSelected(user)">
                        <img src="/images/add.png" alt=""></span>
                    </li>
                </ul>
            </div>
            <div class="item1-add-people-container">
                <p class="item1-add-people-title">Список пользователей</p>
                <div class="item1 add-people">
                    <ul>
                        <li ng-repeat="user in newGroup.users">
                            <img ng-src="{{user.avatar ? user.avatar : '/images/user.png'}}">
                            <p>{{::user.firstName}} {{::user.lastName}}</p>
                            <span class="add-people-delete" ng-click="removeUser(user)">&#10006;</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>

