<div ng-controller="settingsCtrl">
	<header>
		<div class="header header-user">
			<a class="logo" href=""></a>
			<div class="main-menu" ng-click="openMenu();" ng-class="showMenu ? 'show-menu' : ''" ng-init="showMenu=true;">			
				<a class="drop-menu" href=""></a>
				<div class="menu-item" ng-show="showMenu">
					<a class="profile" ui-sref="user({username: loggedUser})">Мой профиль</a>
					<a class="places" href="">Места</a>
					<a class="chat" href=""> Чаты</a>
					<a class="settings" ui-sref="settings">Настройки</a>
					<div class="search">
						<input type="text" placeholder="Поиск...">
						<span class="button"></span>
					</div>
				</div>
			</div>
			<div class="search">
				<input type="text" placeholder="Поиск...">
				<span class="button"></span>
			</div>
			<a class="exit" href="javascript:void(0);" ng-click="logOut()"><span></span>Выйти</a>
		</div>
	</header>

	<div class="settingsss">
		<div class="set_1">
			<div class="img">
				<img src="images/picture.jpg" class="avatar"> 
				<a href="" class="change"> Изменить </a>
			</div>

			<div class="text">
				<p class="">
					<span class="h1">Шерлок Холмс</span>
					<a href=""> Изменить </a>
					<!-- <input type="text"  placeholder="Имя" name="" method="">  </input>
					<input type="submit" value="Сохранить"> -->
				</p>
				<p class="status">
					 <span>Статус</span>
					 <br> <span>Все что нас не убивает - делает нас... страннее.</span>
					<!-- <textarea name="comment" placeholder="Cтатус"></textarea>
					<input type="submit" value="Сохранить"> -->
				</p>
				
<!-- 				<p class="contact">
					<span>Телефон</span>
					<br> 8(926)870-88-99 
				</p> -->
			</div>
		</div>

		<div class="set_2">
			<span class="h1">Конфиденциальность</span>
<!-- 				<p>Показать статус "В сети"
			<input type="checkbox" name="checkbox1" id="checkbox1" class="ios-toggle" checked/>
			<label for="checkbox1" class="checkbox-label" data-off="off" data-on="on"></label>
 			</p> -->
				<p>Отправлять статус "Просмотрено"
			<input type="checkbox" name="checkbox1" id="checkbox1" class="ios-toggle" checked/>
			<label for="checkbox1" class="checkbox-label" data-off="off" data-on="on"></label>
				</p> 
				<p>Отображать мое фото
			<input type="checkbox" name="checkbox1" id="checkbox1" class="ios-toggle" checked/>
			<label for="checkbox1" class="checkbox-label" data-off="off" data-on="on"></label>
				</p> 
		</div>
	</div>


	<footer>
		<div class="footer">
		    <div class="footer-item">
		                <div class="footer-place">
		                    <a href="">Place People </a>
		                    <span>© 2016</span>
		                </div>
		                <div class="payment">
		                    <a class="mastercard" href=""></a>
		                    <a class="visa" href=""></a>
		                </div>
		    </div>
		    <div class="menu" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'open-bottom-menu' : ''" ng-init="showBottomMenu=true;">
		        <a class="drop-menu" href="" ></a>
		        <div class="menu-item" ng-show="showBottomMenu">		        	       
		            <a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})">{{staticPage.description}}</a>		            
		        </div>
		    </div>
		</div>
	</footer>

</div>