<div>
	<div class="settingsss">
		<div class="set_1">
			<!-- <div class="img">
				<img ng-src="{{userData.avatar_path}}" alt="" class="avatar" ng-hide="croppedFile" ng-show="userData.is_avatar"> -->
				<!-- <a href="" class="change"> Изменить </a> -->

				<!-- <div class="add-ava" ng-init="showEditAva=true;"> 
					<input type="file" id="avatarImg">  
					<label for="avatarImg">                                            
						<span class="ava ng-hide" ng-show="croppedFile">         
							<img data-ng-src="{{croppedFile}}" style="width:100%;">
						</span>
						<span class="add" ng-class="croppedFile ? 'edit-ava' : ''" ng-mouseover="showEditAva=true;" ng-mouseleave="showEditAva=false;" ng-click="showEditAva=!showEditAva">
							<span class="add-photo" ng-show="!croppedFile || showEditAva">
							</span>
						</span>
					</label>
				</div>

			</div> -->

			<div class="add-ava" ng-init="showEditAva=true;">
				<input type="file" id="avatarImg"/>  
				<label for="avatarImg">
					<span class="ava">         
						<img ng-src="{{userData.avatar_path}}"  ng-hide="croppedFile" ng-show="userData.is_avatar" style="width:100%;">
						<img ng-show="userData.is_avatar &&  croppedFile" style="width:100%;"  data-ng-src="{{croppedFile}}">
					</span>
					<span class="add"  ng-class="croppedFile ? 'edit-ava' : ''" ng-mouseover="showEditAva=true;" ng-mouseleave="showEditAva=false;" ng-click="showEditAva=!showEditAva">
						<span class="add-photo"  ng-show="!croppedFile || showEditAva"></span>
					</span>
				</label>
			</div>     
			<div class="text">
				<p class="">
					<a href="" class="h1" ng-hide="settingsEdit">{{userData.first_name}} {{userData.last_name}}</a>
					<a href="" ng-click="openChangeSettings()" ng-hide="settingsEdit"> Изменить </a>
					<input type="text"  placeholder="Имя" ng-show="settingsEdit" ng-model="userData.first_name">
					<input type="text"  placeholder="Фамилия" ng-show="settingsEdit" ng-model="userData.last_name" class="last_name_set">	
				</p>
				<p class="status">
					 <span  ng-hide="settingsEdit">Статус</span>
					 <br> <span class="status-text" ng-hide="settingsEdit">{{userData.user_quote}}</span>
					<textarea name="comment" placeholder="Cтатус" ng-show="settingsEdit" ng-model="userData.user_quote"></textarea>
					<button class="settings-btn" ng-show = "settingsEdit" ng-click="saveSettings(userData.first_name, userData.last_name, userData.user_quote)">Сохранить</button>
				</p>				
				<!-- <p class="contact">
					<span>Телефон</span>
					<br> 8(926)870-88-99 
				</p> -->
			</div>
		</div>
		<div class="set_2">
			<span class="h1">Конфиденциальность</span>
				<p>Показать статус "В сети"
			<input type="checkbox" name="checkbox1" id="checkbox1" class="ios-toggle" ng-checked="!!userData.is_visible"/>
			<label for="checkbox1" class="checkbox-label" data-off="off" data-on="on" ng-click="isVisible=!isVisible; changeIsVisible(isVisible)"></label>
				</p>
				<!-- <p>Отправлять статус "Просмотрено"
			<input type="checkbox" name="checkbox2" id="checkbox2" class="ios-toggle"/>
			<label for="checkbox2" class="checkbox-label" data-off="off" data-on="on"></label> -->
				<!-- </p>  -->
				<p>Скрыть профиль
			<input type="checkbox" name="checkbox2" id="checkbox2" class="ios-toggle" ng-checked="!!userData.is_private"/>
			<label for="checkbox2" class="checkbox-label" data-off="off" data-on="on" ng-click="isPrivate=!isPrivate; changeLockProfile(isPrivate)"></label>
				</p> 
				<p>Отображать мое фото
			<input type="checkbox" name="checkbox3" id="checkbox3" class="ios-toggle" ng-checked="!!userData.is_avatar" ng-click="showAvatar=!showAvatar; changeShowAvatar(showAvatar)"/>
			<label for="checkbox3" class="checkbox-label" data-off="off" data-on="on"></label>
				</p> 
		</div>
		<div class="settings-select-region">
			<h4>Области видимости</h4>
			<ul class="settings-regions-list">
				<li ng-repeat="area in userData.scopes">
					<input ng-checked="area.signed" ng-disabled="checkedAreas.length === checkedLimit && !area.active && area.name !== 'Все'" type="checkbox" id="{{area.id}}" ng-model="area.active" ng-change="checkedArea(area.active, area)">
					<label for="{{area.id}}">{{area.name}}</label>
				</li>
			</ul>
			<span ng-show="errorsaveareas" class="error-save-areas">Вы уже меняли области видимости сегодня, попробуйте через 24 часа</span>
			<span ng-show="successsaveareas" class="success-save-areas" class="success-save-areas">Настройки успешно сохранены</span>
			<button ladda="saveAreasPreloader" class="settings-btn save-areas-btn" ng-click="saveAreas()">Сохранить</button>
		</div>
		<div class="settings-reg-keys">
			<h4>Регистрационные коды</h4>
			<p ng-class="!registrationKey.isUsed ? 'not-used' : ''" ng-repeat="registrationKey in registrationKeys">
				<span>{{registrationKey.code}}</span> - {{registrationKey.isUsed ? 'использован' : 'не использован'}}
			</p>
		</div>
	</div>
</div>