<div>
	<form action="">
		<div class="spam-item">
			<input type="checkbox" id="spam">
			<label for="spam">
				<span></span>
				Спам
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="anon">
			<label for="anon">
				<span></span>
				Оскорбление
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="adult">
			<label for="adult">
				<span></span>
				Материал для взрослых
			</label>
			</div>
		<div class="spam-item">
			<input type="checkbox" id="narcotic">
			<label for="narcotic">
				<span></span>
				Пропаганда наркотиков
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="child">
			<label for="child">
				<span></span>
				Детская порнография
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="extremism">
			<label for="extremism">
				<span></span>
				Экстремизм
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="wiolense">
			<label for="wiolense">
				<span></span> 
				Насилие
			</label>
		</div>
	</form>
	<button>Отправить</button>
</div>