<div>
    <form action="" ng-if="!complainIsSend">
        <div class="spam-item">
            <input type="checkbox" id="spam" ng-model="alerts.alertPub1">
            <label for="spam">
                <span></span>
                Спам
            </label>
        </div>
        <div class="spam-item">
            <input type="checkbox" id="anon" ng-model="alerts.alertPub2">
            <label for="anon">
                <span></span>
                Оскорбление
            </label>
        </div>
        <div class="spam-item">
            <input type="checkbox" id="adult" ng-model="alerts.alertPub3">
            <label for="adult">
                <span></span>
                Материал для взрослых
            </label>
        </div>
        <div class="spam-item">
            <input type="checkbox" id="narcotic" ng-model="alerts.alertPub4">
            <label for="narcotic">
                <span></span>
                Пропаганда наркотиков
            </label>
        </div>
        <div class="spam-item">
            <input type="checkbox" id="child" ng-model="alerts.alertPub5">
            <label for="child">
                <span></span>
                Детская порнография
            </label>
        </div>
        <div class="spam-item">
            <input type="checkbox" id="extremism" ng-model="alerts.alertPub6">
            <label for="extremism">
                <span></span>
                Экстремизм
            </label>
        </div>
        <div class="spam-item">
            <input type="checkbox" id="wiolense" ng-model="alerts.alertPub7">
            <label for="wiolense">
                <span></span>
                Насилие
            </label>
        </div>
    </form>
    <button ng-if="!complainIsSend"
            ng-click="sendComplain(ngDialogData.id, ngDialogData.flag, alerts.alertPub1, alerts.alertPub2, alerts.alertPub3, alerts.alertPub4, alerts.alertPub5, alerts.alertPub6, alerts.alertPub7)">
        Отправить
    </button>
    <p class="publication-alert-done" ng-if="complainIsSend">Жалоба отправлена</p>
</div>