<h5>Новая публикация</h5>
<div class="publication">
	<div class="publication-item">
		<a class="user" ui-sref="user({username: loggedUser})">
			<span class="ava">
				<img ng-src="{{userData.avatar_path}}" alt="">
			</span>
			<p class="user-name">{{userData.first_name}} {{userData.last_name}}</p>
		</a>
		<!-- <form action="">
			<input type="checkbox" id="anon" ng-model="isAnonPub">
			<label for="anon">
				<span></span>
				Анонимная публикация
			</label>
		</form> -->
	</div>	
	<div class="text-field">
		<!-- <textarea name="" id="" placeholder="Текст публикации..." ng-model="pubText" ng-click="publishNewPubErr=false;" ng-change="publishNewPubErr=false;"></textarea> -->
		<div emoji-form emoji-message="emojiMessage">
			<textarea id="messageInput" ng-model="emojiMessage.messagetext"></textarea>
			<a href="javascript:void(0);" class="emoji-button" id="emojibtn">
				<i class="icon icon-emoji"></i>
			</a>
		</div>
		<!-- <div class="smiles">
			<div class="smiles-item"></div>
			<div class="smile">
				<div class="smile-item">
					
				</div>
			</div>
		</div> -->
	</div>		
		<div class="new-add" ng-show="showPubAdd" ng-scrollbar rebuild-on="rebuild:me" style="max-height: 250px; overflow:hidden; position:relative;">
			<div class="new-img" ng-repeat="file in files"  ng-click="showMoreImages(files)">		  
				<div class="inner">
					<div class="close" ng-click="deletePubFile(files, $index)">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img ngf-thumbnail="file || '/thumb.jpg'">
					<video width="200px" controls ngf-src="file"></video>
					<!-- <div class="check" ng-click="setMainPubPhoto(file)" style="{{mainPubPhoto === file.file.name ? 'display:block;' : ''}}">				
						<div class="check-inner">
							<p>{{mainPubPhoto === file.file.name ? 'Заставка публикации' : 'Сделать заставкой публикации'}}</p>
						</div>
					</div> -->
				</div>
				<p class="img-name">{{file.name}}</p>
			</div>
		</div>
	<div class="publication-footer" >
		<div class="add-objects">
			<input id="add-object" type="file" ngf-keep="true" style="display: none;" ngf-select ng-model="files" ngf-before-model-change="pubFiles($files)" ngf-multiple="true">
			<label for="add-object" ng-click="openPublicationPreviewBlock(picFile); publishNewPubErr=false;">
			<span class="add"></span>
				Добавить фото или видео *
			</label>
		</div>
		<div class="publication-footer-button">
			<a href="" class="cansel" ng-click="closePopup();">Отменить</a>
			<!-- <a href="" class="publication-button" ng-click="publishNewPub(files);" ladda="newPubLoader">Опубликовать</a> -->
			<button class="publication-button" ng-click="publishNewPub(files, emojiMessage);" ladda="newPubLoader" ng-disabled="newPubLoader">Опубликовать</button>    
		</div>       
	</div>
	<p class="publication-text"><span>* </span>{{ publishNewPubErr ? 'В публикации обязательны текст и файл' : 'Для создания публикации обязательным является добавление фото или видео'}} </p>
</div>