<h5>Редактировать публикацию</h5>
<div class="publication" flow-init flow-name="flowObj.flow" flow-files-submitted="addedEditedPubFiles( $files, $event, $flow )">
	<div class="publication-item">
		<a class="user" ui-sref="user({username: loggedUser})"  ng-click="closePopup()">
			<span class="ava">
				<img src="{{currPub.user.avatar_path}}" alt="">				
			</span>
			<p class="user-name">{{currPub.user.first_name}} {{currPub.user.last_name}}</p>
		</a>
		<!-- <form action="">
			<input type="checkbox" id="anon" ng-model="currPub.isAnonPub">
			<label for="anon">
				<span></span>
				Анонимная публикация
			</label>
		</form> -->
	</div>
	<div class="text-field">
		<!-- <textarea name="" id="" placeholder="Текст публикации..." ng-model="currPub.text"></textarea> -->
		<input type="text" class="pubText edit-publication-pub-text" data-emojiable="true" name="">
		
	</div>		
		<div class="new-add" ng-scrollbar rebuild-on="rebuildScroll" style="max-height: 200px; overflow:hidden; position:relative;" ng-init="editedPubFiles(currPub)">
			<div class="new-img" ng-repeat="file in editedPubFilesArray">		  
				<div class="inner">
					<div class="close" ng-click="editedPubDeletePhoto($index, file.id)">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>					
					<img ng-src="{{file.url}}"> 
					<!-- <div class="check" ng-click="setMainPubPhoto(file)" style="{{$index === 0  ? 'display:block;' : ''}}">	
						<div class="check-inner">
							<p>{{mainPubPhoto === file.file.name ? 'Заставка публикации' : 'Сделать заставкой публикации'}}</p>
						</div>
					</div> -->
				</div>
				<p class="img-name">{{file.name}}</p>
			</div>

			<div class="new-img" ng-repeat="file in $flow.files">		  
				<div class="inner">
					<div class="close" ng-click="deletePubFile(file.name, $flow.files)">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img flow-img="file" > 
					<!-- <div class="check" ng-click="setMainPubPhoto(file)" style="{{mainPubPhoto === file.file.name ? 'display:block;' : ''}}">	ng-show="fileTypeCheck(file.file.type)"			
						<div class="check-inner">
							<p>{{mainPubPhoto === file.file.name ? 'Заставка публикации' : 'Сделать заставкой публикации'}}</p>
						</div>
					</div> -->
				</div>
				<p class="img-name">{{file.name}}</p>
			</div>

		</div>
	<div class="publication-footer" >
		<div class="add-objects"> 
			<input type="file" style="display:none;" id="edited-pub-add-object" flow-btn multiple/>			  
			<label for="edited-pub-add-object">
				<span class="add"></span>
				Добавить фото или видео *
			</label>                                         
		</div>
		<div class="publication-footer-button">
			<a href="" class="cansel" ng-click="closePopup();">Отменить</a>  
			<a href="" class="publication-button" ng-click="saveEditedPub(currPub.id, currPub.text, $flow.files);" ladda="updatePubLoader">Сохранить</a>    
		</div>       
	</div>
	<p class="publication-text"><span>*</span> Для создания публикации обязательным является добавление фото или видео</p>
</div> 