<h5>Редактировать публикацию</h5>
<div class="publication" flow-init>
	<div class="publication-item">
		<a class="user" ui-sref="user({username: loggedUser})">
			<span class="ava">
				<img src="{{currPub.user.avatar_path}}" alt="">				
			</span>
			<p class="user-name">{{currPub.user.first_name}} {{currPub.user.last_name}}</p>
		</a>
		<form action="">
			<input type="checkbox" id="anon" ng-model="isAnonPub">
			<label for="anon">
				<span></span>
				Анонимная публикация
			</label>
		</form>
	</div>
	<div class="text-field">
		<textarea name="" id="" placeholder="Текст публикации..." ng-model="currPub.text"></textarea>
		<div class="smiles">
			<div class="smiles-item"></div>
			<div class="smile">
				<div class="smile-item">
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>		
		<div class="new-add" ng-scrollbar is-bar-shown="pubFilesNeedScroll" rebuild-on="rebuild:me" style="max-height: 200px; overflow:hidden; position:relative;" ng-init="editedPubFiles(currPub, $flow.files)">
			<div class="new-img" ng-repeat="file in editedPubFilesArray">		  
				<div class="inner">
					<div class="close" ng-click="deletePubFile(file.name, $flow.files)">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<!-- <img flow-img="file" ng-show="fileTypeCheck(file.file.type)">  -->
					<img ng-src="{{file.url}}"> 
					<div class="check" ng-click="setMainPubPhoto(file)" style="{{$index === 0  ? 'display:block;' : ''}}">				
						<div class="check-inner">
							<p>{{mainPubPhoto === file.file.name ? 'Заставка публикации' : 'Сделать заставкой публикации'}}</p>
						</div>
					</div>
				</div>
				<p class="img-name">{{file.name}}<!-- ненаглядненькаааяяя --></p>
			</div>
		</div>
	<div class="publication-footer" >
		<div class="add-objects"> 
			<input type="file" id="add-object" flow-btn multiple/>  
			<label for="add-object" ng-click="openPublicationPreviewBlock($flow.files)">
				<span class="add"></span>
				Добавить фото или видео *
			</label>                                         
		</div>
		<div class="publication-footer-button">
			<a href="" class="cansel" ng-click="closePopup();">Отменить</a>  
			<a href="" class="publication-button" ng-click="publishNewPub(pubText, isAnonPub, $flow.files);" ladda="">Сохранить</a>    
		</div>       
	</div>
	<p class="publication-text"><span>*</span> Для создания публикации обязательным является добавление фото или видео</p>
</div> 