<div class="contacts-off-container">
    <a href="javascript:void(0);" ng-click="returnToBack()" class="prev"></a>

    <div class="subscriber" ng-repeat="subscriber in subscribers">
        <div class="subscriber-item">
            <div class="user-ava">
                <a class="ava" ui-sref="user({username: subscriber.login})" ng-click="closePopup()">
                    <img ng-if="subscriber.avatar_path" ng-src="{{subscriber.avatar_path}}" alt="">
                </a>
            </div>
            <div class="user-info">
                <div class="user-info__user">
                    <a ui-sref="user({username: subscriber.login})" ng-click="$event.stopPropagation()">
                        {{::subscriber.first_name}} {{::subscriber.last_name}}
                    </a>
                </div>
                <div class="user-info__status" ng-if="subscriber.user_quote">{{::subscriber.user_quote}}</div>
                <div class="user-info__online">{{::subscriber.is_online ? 'В сети' : 'Не в сети'}}</div>
            </div>
        </div>
        <a href class="read"
           ng-if="!subscriber.is_confirmed"
           ng-click="confirmSubscriber(subscriber)">Подтвердить</a>
        <a href="javascript:void(0);" class="read"
           ng-if="!myProfile"
           ng-click="subscribe(subscriber)"
           ng-hide="loggedUserId == subscriber.id">{{subscriber.is_sub ? 'Отписаться' : 'Подписаться'}}</a>
    </div>
</div>