<h5>Новая публикация</h5>
<div class="publication" flow-init flow-name="flowObj.flow" flow-files-submitted="pubFiles( $files, $event, $flow )" flow-file-added="checkFileAmount($file, $event, $flow)">
	<div class="publication-item">
		<a class="user" ui-sref="user({username: loggedUser})">
			<span class="ava">
				<img src="{{userData.avatar_path}}" alt="">
			</span>
			<p class="user-name">{{userData.first_name}} {{userData.last_name}}</p>
		</a>
		<form action="">
			<input type="checkbox" id="anon" ng-model="isAnonPub">
			<label for="anon">
				<span></span>
				Анонимная публикация
			</label>
		</form>
	</div>
	<div class="text-field">
		<textarea name="" id="" placeholder="Текст публикации..." ng-model="pubText"></textarea>
		<div class="smiles">
			<div class="smiles-item"></div>
			<div class="smile">
				<div class="smile-item">
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
					<div class="inner">
						<a href="">
							<img src="../../../images/smil-hover.png" alt=""> 
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>		
		<div class="new-add" ng-show="showPubAdd" ng-scrollbar is-bar-shown="pubFilesNeedScroll" rebuild-on="rebuild:me" style="max-height: 200px; overflow:hidden; position:relative;">		  
			<div class="inner" ng-repeat="file in $flow.files">
				<div class="close" ng-click="deletePubFile(file.name, $flow.files)">
					<div class="close-inner">
						<p>Удалить</p>
					</div>
				</div>
				<img flow-img="file" ng-show="fileTypeCheck(file.file.type)"> 
				<div class="check" ng-click="setMainPubPhoto(file)" style="{{mainPubPhoto === file.file.name ? 'display:block;' : ''}}">				
					<div class="check-inner">
						<p>{{mainPubPhoto === file.file.name ? 'Заставка публикации' : 'Сделать заставкой публикации'}}</p>
					</div>
				</div>
			</div>
		</div>
	<div class="publication-footer" >
		<div class="add-objects"> 
			<input type="file" id="add-object" flow-btn multiple/>  
			<label for="add-object" ng-click="openPublicationPreviewBlock($flow.files)">
				<span class="add"></span>
				Добавить фото или видео *
			</label>                                         
		</div>
		<div class="publication-footer-button">
			<a href="" class="cansel" ng-click="closePopup();">Отменить</a>  
			<a href="" class="publication-button" ng-click="publishNewPub(pubText, isAnonPub, $flow.files);" ladda="newPubLoader">Опубликовать</a>    
		</div>       
	</div>
	<p class="publication-text"><span>*</span> Для создания публикации обязательным является добавление фото или видео</p>
</div> 