<div class="share-publication-title">
	Переслать публикацию
</div>
<div class="share-publication-menu-wrap">
	<div class="share-publication-menu-wrap-inner">
		<a href="javascript:void(0);" class="share-publication-menu-item active">Пользователи</a>
		<a href="javascript:void(0);" class="share-publication-menu-item">Групповые чаты</a>
		<a href="javascript:void(0);" class="share-publication-menu-item">Группы</a>
		<a href="javascript:void(0);" class="share-publication-menu-item">Места</a>
	</div>
</div>
<div class="share-publication-search-wrap">
	<div class="share-publication-search-input">
		<input type="text" placeholder="Поиск...">
	</div>
	<div class="share-publication-search-data">
		<div class="share-publication-search-sign">Я подписан</div>
		<div ng-repeat="subscription in subscriptions" class="share-publication-search-data-item">
			<span><input class="share-publication-checkbox" type="checkbox"></span>
			<div class="share-publication-search-data-info">
				<div class="share-publication-search-data-ava">
					<a ui-sref="user({username: subscription.login})" href="javascript:void(0);">
						<img ng-src="{{subscription.avatar_path}}" alt="">
					</a>
				</div>
				<span class="share-publication-search-data-name">{{subscription.first_name}} {{subscription.last_name}}</span>
			</div>
		</div>
		<div class="share-publication-search-sign">Подписчики</div>
		<div ng-repeat="subscriber in subscribers" class="share-publication-search-data-item">
			<span><input class="share-publication-checkbox" type="checkbox"></span>
			<div class="share-publication-search-data-info">
				<div class="share-publication-search-data-ava">
					<a ui-sref="user({username: subscriber.login})" href="javascript:void(0);">
						<img ng-src="{{subscriber.avatar_path}}" alt="">
					</a>
				</div>
				<span class="share-publication-search-data-name">{{subscriber.first_name}} {{subscriber.last_name}}</span>
			</div>
		</div>
	</div>
	<div class="share-publication-send-btn">
		<div class="share-publication-send-btn-cancel">Отменить</div>
		<div class="share-publication-send-btn-send">Отправить</div>
	</div>
</div>