<div class="share-publication-title">
	Переслать публикацию
</div>
<div class="share-publication-menu-wrap">
	<div class="share-publication-menu-wrap-inner">
		<a href="" class="share-publication-menu-item active">Пользователи</a>
		<a href="" class="share-publication-menu-item">Групповые чаты</a>
		<a href="" class="share-publication-menu-item">Группы</a>
		<a href="" class="share-publication-menu-item">Места</a>
	</div>
</div>
<div class="share-publication-search-wrap">
		<div class="share-publication-search-input">
			<input type="text" placeholder="Поиск...">
		</div>
		<div class="share-publication-search-data">
			<div class="share-publication-search-sign">
				Я подписан
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
			<div class="share-publication-search-sign">
				Подписчики
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
			<div class="share-publication-search-data-item">
				<span><input class="share-publication-checkbox" type="checkbox"></span>
				<div class="share-publication-search-data-info">
					<div class="share-publication-search-data-ava">
						<a href="">
							<img src="https://pbs.twimg.com/profile_images/708664863535398912/H6FEoTRL.jpg" alt="">
						</a>
					</div>
					<span class="share-publication-search-data-name">
						Елена Новикова
					</span>
				</div>
			</div>
		</div>
		<div class="share-publication-send-btn">
			<div class="share-publication-send-btn-cancel">Отменить</div>
			<div class="share-publication-send-btn-send">Отправить</div>
		</div>
</div>