
<div ng-controller="userCtrl">	
	<header>
		<div class="header header-user">
			<a class="logo" href=""></a>
			<div class="main-menu">
				<a class="drop-menu" href=""></a>
				<div class="menu-item">
					<a class="profile" ui-sref="user({username: username})">Мой профиль</a>
					<a class="places" href="">Места</a>
					<a class="chat" href=""> Чаты</a>
					<a class="settings" href="">Настройки</a>
					<div class="search">
						<input type="text" placeholder="Поиск...">
						<span class="button"></span>
					</div>
				</div>
			</div>
			<div class="search">
				<input type="text" placeholder="Поиск...">
				<span class="button"></span>
			</div>
			<a class="exit" href="javascript:void(0);" ng-click="logOut()"><span></span>Выйти</a>
		</div>
	</header>
	<div class="content-user">		
		<div id="user-page">
			<div class="my-profile">
				<div class="ava">
					<a href="">
						<img src="images/picture.jpg" alt="">
					</a>
				</div>
				<div class="my-profile-item"> 
					<a class="user-name" href="">{{userData.first_name}} {{userData.last_name}}</a>
					<div class="counts">
						<a href="" class="counter">
							<p class="notes">Публикации</p>
							<span>41</span>
						</a>
						<a href="" class="counter">
							<p class="contacts">Контакты</p>
							<span>417</span>
						</a>
						<a href="" class="counter">
							<p class="contacts-off">Подписчиков</p>
							<span>4169</span>
						</a>
						<a href="" class="counter">
							<p class="contacts-on">Я подписан</p>
							<span>41</span> 
						</a>
					</div>
					<div class="comunications">
						<a href="" class="create">Создать публикацию</a>
						<a href="" class="rewrite">Редактировать</a>
						<div class="view">
							<a href="" class="table active"></a>
							<a href="" class="list"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="comunications adaptiv">
				<a href="" class="create">Создать публикацию</a>
				<a href="" class="rewrite">Редактировать</a>
				<div class="view">
					<a href="" class="table active"></a>
					<a href="" class="list"></a>
				</div>
			</div>						
			<div class="my-photos">
				<div class="photo" ng-repeat="num in [0,1,2,3,4,5,6,7]" style="{{resizeSizes}}">				
					<a href="">
						<img src="images/pic.png" alt="">
						<span class="video" ng-show="$index==0"></span>
					</a>
				</div>
			</div> 


			<div class="my-photos-list">
				<div class="photo-list" ng-repeat="num in [0,1,2,3,4,5,6,7]" style="{{resizeSizes}}">				
					<a href="">
						<img src="images/pic.png" alt="">
						<span class="video" ng-show="$index==0"></span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
	<footer ng-include="'../app/common/views/auth_footer.html'"></footer>
</div>