<div ng-controller="userCtrl">	
	<header>
		<div class="header header-user">
			<a class="logo" href=""></a>
			<div class="main-menu">			
				<a class="drop-menu" href="" ng-click="openMenu();" ng-class="showMenu ? 'show-menu' : ''" ng-init="showMenu=true;"></a>
				<div class="menu-item" ng-show="showMenu">
					<a class="profile" ui-sref="user({username: userData.login})">Мой профиль</a>
					<a class="places" href="">Места</a>
					<a class="chat" href=""> Чаты</a>
					<a class="settings" href="">Настройки</a>
					<div class="search">
						<input type="text" placeholder="Поиск...">
						<span class="button"></span>
					</div>
				</div>
			</div>
			<div class="search">
				<input type="text" placeholder="Поиск...">
				<span class="button"></span>
			</div>
			<a class="exit" href="javascript:void(0);" ng-click="logOut()"><span></span>Выйти</a>
		</div>
	</header>
	<div class="content-user">		
		<div id="user-page">
			<div class="my-profile">
				<div class="ava">
					<a href="">
						<img src="{{userData.avatar_path}}" alt="">
					</a>
				</div>
				<div class="my-profile-item"> 
					<div class="user-status">
						<a class="user-name" href="">{{userData.first_name}} {{userData.last_name}}</a>
						<p>{{userData.is_online ? 'Online' : 'Offline'}}</p>
					</div>
					
					<div class="counts">
						<a href="" class="counter">
							<p class="notes">Публикации</p>
							<span>41</span>
						</a>
						<a href="" class="counter">
							<p class="contacts">Контакты</p>
							<span>417</span>
						</a>
						<a href="" class="counter">
							<p class="contacts-off">Подписчиков</p>
							<span>4169</span>
						</a>
						<a href="" class="counter">
							<p class="contacts-on">Я подписан</p>
							<span>41</span> 
						</a>
					</div>
					<!-- <p class="status-user">Мудрый понимает, что агрессия другого человека — это его просьба о Любви...</p> -->
					<div class="comunications">
						<a href="" class="create">Создать публикацию</a>
						<a href="" class="rewrite">Редактировать</a>
						<div class="view" ng-init="photosGrid=true;">
							<a href="" ng-class="photosGrid ? 'active' : ''" class="table" ng-click="photosGrid=true;"></a>
							<a href="" ng-class="!photosGrid ? 'active' : ''" class="list" ng-click="photosGrid=false;"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- <p class="status-user adaptiv">Мудрый понимает, что агрессия другого человека — это его просьба о Любви...</p> -->
			<div class="comunications adaptiv">
				<a href="" class="create">Создать публикацию</a>
				<a href="" class="rewrite">Редактировать</a>
				<div class="view">
					<a href="" ng-class="photosGrid ? 'active' : ''" class="table" ng-click="photosGrid=true;"></a>
					<a href="" ng-class="!photosGrid ? 'active' : ''" class="list" ng-click="photosGrid=false;"></a>
				</div>
			</div>
			<!-- unit grid-->						
			<div class="my-photos" ng-show="photosGrid">
				<div class="photo" ng-repeat="num in [0,1,2,3,4,5,6,7]" style="{{resizeSizes}}">				
					<a href="">
						<img src="images/pic.png" alt="">
						<span class="video" ng-show="$index==0"></span>
					</a>
				</div>
			</div>
			<!-- single unit -->
			<div class="my-photos-list" ng-show="!photosGrid">
				<div class="photo-list" ng-repeat="num in [0,1,2,3,4,5,6,7]" style="{{resizeHeight}}">				
					<a href="">
						<img src="images/pic.png" alt="">
						<span class="video" ng-show="$index==1"></span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
	<footer>
		<div class="footer">
		    <div class="footer-item">
		                <div class="footer-place">
		                    <a href="">Place People </a>
		                    <span>© 2016</span>
		                </div>
		                <div class="payment">
		                    <a class="mastercard" href=""></a>
		                    <a class="visa" href=""></a>
		                </div>
		    </div>
		    <div class="menu" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'open-bottom-menu' : ''" ng-init="showBottomMenu=true;">
		        <a class="drop-menu" href="" ></a>
		        <div class="menu-item" ng-show="showBottomMenu">		        	       
		            <a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})">{{staticPage.description}}</a>		            
		        </div>
		    </div>
		</div>
	</footer>
</div>