<div class="user-publication">
	<div class="user-publication-header">
		<div class="user-function">
			<a class="user" ui-sref="user({username: loggedUser})">
				<span class="ava">
					<img src="{{userData.avatar_path}}" alt="">
				</span>
				<p class="user-name">{{userData.first_name}} {{userData.last_name}}</p>
			</a>
			<div class="topic">Тема дня</div>
			<div href="" class="user-menu">
				<div class="menu-item">
					<div class="inner">
						<a href="">Редактировать</a>
						<a href="">Переслать</a>
						<a href="">Получить ссылку</a>
						<a href="">Пожаловаться</a>
						<a href="">Удалить</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="user-publication-content">
		<div class="publication-ava">
			<img src="../../../images/pic1.jpg">
		</div>
		<div class="publication-images">
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item more">
				<p class="counter">Еще<br> 94 фото</p>
			</div>
			
		</div>
		<!-- <div class="publication-images">
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>	
		</div> -->
	</div>
</div> 