<div class="user-publication-bg"></div>
<div class="user-publication">
	<div class="user-publication-header">
		<div class="user-function">
			<a class="user" ui-sref="user({username: loggedUser})">
				<span class="ava">
					<img src="{{userData.avatar_path}}" alt="">
				</span>
				<p class="user-name">{{userData.first_name}} {{userData.last_name}}</p>
			</a>
			<!-- <div class="topic">Тема дня</div> -->
			<div class="user-menu" ng-click="showPubMenu=!showPubMenu">				
				<div class="menu-item" ng-show="showPubMenu">
					<div class="inner">
						<a href="" ng-click="editPub(singlePublication)">Редактировать</a>
						<a href="" ng-click="sharePub(singlePublication)">Переслать</a>
						<a href="" ng-click="getPubLink(singlePublication)">Получить ссылку</a>
						<a href="" ng-click="alertPub(singlePublication)">Пожаловаться</a>
						<a href="" ng-click="deletePub(singlePublication)">Удалить</a>
					</div>
				</div>
			</div>
		</div>
		<a href="javascript:void(0);" ng-click="returnToBack()" class="return">Назад</a>
	</div>
	<div class="user-publication-content">
		<div class="publication-ava">
			<img ng-src="{{mainImage}}">
		</div>
		<div class="publication-images" ng-scrollbar rebuild-on="loadPubFiles" style="max-height:262px; overflow:hidden; position:relative;" ng-hide="singlePublication.images.length === 1">		
			<div ng-click="changeMainImage(image)" ng-repeat="image in singlePublication.images | limitTo: limit as results" class="images-item">
				<img ng-src="{{image.url}}">
			</div>
			<div ng-repeat="video in singlePublication.videos" class="images-item">
				<video controls ngf-src="video.url"></video>
			</div>
			<div ng-hide="results.length === singlePublication.images.length" class="images-item more" ng-click="loadMorePubFiles(results.length === singlePublication.images.length)">
				<p class="counter">Еще<br> {{singlePublication.images.length - limit}} фото</p>
			</div>
		</div> 
		<p class="publication-text">{{singlePublication.text}}</p>
		<a href="javascript:void(0);" class="publication-place">г. Лондон</a>
	</div>
	<div class="likes">
		<div class="likes-item">
			<a href="javascript:void(0);" ng-click="addPublicationLike(singlePublication, singlePublication.user.id == loggedUserId)" class="like">Тема</a>
			<p class="like-item">
				В теме 
				<span ng-if="singlePublication.user_like" class="you"> Вы </span>
				<span ng-if="singlePublication.user_like" class="more">и еще</span>
				<span class="count-like">{{singlePublication.user_like ? singlePublication.like_count - 1 : singlePublication.like_count}}</span>
				чел.
			</p>
		</div>
		<a href="javascript:void(0);" class="comments-count">{{singlePublication.comment_count}}</a>
	</div>
	<div class="more-comments" ng-if="singlePublication.comments.length !== singlePublication.comment_count">
		<a href="javascript:void(0);" ng-click="getAllCommentsPublication('viewPage', singlePublication, true)" class="all-comments">Еще {{singlePublication.comment_count - 3}} комментариев</a>
	</div>
	<div ng-hide="singlePublication.comments.length === 0" class="visible-comments">
		<div ng-repeat="comment in singlePublication.comments | reverse" class="user-comment">
			<div class="user-ava">
				<a class="ava" ui-sref="user({username: loggedUser})">
					<img ng-src="{{comment.user.avatar_path}}" alt="">
				</a>
			</div>
			<div class="comment">
				<div class="user-info">				
					<div class="info-item">
						<a class="user-name" ui-sref="user({username: comment.user.login})">{{comment.user.first_name}} {{comment.user.last_name}}</a>
						<p class="time" am-time-ago="comment.created_at"></p>
						<a href="javascript:void(0);" ng-click="addCommentLike(comment)" class="like-counter">{{comment.like_count}}</a>
					</div>
					<a href="javascript:void(0);" ng-click="deleteComment('viewPage', singlePublication, comment, $index)" class="alert"><!-- Пожаловаться{{hideSomePubText ? 'Пожаловаться':''}} --></a>
				</div>
				<p class="comment-item">{{comment.text}}</p>
				<div ng-if="comment.images[0]" class="comment-pic">
					<a ng-repeat="image in comment.images | limitTo: 3 as results" ng-click="showMoreImages(comment.images)" href="javascript:void(0);" class="comment-pic-item">
						<img ng-src="{{image.url}}">
					</a>
					<a ng-show="comment.images.length >= 4" href="javascript:void(0);" ng-click="showMoreImages(comment.images)" class="comment-pic-item">
						<p>Ещё {{comment.images.length - 3}} фото</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="add-comment">
		<div class="user-ava">
			<a class="ava" ui-sref="user({username: loggedUser})">
				<img src="{{userData.avatar_path}}" alt="">
			</a>
		</div>
		<div flow-init style="position:relative;" class="add">
			<div class="text-field">
				<textarea name="" id="" placeholder="Текст комментария..." ng-model="commentModel.pubText"></textarea>
				<!-- <div class="smiles">
					<div class="smiles-item"></div>
					<div class="smile">
						<div class="smile-item">
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
						</div>
					</div>
				</div> -->
			</div>	
			<div class="new-add">
				<div class="new-img" ng-repeat="file in $flow.files">
					<div class="inner">
						<div ng-click="file.cancel()" class="close">
							<div class="close-inner">
								<p>Удалить</p>
							</div>
						</div>
						<img flow-img="file">
					</div>
					<p class="img-name">{{file.name}}</p>
				</div>
			</div>
			<div class="publication-footer" >
				<div class="publication-footer-button">
					<a href="javascript:void(0);" ng-click="addNewComment('viewPage', singlePublication, commentModel.pubText, $flow)" class="publication-button">Отправить</a>    
				</div>
				<div class="add-objects"> 
					<input type="file" id="add-object" flow-btn>  
					<label for="add-object">
						Прикрепить
						<span class="add"></span>
					</label>                                         
				</div>   
			</div>
		</div>
	</div>
</div>