<div class="user-publication">
	<div class="user-publication-header">
		<div class="user-function">
			<a class="user" ui-sref="user({username: loggedUser})">
				<span class="ava">
					<img src="{{userData.avatar_path}}" alt="">
				</span>
				<p class="user-name">{{userData.first_name}} {{userData.last_name}}</p>
			</a>
			<div class="topic">Тема дня</div>
			<div href="" class="user-menu">
				<div class="menu-item">
					<div class="inner">
						<a href="" ng-click="editPub(pub)">Редактировать</a>
						<a href="" ng-click="sharePub(pub)">Переслать</a>
						<a href="" ng-click="getPubLink(pub)">Получить ссылку</a>
						<a href="" ng-click="alertPub(pub)">Пожаловаться</a>
						<a href="" ng-click="deletePub(currentPub)">Удалить</a>
					</div>
				</div>
			</div>
		</div>
		<a href="" class="return">Назад</a>
	</div>
	<div class="user-publication-content">
		<div class="publication-ava">
			<img src="../../../images/pic1.jpg">
		</div>		
		<div class="publication-images" ng-hide="morePubFiles">
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>			
			<div class="images-item more" ng-click="loadMorePubFiles()">
				<p class="counter">Еще<br> 94 фото</p>
			</div>
			<!-- is-bar-shown="true" -->
		</div>
		<div class="publication-images" ng-show="morePubFiles" ng-scrollbar rebuild-on="loadPubFiles" style="max-height:262px; overflow:hidden; position:relative;">			
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>
			<div class="images-item">
				<img src="../../../images/pic1.jpg">
			</div>	
		</div> 
		<p class="publication-text">В Лондоне запустили новую ветку метро. Очень красиво. Дизайнеры и архитекторы постарались на славу!</p>
		<a href="" class="publication-place">г. Лондон</a>
	</div>
	<div class="likes">
		<div class="likes-item">
			<a href="" class="like">Тема</a>
			<p class="like-item">
				В теме 
				<span class="you"> Вы </span>
				<span class="more">и еще</span>
				<span class="count-like"> 210 </span>
				чел.
			</p>
		</div>
		<a href="" class="comments-count">
			3
		</a>
	</div>
	<div class="more-comments">
		<a href="" class="all-comments">Еще 8 комментариев</a>
	</div>
	<div class="visible-comments">
		<div class="user-comment">
			<div class="user-ava">
				<a class="ava" ui-sref="user({username: loggedUser})">
					<img src="{{userData.avatar_path}}" alt="">
				</a>
			</div>
			<div class="comment">
				<div class="user-info">				
					<div class="info-item">
						<a class="user-name" ui-sref="user({username: loggedUser})">{{userData.first_name}} {{userData.last_name}}</a>
						<p class="time">Вчера, 21:59</p>
						<a href="" class="like-counter">3</a>
					</div>
					<a href="" class="alert">{{hideSomePubText ? 'Пожаловаться':''}}</a>
				</div>
				<p class="comment-item">Папа решил проверить дочь 3-х лет, как она знает свои фамилию и имя. Подходит в универсаме и с невозмутимым видом спрашивает ребёнка: — Девочка, ты кто? Ребёнок с ужасом и слезами на глазах: — Конфетка твоя ненаглядненькаааяяя…</p>
			</div>
		</div>
		<div class="user-comment">
			<div class="user-ava">
				<a class="ava" ui-sref="user({username: loggedUser})">
					<img src="{{userData.avatar_path}}" alt="">
				</a>
			</div>
			<div class="comment">
				<div class="user-info">
					<div class="info-item">
						<a class="user-name" ui-sref="user({username: loggedUser})">{{userData.first_name}} {{userData.last_name}}</a>
						<p class="time">Вчера, 21:59</p>
						<a href="" class="like-counter">3</a>
					</div>
					<a href="" class="alert">{{hideSomePubText ? 'Пожаловаться':''}}</a>
				</div>
				<p class="comment-item">Папа решил проверить дочь 3-х лет, как она знает свои фамилию и имя. Подходит в универсаме и с невозмутимым видом спрашивает ребёнка: — Девочка, ты кто? Ребёнок с ужасом и слезами на глазах: — Конфетка твоя ненаглядненькаааяяя…</p>
			</div>
		</div>
		<div class="user-comment">
			<div class="user-ava">
				<a class="ava" ui-sref="user({username: loggedUser})">
					<img src="{{userData.avatar_path}}" alt="">
				</a>
			</div>
			<div class="comment">
				<div class="user-info">
					<div class="info-item">
						<a class="user-name" ui-sref="user({username: loggedUser})">{{userData.first_name}} {{userData.last_name}}</a>
						<p class="time">Вчера, 21:59</p>
						<a href="" class="like-counter">3</a>
					</div>
					<a href="" class="alert">{{hideSomePubText ? 'Пожаловаться':''}}</a>
				</div>
				<p class="comment-item">Папа решил проверить дочь 3-х лет</p>
			</div>
		</div>
	</div>
	<div class="add-comment">
		<div class="user-ava">
			<a class="ava" ui-sref="user({username: loggedUser})">
				<img src="{{userData.avatar_path}}" alt="">
			</a>
		</div>
		<div class="add">
			<div class="text-field">
				<textarea name="" id="" placeholder="Текст комментария..." ng-model="pubText"></textarea>
				<div class="smiles">
					<div class="smiles-item"></div>
					<div class="smile">
						<div class="smile-item">
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
							<div class="inner">
								<a href="">
									<img src="../../../images/smil-hover.png" alt=""> 
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="new-add" ng-scrollbar is-bar-shown="pubFilesNeedScroll" rebuild-on="rebuild:me" style="max-height: 200px; overflow:hidden; position:relative;">		  
				<div class="inner">
					<div class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/pic1.jpg">
				</div>
				<div class="inner">
					<div class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/pic1.jpg">
				</div>
				<div class="inner">
					<div class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/pic1.jpg">
				</div>
				<div class="inner">
					<div class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/pic1.jpg">
				</div>
				<div class="inner">
					<div class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/pic1.jpg">
				</div>
				<div class="inner">
					<div class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/pic1.jpg">
				</div>
			</div>
			<div class="publication-footer" >
				<div class="publication-footer-button">
					<a href="" class="publication-button">Отправить</a>    
				</div>    
				<div class="add-objects"> 
					<input type="file" id="add-object">  
					<label for="add-object">
						Прикрепить
						<span class="add"></span>
					</label>                                         
				</div>   
			</div>
		</div>
	</div>
</div> 
