.settingsss {
	 font-family: "SFUIDisplayMedium";
	  background: #fff;
	  width: 700px;
	  /*border: 1px solid #808080;*/
	 margin: 30px auto 0 auto;
   color:#333;
}
 
.settingsss .h1 {
    font-size: 25px;
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
    font-weight: normal;
    text-decoration: inherit;
    color:#333;
}

.settingsss .set_1 {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	align-items: flex-start;
}

.settingsss .set_2 {
    padding: 10px;
}
.settingsss .img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.settingsss .set_1 .img img {
    width: 100%;
}

.settingsss .change {
    font-size: 14px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    text-decoration: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.settingsss .set_1 .img:hover .change {
	display:flex;
}

.settingsss .text p{
    margin: 0;
}

.settingsss .text a:nth-child(2) {
	color: #039be5;
	font-size: 12px;
}

.settingsss .set_2 p {
	margin-bottom: 0;
}

.settingsss .status,
.settingsss .contact {
	font-size: 14px;
  padding-top: 15px;
}

.settingsss .status span:first-child,
.settingsss .contact span:first-child{
    color: #999;
    font-size: 12px;
}
.settingsss .status span:nth-child(2){
    padding: 0 5px 0 5px;
}

.settingsss .text p input[type="text"] {
    width: 60%;
    margin: 0 5px 20px 0;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
    color: #7e7b7b;
}
.settingsss .text p input[type="submit"] {
    width: 30%;
    height: 30px;
    border: none;
    box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
    background: none;
    border-radius: 5px;
    color: #7e7b7b;
    display: inline-block;
    vertical-align: top;
}

.settingsss .text p:nth-child(2) input[type="submit"] {
    margin-left: 60%;
}

.settingsss .text p textarea {
	width: 89%;
    height: 30px;
    border: none;
    box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
    background: none;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 0 7px 20px 0;
    height: 50px;
    resize: none;
    padding: 5px 5px 0px 5px;
}

.settingsss .text p textarea::-webkit-input-placeholder {
	 color: #7e7b7b;
	 padding-left: 10px;
} 

.settingsss .text p input[type="text"]::-webkit-input-placeholder {
	 color: #7e7b7b;
	 padding-left: 10px;
}   



/*             download avatar                */
.settingsss .add-ava label {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.settingsss  label {
    cursor: default;
}

.settingsss .add-ava label .ava,
.settingsss .add-ava label .add {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsss [ng\:cloak],
.settingsss [ng-cloak],
.settingsss [data-ng-cloak],
.settingsss [x-ng-cloak],
.settingsss .ng-cloak,
.settingsss .x-ng-cloak,
.settingsss .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

.settingsss .add-ava label .add-photo {
    cursor: pointer;
    background-image: none;
    transition: all .3s ease-in-out .1s;
    overflow: hidden;
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
}
.settingsss .add-ava {
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
    background-color:transparent;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.settingsss .add-ava #avatarImg {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    padding: 0 0;
}

/*          download avatar   end    */


/*        checkbox  ios   -      green buttons */
.settingsss .ios-toggle,
.settingsss .ios-toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}

.settingsss .checkbox-label {
	display: inline-block;
	position: relative;
	padding: 10px;
	font-size: 0;
	line-height: 16px;
	width: 13px;
	height:0px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background: #f8f8f8;
	cursor: pointer;
	box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
}

.settingsss .checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  /*box-shadow*/
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
  -moz-box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
  box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
}

.settingsss .checkbox-label:after {
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -300px;
  padding: 10px;
  height: 100%;
  width: 300px;
  text-align: right;
  color: #bfbfbf;
  white-space: nowrap;
}

.settingsss .ios-toggle:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
  -moz-box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
  box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
}

.settingsss .ios-toggle:checked + .checkbox-label:before {
  left: calc(100% - 20px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
}

.settingsss .ios-toggle:checked + .checkbox-label:after {
  content: attr(data-on);
  left: 60px;
  width: 36px;
}


/*        checkbox ios      end  */
@media only screen and (max-width: 700px) {
	.settingsss {
	    width: 100%;
	}
}

@media only screen and (max-width: 668px) {
	.settingsss .set_1 {
	    display: block;
	    width: 100%;
	    text-align: center;
	    padding: 15px 0 15px 0;
	}
	.settingsss .img {
		display: inline-flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 500px) {
	.settingsss .set_2 p {
	    font-size: 14px;
	}
	.settingsss .img {
	    width: 240px;
	    height: 240px;
	}
}

@media only screen and (max-width: 400px) {
	.settingsss .img {
	    width: 210px;
	    height: 210px;
	}
}

@media only screen and (max-width: 360px) {
	.settingsss .set_2 p {
	    font-size: 12px;
	}
	.settingsss .h1 {
	    font-size: 18px;
	}
}