.settingsss {
	 font-family: "SFUIDisplayMedium";
	  background: #fff;
	  width: 700px;
	  /*border: 1px solid #808080;*/
	 margin: 30px auto 0 auto;
          color:#333;
          box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
}
 
.settingsss .h1 {
    font-size: 25px;
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
    font-weight: normal;
    text-decoration: inherit;
    color:#333;
}

.settingsss .set_1 {
    display: flex;
   /* justify-content: space-around;*/
    padding: 15px;/*
    align-items: flex-start;*/
    justify-content: space-between;
    align-items: flex-start;
}

.settingsss .set_2 {
    padding: 10px;
}
.settingsss .img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.settingsss .set_1 .img img {
    width: 100%;
}

.settingsss .change {
    font-size: 14px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    text-decoration: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:flex;
    opacity: 0;
    transition: all .3s ease-in-out .1s;
    border-radius: 50%;
}

.settingsss .set_1 .img:hover .change {
	opacity: 1;
}

.settingsss .text p{
    margin: 0;
}
.settingsss .text {
   width: 50%;
}

.settingsss .text a:nth-child(2) {
     color: #039be5;
    font-size: 12px;
    font-family: "SFUIDisplayLight";
    margin-left: 10px;
}

.settingsss .set_2 p {
	margin-bottom: 0;
}

.settingsss .status,
.settingsss .contact {
	font-size: 14.6px;
        padding-top: 15px;
}

.settingsss .status span:first-child,
.settingsss .contact span:first-child{
    color: #999;
    font-size: 12px;
}
.settingsss .status span:nth-child(2){
    padding: 0 5px 0 5px;
}

.settingsss .text p input[type="text"] {
    // border-radius: 3px 3px 0 0;
    // border: 1px solid #999;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    line-height: 37px;
    height: 37px;
    font-size: 14.6px;
    font-family: Tahoma;
    font-weight: 400;
    background: #fff;
    margin-bottom: 10px;
    transition: all .3s ease-in-out .2s;
    border: none;
    border-bottom: 1px solid #999;
    color: #999;
    border-radius: 0;
}

.settingsss .text p input[type="text"].last_name_set {
    // border-radius:  0 0 3px 3px;
    // border: 1px solid #999;
    border: none;
    border-bottom: 1px solid #999;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    line-height: 37px;
    height: 37px;
    font-size: 14.6px;
    font-family: Tahoma;
    font-weight: 400;
    background: #fff;
    margin-bottom: 10px;
    transition: all .3s ease-in-out .2s;
    margin-bottom: 0;
    color: #999;
    border-top: 0;
     border-radius: 0;
}

.settingsss .text p input[type="submit"] {
    width: 30%;
    height: 30px;
    border: none;
    box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
    background: none;
    border-radius: 5px;
    color: #7e7b7b;
    display: inline-block;
    vertical-align: top;
}

.settingsss .text p:nth-child(2) input[type="submit"] {
    border-radius: 3px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    position: relative;
    display: block;
    background: #ec6045;
    font-size: 14.6px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    
    font-family: "SFUIDisplayMedium";
    box-shadow: none;
    width: auto;
    padding: 0 40px;
    margin: 0 auto;
}

.settingsss .text p:nth-child(2) input[type="submit"]:hover  {
  background: #DA5036;
}

.settingsss .text p textarea {
    border: 1px solid #999;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14.6px;
    line-height: 15px;
    margin: 0 0 20px 0;
    height: 70px;
    resize: none;
    padding: 5px 15px;
    font-family: "SFUIDisplayLight";
    color: #999;
    outline: none;
}

.settingsss .text p textarea::-webkit-input-placeholder {
	 color: #7e7b7b;
	 padding-left: 10px;
} 

.settingsss .text p input[type="text"]::-webkit-input-placeholder {
	 color: #7e7b7b;
	 padding-left: 10px;
}   



/*             download avatar                */
.settingsss .add-ava label .ava img {
  height: 100%;
}


// .settingsss .add-ava label {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     /*overflow: hidden;*/
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     cursor: pointer;
//     z-index: 999999999;
// }
// .settingsss  label {
//     cursor: default;
// }

// .settingsss .add-ava label .ava,
// .settingsss .add-ava label .add {
//     overflow: hidden;
//     width: 100%;
//     height: 100%;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 100%;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.settingsss [ng\:cloak],
.settingsss [ng-cloak],
.settingsss [data-ng-cloak],
.settingsss [x-ng-cloak],
.settingsss .ng-cloak,
.settingsss .x-ng-cloak,
.settingsss .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

// .settingsss .add-ava label .add-photo {
//     cursor: pointer;
//     background-image: none;
//     transition: all .3s ease-in-out .1s;
//     overflow: hidden;
//     width: 0;
//     height: 0;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 100%;
//     border-radius: 50%;
// }
// .settingsss .add-ava {
//     width: 100%;
//     margin-bottom: 10px;
//     height: 100%;
//     background-color:transparent;
//     border-radius: 3px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }

// .settingsss .add-ava #avatarImg {
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     overflow: hidden;
//     position: absolute;
//     z-index: -1;
//     padding: 0 0;
// }

/*          download avatar   end    */


/*        checkbox  ios   -      green buttons */
.settingsss .ios-toggle,
.settingsss .ios-toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}

.settingsss .checkbox-label {
	display: inline-block;
	position: relative;
	padding: 10px;
	font-size: 0;
	line-height: 16px;
	width: 13px;
	height:0px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background: #f8f8f8;
	cursor: pointer;
	box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
        vertical-align: middle;
}

.settingsss .checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  /*box-shadow*/
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
  -moz-box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
  box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
}

/*.settingsss .checkbox-label:after {
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -300px;
  padding: 10px;
  height: 100%;
  width: 300px;
  text-align: right;
  color: #bfbfbf;
  white-space: nowrap;
}
*/
.settingsss .ios-toggle:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
  -moz-box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
  box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
}

.settingsss .ios-toggle:checked + .checkbox-label:before {
  left: calc(100% - 20px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
}

/*.settingsss .ios-toggle:checked + .checkbox-label:after {
  content: attr(data-on);
  left: 60px;
  width: 36px;
}
*/

/*        checkbox ios      end  */
@media only screen and (max-width: 700px) {
	.settingsss {
	    width: 100%;
            margin: 0 auto;
            padding: 20px 0 40px;
            box-shadow:none;
	}
        .settingsss .img {
            width: 250px;
            height: 250px;
        }
        .settingsss .text {
          width: 47%;
        }
}

@media only screen and (max-width: 520px) {
	.settingsss .set_2 p {
	    font-size: 14px;
          margin-top: 5px;
          display: flex;
          align-items: center;
          line-height: 26px;
	}
        .settingsss .checkbox-label {
              margin-left: 10px;
        }
	.settingsss .img {
	    width: 240px;
	    height: 240px;
	}
        .settingsss .img {
          width: 120px;
          height: 120px;
          margin-bottom: 10px;
        }
        .settingsss .set_1 {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .settingsss .text {
          width: 90%;
          text-align: center;
        }
        .settingsss .text p {
          display: flex;
          flex-direction: column;
        }
        .settingsss .h1 {
              margin: 15px 0 5px 0;
              line-height: 25px;
        }
        .settingsss .text a:nth-child(2) {
          margin-left: 0;
        }
        .settingsss .status span.status-text{
              margin-top: -15px;
              line-height: 21px;
        }
        .settingsss .set_2 {
              display: flex;
              flex-direction: column;
              align-items: center;
        }
        .settingsss .set_2 h1 {
          margin: 15px 0 15px 0;
        }
}

// @media only screen and (max-width: 474px) {
//   body .settingsss .set_1 .text p input[type="text"] {
//     border-radius: 3px 3px 0 0;
//   }   
//    body .settingsss .set_1 .text p input[type="text"].last_name_set {
//     border-radius: 0 0 3px 3px ;
//   }
// }

// @media only screen and (max-width: 400px) {
// 	.settingsss .img {
// 	    width: 210px;
// 	    height: 210px;
// 	}
// }

// @media only screen and (max-width: 360px) {
// 	.settingsss .set_2 p {
// 	    font-size: 12px;
// 	}
// 	.settingsss .h1 {
// 	    font-size: 18px;
// 	}
// }


/*added Stasya*/
/*              popup               group              start */
.ngdialog.popup-view-group-publication.ngdialog-theme-default .ngdialog-content {
  background: #fff;
  width: 700px;
  margin-left: -350px;
    margin-top: -150px;
    transition: all .3s ease-in-out .1s;
    padding: 0;
    top: 26.5%;
    height: auto;
    color: #333;
}

.popup_grouppublication_1.popupgroup {
   /* position: fixed;*/
   /* background: rgba(0,0,0,.2);*/
   background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.popup_grouppublication_1.popupgroup .popupgroups_head .popupgroup_function {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

.popup_grouppublication_1.popupgroup .popupgroups_head {
    background: #f5f5f5;
    border-bottom: 1px solid #e0e2e5;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.popup_grouppublication_1.popupgroup .popupgroup_function .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    opacity: 1;
    transition: all .3s ease-in-out .1s;
}

.popup_grouppublication_1.popupgroup .popupgroup_function .user .ava {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.popup_grouppublication_1.popupgroup .popupgroup_function .user .ava img {
  width: 100%;
  height: 100%;
}

.popup_grouppublication_1.popupgroup .popupgroup_function .user .user-name {
    color: #495b79;
    font-size: 14.6px;
    margin: 0 0 0 10px;
    line-height: 30px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popup_grouppublication_1.popupgroup .popupgroups_head .user-menu {
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(../images/user-menu.png);
    background-repeat: no-repeat;
    background-size: 99%;
    background-position: center;
    cursor: pointer;
    transition: all .3s ease-in-out .1s;
}

.popup_grouppublication_1.popupgroup .popupgroups_head .menu-item {
    position: absolute;
    width: 156px;
    top: 20px;
    left: 50%;
    margin-left: -78px;
    padding-top: 20px;
    transition: all .3s ease-in-out .1s;
}

.popup_grouppublication_1.popupgroup .popupgroups_head .menu-item .inner {
    box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
}

.popup_grouppublication_1.popupgroup .popupgroups_head .menu-item a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 35px;
    color: #333;
    cursor: pointer;
    background-color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: "SFUIDisplayMedium";
}

.popup_grouppublication_1.popupgroup .popupgroups_head .return {
    cursor: pointer;
    position: absolute;
    margin: 10px;
    color: #4678b1;
    font-size: 14.6px;
    font-family: "SFUIDisplayMedium";
    width: auto;
    height: 30px;
    right: 0;
    top: 0;
    line-height: 30px;
    transition: all .3s ease-in-out .1s;
    text-decoration: none;
    display: none;
}

.popup_grouppublication_1.popupgroup .popupgroup-publication-content {
    border-bottom: 1px solid #dfe1e4;
}

.popup_grouppublication_1.popupgroup .popupgroup-publication-content .publication-ava {
    width: 100%;
    background-color: rgba(0,0,0,.2);
    height: 395px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    overflow: hidden;
}

.popup_grouppublication_1.popupgroup .popupgroup-publication-content .publication-images {
    display: flex;
    flex-wrap: wrap;
}

.popup_grouppublication_1.popupgroup .publication-images .images-item.more {
    background-color: #495b79;
    color: #fff;
    transition: all .3s ease-in-out .1s;
}

.popup_grouppublication_1.popupgroup .publication-images .images-item {
    width: 97px;
    overflow: hidden;
    height: 85px;
    margin: 0 3.5px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}

.popup_grouppublication_1.popupgroup .images-item.more p {
    margin: 0;
    text-align: center;
    font-size: 10.4px;
    line-height: 15px;
}
.popup_grouppublication_1.popupgroup .popupgroup-publication-content .publication-text {
    padding: 0 15px;
    box-sizing: border-box;
    color: #747476;
    font-size: 14.6px;
    font-family: Tahoma;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.popup_grouppublication_1.popupgroup .popupgroup-publication-content .publication-place {
    display: block;
    text-decoration: none;
    margin: 5px 15px 10px 15px;
    box-sizing: border-box;
    padding-left: 25px;
    color: #495b79;
    font-size: 14.6px;
    font-family: "SFUIDisplayMedium";
    line-height: 15px;
    background-image: url(../images/public-place.png);
    background-position: left center;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out .1s;
}
.popup_grouppublication_1.popupgroup .likes-item .like {
    line-height: 26px;
    display: block;
    text-decoration: none;
    color: #495b79;
    padding: 0 10px 0 25px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #495b79;
    margin-right: 15px;
    background-image: url(../images/like.png);
    background-position: left 5px center;
    background-repeat: no-repeat;
    background-size: 20%;
    font-size: 14px;
    transition: all .3s ease-in-out .1s;
}

.popup_grouppublication_1.popupgroup .likes-item .like-item {
    color: #333;
    font-size: 14.6px;
    font-family: Tahoma;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.popup_grouppublication_1.popupgroup .likes-item .like-item .count-like {
    font-family: "SFUIDisplayMedium";
}

.popup_grouppublication_1.popupgroup .likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 10px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #dfe1e4;
}

.popup_grouppublication_1.popupgroup .likes-item {
    display: flex;
    align-items: center;
}

.popup_grouppublication_1.popupgroup .comments-count {
    color: #333;
    font-size: 14.6px;
    font-family: "SFUIDisplayMedium";
    line-height: 20px;
    margin: 0;
    text-decoration: none;
    padding-right: 30px;
    background-image: url(../images/comment-count.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    transition: all .3s ease-in-out .1s;
}

.popup_grouppublication_1.popupgroup .visible-comments {
    border-bottom: 1px solid #dfe1e4;
}

.popup_grouppublication_1.popupgroup .add-comment_group {
    border-bottom: none;
}
.popup_grouppublication_1.popupgroup .add-comment_group {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
    padding: 10px 15px 10px 0;
    color: #333;
    box-sizing: border-box;
}

.popup_grouppublication_1.popupgroup .add-comment_group .ava {
    display: block;
}

.popup_grouppublication_1.popupgroup .add-comment_group .ava {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.popup_grouppublication_1.popupgroup .add-comment_group .ava img {
    width: 100%;
}

.popup_grouppublication_1.popupgroup .add-comment_group .add {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}

.popup_grouppublication_1.popupgroup .add-comment_group .add .text-field {
    padding: 0 0;
    height: 75px;
    border: none;
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0 35px;
    line-height: 37px;
    border-radius: 2px;
    font-size: 14.6px;
    font-family: Tahoma;
    font-weight: 400;
    background: #fff;
    color: #999;
    border: none;
    margin-bottom: 10px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out .2s;
    min-width: 250px;
}

.popup_grouppublication_1.popupgroup .add-comment_group .add .text-field textarea {
    resize: none;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #e5e7e9;
    font-size: 14.6px;
    color: #999;
    background: transparent;
    padding: 5px 30px 5px 10px;
    box-sizing: border-box;
    font-family: "SFUIDisplayLight";
    height: 75px;
}

.popup_grouppublication_1.popupgroup .add-comment_group .new-add {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.popup_grouppublication_1.popupgroup .add-comment_group .publication-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.popup_grouppublication_1.popupgroup .publication-footer-button {
    display: flex;
}

.popup_grouppublication_1.popupgroup .publication-footer-button .publication-button {
    color: #fff;
    background-color: #495b79;
    border-radius: 3px;
    margin-left: 0;
    border: 1px solid #495b79;
    transition: all .3s ease-in-out .1s;
}
.popup_grouppublication_1.popupgroup .publication-footer-button a {
    text-decoration: none;
    font-size: 14.6px;
    font-family: "SFUIDisplayMedium";
    line-height: 30px;
    padding: 0 10px;
    transition: all .3s ease-in-out .1s;
}

.popup_grouppublication_1.popupgroup .publication-footer #add-object {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    padding: 0 0;
    width: 120px;
    height: 40px;
}

.popup_grouppublication_1.popupgroup .publication-footer .add-objects label {
    color: #495b79;
    font-size: 14px;
    font-family: "SFUIDisplayMedium";
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.popup_grouppublication_1.popupgroup .add-comment_group .publication-footer .add-objects
 label span.add {
    width: 40px;
    padding-left: 0;
    background-image: url(../images/clip.png);
    background-position: right center;
    background-size: 60%;
    box-sizing: border-box;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out .1s;
}

// .popup-view-group-publication .ngdialog.ngdialog-theme-default .ngdialog-close {
//     border-radius: 5px;
//     cursor: pointer;
//     position: absolute;
//     right: 0;
//     top: 0;
// }

.ngdialog.popup-view-group-publication.ngdialog-theme-default .ngdialog-close:before {
    color: #333;
}
.ngdialog.popup-view-group-publication.ngdialog-theme-default .ngdialog-close:hover:before {
    color: #bbb;
}

@media (max-width: 700px) {
  .ngdialog.popup-view-group-publication.ngdialog-theme-default .ngdialog-content {
    width: 100%;
    height: 100%;
    margin-left: -50%;
      margin-top: 0;
      top: 0;
  }
  .popup_grouppublication_1.popupgroup .add-comment_group .add .text-field {
      padding: 10px;
  }

}

@media (max-width: 520px) {
  .popup_grouppublication_1.popupgroup .add-comment_group .publication-footer {
      align-items: baseline;
      padding-top: 0;
  }
}

@media (max-width: 400px) {
  .popup_grouppublication_1.popupgroup .add-comment_group .publication-footer {
      justify-content: inherit;
      align-items: flex-start;
      flex-direction: column;
  }
}


/*              popup               group            end */

/*added Stasya*/

.ngdialog.popup-add-group.ngdialog-theme-default {
  overflow: auto;
}

.popup-add-group .add_newgroup {
  padding: 15px;
}
.popup-add-group .add_newgroup .typeahead-items {
    position: absolute;
    top: 190px;
    left: 15px;
    background: #FFF;
    width: 248px;
    z-index: 800;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 6px #999;
}
.popup-add-group .add_newgroup .typeahead-items__item {
    display: block;
    height: 40px;
    padding: 4px 8px;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
    position: relative;
}
.popup-add-group .add_newgroup .typeahead-items__item.active{
    background-color: #FFFFFF;
    color:#000000;
}

.popup-add-group .add_newgroup .typeahead-item__title {
    font-size: 18px;
    font-weight: bold;
}

.ngdialog.popup-add-group.ngdialog-theme-default .ngdialog-content {
  background: #fff;
  width: 700px;
  margin-left: -350px;
    margin-top: 0;
    transition: all .3s ease-in-out .1s;
    padding: 0;
    top: 15%; 
    height: auto;
    color: #333;
    padding: 0 !important;
    margin-bottom: 20px;
}
.popup-add-group .add-ava {
    width: 90px;
    height: 85px;
    background-color: #d7dade;
    border-radius: 3px;
    position: relative;
    margin-bottom: 0;
}
.popup-add-group .new_group {
  font-size: 14.6px;
  font-weight: 400;
  line-height: 45px;
  padding-left: 15px;
  background: #f5f5f5;
  margin: 0;
  border-bottom: 1px solid #dcdee2;
  font-family: "SFUIDisplayMedium";
}
.ngdialog.popup-add-group.ngdialog-theme-default  .ngdialog-close {
  width: 20px;
  height: 20px;
  right: 15px;
  top: 15px;
}

.ngdialog.popup-add-group.ngdialog-theme-default .ngdialog-close:before {
  color:#333;
  width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    line-height: 20px;
}
.ngdialog.popup-add-group.ngdialog-theme-default .ngdialog-close:hover:before {
  color: #999;
}
.popup-add-group .ava_group {
    display: flex;
    align-items: center;
}

.popup-add-group .ava_group img.img_ava {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.popup-add-group .ava_group .img_name {
  color: #495b79;
    font-size: 15.6px;
    font-family: "SFUIDisplayMedium";
    margin: 0 0 0 15px;
}

.popup-add-group .add-ava label .add-photo {
    background-image: url(../images/plus_group.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35% 25%;
}
.popup-add-group .add-ava label .ava,.popup-add-group .add-ava label .add {
    overflow: hidden;
    width: 100px;
    height: 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-add-group .add-ava label .add-photo:hover {
    border-radius: inherit;
    box-shadow: inset 10px 10px 35px 8px rgba(225,225,225,1),
    inset -10px -10px 35px 8px rgba(225,225,225,1);
}


.popup-add-group .second_item  {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.popup-add-group .second_item span.add_ava_grp{
    color: #333;
    font-size: 12.5px;
    line-height: 15px;
    margin: 10px 0;
    margin-left: 15px;
}

.third_item {
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 15px 0;
    border: none;
    position: relative;
}  
.popup-add-group .third_item textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #e5e7e9;
    font-size: 14.6px;
    color: #999;
    background: transparent;
    padding: 5px 30px 5px 10px;
    box-sizing: border-box;
    font-family: "SFUIDisplayLight";
}



/*         smile   for group   start    */

.popup-add-group.ngdialog-theme-default .add_newgroup .text-field {
    width: 100%;
    height: 130px;
    margin: 0;
    padding: 15px 0;
    border: none;
    position: relative;
}
.popup-add-group.ngdialog-theme-default .add_newgroup .text-field a.emoji-button {
    top: 20px;
}
.popup-add-group.ngdialog-theme-default .add_newgroup .emoji-wysiwyg-editor {
    height: 85px;
}
.popup-add-group.ngdialog-theme-default .add_newgroup .text-field .emoji-wysiwyg-editor:empty:after {
    content: 'Описание группы ...';
}
.popup-add-group.ngdialog-theme-default .add_newgroup .text-field .emoji-wysiwyg-editor:after {
    content: '';
}
.popup-add-group .smiles {
    position: absolute;
    top: 16px;
    right: 1px;
    width: 30px;
    height: 30px;
}

.popup-add-group .smiles .smiles-item {
    display: block;
    background-image: url(../images/smil.png);
    transition: all .3s ease-in-out .1s;
    background-position: left bottom 6px;
    background-repeat: no-repeat;
    background-size: 65%;
    width: 100%;
    height: 100%;
}
.popup-add-group .smiles .smile  {
    display: none;
    position: absolute;
    top: -205px;
    right: 0;
    width: 200px;
    height: 200px;
    z-index: 9;
    padding-bottom: 15px;
    transition: all .3s ease-in-out .1s;
}

.popup-add-group .smiles .smile .smile-item {
    box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 5px 10px 10px;
    box-sizing: border-box;
}

.popup-add-group .smiles .smile .inner {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
}

.popup-add-group .smiles .smile .inner a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.popup-add-group .smiles .smile .inner a img {
    width: 90%;
}
.popup-add-group .smiles .smiles-item:hover {
     background-image: url(../images/smil-hover.png); 
}
.popup-add-group .smiles:hover .smile {
    display: block;
}


/*         smile     end   */


/*    Checkbox   for group  start   */
.popup-add-group .first_item {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.popup-add-group .checkbox_group {
    width: 145px;
    height: 20px;
    font-size: 14px;
    color: #b0b1b3;
}

.popup-add-group input[type="checkbox"] + label {
    line-height: 20px;
    vertical-align: top;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.popup-add-group input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    background-color:#ec6045;
}
.popup-add-group input[type="checkbox"]:checked + label::before {
    background-image:url(/images/checkbox_group.png);
    background-size: 85% 75%;
    background-position: 70% 50%;
    background-repeat: no-repeat;
}

/*    Checkbox    end  */



.popup-add-group .fourth_item {
  width: 100%;
}

.popup-add-group .fourth_item input[type="text"],
.popup-add-group input[type="text"] {
    width: 100%;
    /*height: 100%;*/
    border-radius: 2px;
    border: 1px solid #e5e7e9;
    line-height: 20px;
    box-sizing: border-box;
  font-size: 14.6px;
    color: #999;
    padding: 10px;
    font-family: "SFUIDisplayLight";
}

.popup-add-group .fifth_item {
  display: flex;
    justify-content: space-between;
}

.popup-add-group .fifth_item .item1 {
  padding: 0;
  margin: 10px 0 0 0;
}
/*.popup-add-group .fifth_item .item1.add-people {
  margin-top: 50px;
}*/
.popup-add-group .fifth_item .item1 li {
  position: relative;
    list-style-type: none;
    font-size: 15.6px;
    font-family: "SFUIDisplayMedium";
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.popup-add-group .fifth_item .item1 li:last-child {
    margin-bottom: 0px;
}
.popup-add-group .fifth_item .item__remove {
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 33px;
    top: 1px;
}
/*.popup-add-group .fifth_item .item__remove:before {*/
    /*background: #ec6045;*/
/*=======*/

/*.popup-add-group .fifth_item .item1 li:before {
  background: #ec6045;
    border-radius: 50%;
    color: #bbb;
    content: '\00D7';
    font-size: 16px;
    font-weight: 400;
    height: 15px;
    line-height: 13px;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0;
    width: 15px;
}*/

.popup-add-group .fifth_item .item1 li img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.popup-add-group .fifth_item .item2 {
  margin-top: 22px;
}

.popup-add-group .fifth_item .item2 a {
  text-decoration: inherit;
  font-size: 15.6px;
    font-family: "SFUIDisplayMedium";
    color: #495b79;
    padding: 5px 10px;
    border-radius: 3px;
} 

.popup-add-group .fifth_item .item2 a.active {
  text-decoration: inherit;
  font-size: 15.6px;
    font-family: "SFUIDisplayMedium";
    background: #495b79;
    color: #fff;
} 
.user-publication-content .publication-ava a {
  width: 100%;
  height: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) {
  .ngdialog.popup-add-group.ngdialog-theme-default .ngdialog-content {
    width:80%;
    margin-left:-40%;
    top: 8%;
  }
  .popup-add-group .fifth_item .item2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 520px) {
  .ngdialog.popup-add-group.ngdialog-theme-default .ngdialog-content {
    width: 96%;
    margin-left: -48%;
  }
  .ngdialog.popup-add-group.ngdialog-theme-default  .ngdialog-close {
    top: -12px;
  }
  .popup-add-group .first_item {
      flex-direction: column;
  }
  .popup-add-group .checkbox_group {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .popup-add-group .fifth_item {
      flex-direction: column;
  }
  .popup-add-group .new_group {
      margin-top: -25px;
  }

  .popup-add-group .fifth_item .item2 {
      text-align: center;
  }
    .popup-add-group .add-ava,
    .popup-add-group .add-ava label .ava,
    .popup-add-group .add-ava label .add {
      width: 70px;
        height: 70px;
    }
    .popup-add-group .second_item span.add_ava_grp {
      margin-left: 5px;
    }
    .popup-add-group .fifth_item .item2 a {
      padding: 5px 7px;
    }
}

/*aded  */
.user-publication .visible-comments.added_comments {
  border:none;
}
a.add_comments {
    text-decoration: inherit;
    color: #a0a0a0;
    padding: 0 0 0px 15px;
    line-height: 50px;
    font-family: SFUIDisplayLight;
    font-size: 14px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.my_profilll.photo-list {
  height: 100%;
  margin-bottom: 30px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
}
// div.my_profilll.photo-list div:last-child{
//   margin-bottom: 20px;
// }
/*aded  */
.set_1 .add-ava {
  width: 50%;
  height: auto;
  background: transparent;
}
.set_1 .add-ava label {
  width: 300px;
  height: 300px;
}
.set_1 .add-ava label .add {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.set_1 .add-ava label .ava {
  width: 100%;
  height: 100%;
}
.set_1 .add-ava label .add.edit-ava {
    margin-left: 0; 
    margin-top: 0; 
}
 .set_1 .add-ava label .add-photo {
      width: 140px;
      height: 140px;
 }
 .add-ava label .add-photo:hover {
      width: 100px;
      height: 100px;
 }
@media only screen and (max-width: 620px) {
    .set_1 .add-ava label {
      width: 230px;
      height: 230px;
    }
    .set_1 .add-ava label .add-photo:hover {
      width: 100px;
      height: 100px;
 }
 .set_1 .add-ava {
      width: 230px;
 }
}








/*05.07.16 Editing "tab-Files"*/

.group-files {
  width: 700px;
  z-index: 1;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 auto 0px auto;
}
.group-files:last-child {
  padding-bottom: 30px;
}
  .group-files-title {
    display: flex;
    box-sizing: border-box;
    background-color: white;
    width: 700px;
    padding: 8px;
    justify-content: flex-start;
    font-size: 14.6px;
    font-family: "SFUIDisplayMedium";
    color: rgb(51,51,51);
  }
  .group-files-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px;
    margin-top: 3px;
    box-sizing: border-box;
  }
    .group-files-content {
      box-sizing: border-box;
      display: flex;
      width: 136px;
      height: 136px;
      margin: 0 3px 3px 0;
      overflow: hidden;
      box-sizing: border-box;
    }
      .group-files a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.1);
      }
      .group-files-content a img {
        display: flex;
        max-width: 200%;
        max-height: 100%;
        width: auto;
        height: auto;
        box-sizing: border-box;
      }










@media (max-width: 720px) {
  .group-files {
    width: 500px;
  }
  .group-files-title {
    width: 500px;
    padding: 5px;
    padding-left: 8px;
    /*font-size: 0.9em;*/
    font-family: "SFUIDisplayMedium";
  }
  .group-files-content {
    width: 97px;
    height: 97px;
    margin: 0 1px 1px 0;
    }

}



@media (max-width: 520px) {
  .group-files {
    width: 100%;
  }
  .group-files-title {
    width: 100%;
    padding: 5px;
    padding-left: 8px;
    /*font-size: 0.9em;*/
    font-family: "SFUIDisplayMedium";
  }
  .group-files-content {
    width: 24.6%;
    padding: 0;
    }
  .group-files-container {
    width: 100%;
    margin: 0;
  }
}





/*Create tab-people*/
.group-peoples {
  width: 700px;
  z-index: 1;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto 0px auto;
  background-color: #fff;
}
.group-peoples-inner {
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 30px 25px;
}
.group-peoples-inner-item {
  display: flex;
  border-bottom: 2px solid #eee;
  width: 100%;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.peoples-inner-item-data {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: center;
}
.peoples-item-photo a {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out .2s;
}
.peoples-item-photo a:hover {
  opacity: .8;
}
.peoples-item-photo a img {
  width: 100%;
  border: 0px;
  transition: all .3s ease-in-out .2s;
}

.peoples-item-name-content {
  margin-left: 10px;
  font-size: 16.7px;
  font-family: "SFUIDisplayMedium";
}
.peoples-item-name-content a {
  text-decoration: none;
  line-height: 25px;
}
.peoples-item-name-content p {
  font-weight: lighter;
  font-size: 13px;
  font-family: "SFUIDisplayLight";
  line-height: 25px;
}
.peoples-item-name-family {
  display: block;
}
.peoples-item-name-family span {
  display: block;
  color: #333;
  transition: all .3s ease-in-out .1s;
}
.peoples-item-name-family span:hover {
  display: block;
  color: #777;;
  transition: all .3s ease-in-out .1s;
}
.peoples-item-name-comment {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 340px;
  text-overflow: ellipsis;
}
.peoples-inner-item-admin {
  display: flex;
  color: red;
  font-size: 14.6px;
  font-family: "SFUIDisplayMedium";
  margin-right: 5px;
}


@media (max-width: 720px) {
  .group-peoples {
    width: 500px;
    margin: 0 auto 0px auto;
  }
  .peoples-inner-item-admin {
    font-size: .95em;
    margin-left: 10px;
  }
  .peoples-item-name-comment {
    max-width: 180px;
    text-overflow: ellipsis;
  }
}



@media (max-width: 520px) {

  .group-peoples {
    width: 100%;
    margin: 0 auto 0px auto;
  }
  .group-peoples-inner {
    width: 100%;
    margin: 5px 0px;
  }
  .peoples-inner-item-admin {
    font-size: .8em;
    margin-right: 0px;
  }
  .peoples-item-name-content {
    font-size: 14.6px;
  }
  .peoples-item-name-comment {
    max-width: 100px;
    text-overflow: ellipsis;
  }
  .peoples-item-photo a {
    width: 40px;
    height: 40px;
  }
}







/*Места*/

/*Создание места*/
.create-places {
  width: 700px;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  margin: 20px auto 0px auto;
}
.create-places h2, h3 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 10px;
  margin-left: 0;
  padding: 0;
  font-family: "SFUIDisplayLight";
  font-size: 22.8px;
  color: rgb(51,51,51);
}
.create-places h3 {
  font-family: "SFUIDisplayLight";
  font-size: 16.8px;
}
.create-places-cont {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: white;
}
.create-places-item {
  display: flex;
  box-sizing: border-box;
  width: 150px;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 20px;
  border: 0;
}
.create-places-item-photo {
  display: flex;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 0;
}
.create-places-item-photo a {
  display: flex;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 0;
  background-color: rgb(215,218,222);
}
.create-places-item-photo a img {
  display: flex;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 0;
}
.create-places-item-name {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-content: center;
}
.create-places-item-name a {
  display: flex;
  margin: 10px auto;
  text-decoration: none;
  color: rgb(73,91,121);
  font-family: "SFUIDisplayLight";
  font-size: 14.6px;
}

.add_newgroup .button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.add_newgroup .button .create {
      text-decoration: none;
    font-size: 14.6px;
    font-family: "SFUIDisplayMedium";
    line-height: 30px;
    padding: 0 10px;
    transition: all .3s ease-in-out .1s!important;
    color: #fff;
    background-color: #495b79;
    border-radius: 3px;
    border: 1px solid #495b79;
    outline: none;
    cursor: pointer;
}
.add_newgroup .button .create:hover {
    background-color: #fff;
    color: #495b79;
}
.add_newgroup .button  .cansel {
    text-decoration: none;
    font-size: 14.6px;
    font-family: "SFUIDisplayMedium";
    line-height: 30px;
    padding: 0 10px;
    transition: all .3s ease-in-out .1s;
    color: #495b79;
}
.add_newgroup .button  .cansel:hover {
  color: #999;
}
.fifth_item .item1 {
  width: 50%;
}
.add_newgroup .item1 input {
    padding: 6px;
    margin-bottom: 5px;
    width: 100%;
    line-height: 30px;
    border: 1px solid #d2dbe3;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 14.6px;
    color: #9aa2ab;
}




/*Редактирование попапа создания группы*/
.popup-add-group input[type="checkbox"] + label::before {
  border-radius: 2px;
}
.fifth_item .item1 {
  width: 100%;
  height: 325px;
  overflow-y: auto;
  margin: 0px;
}
.fifth_item .add-people {
  width: 100%;
  height: 325px;
  margin: 0px;
}
.popup-add-group .fifth_item .item1 li {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
}
.popup-add-group .fifth_item .item1 li p {
  display: flex;
  align-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  max-width: 210px;
  cursor: pointer;
}
.popup-add-group .fifth_item .item1.add-people li p {
  display: flex;
  align-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  max-width: 130px;
}
.popup-add-group .fifth_item .item1 li span.group-add-item1-user-plus {
  display: flex;
  position: absolute;
  right: 5px;
  top: 24px;
}
.popup-add-group .fifth_item .item1 li span img {
  display: flex;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.item1.add-people li span.add-people-delete {
    background: #ec6045;
    border-radius: 50%;
    color: #bbb;
    font-size: 16px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    left: 35px;
    text-align: center;
    top: 0px;
    width: 15px;
    font-size: .695em;
    cursor: pointer;
}
.item1.add-people li span.add-people-admin {
    color: red;
    display: flex;
    position: absolute;
    line-height: 55px;
    right: 15px;
    cursor: pointer;
}
.item1-add-people-title {
  margin: 0;
  line-height: 35px;
  padding: 0;
  padding-left: 15px;
}

.item1-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  box-sizing: border-box;
}
.popup-add-group .fourth_item input[type="text"],
.popup-add-group input[type="text"] {
    width: 100%;
    display: flex;
    /*height: 100%;*/
    border-radius: 2px;
    border: 1px solid #e5e7e9;
    line-height: 20px;
    box-sizing: border-box;
    font-size: 14.6px;
    color: #999;
    padding: 10px;
    font-family: "SFUIDisplayLight";
}
.popup-add-group .fifth_item .item1 {
  padding: 0;
  margin: 10px 0 10px 0;
}
.item1-add-people-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  box-sizing: border-box;
}
.item1-add-people-title {
    line-height: 45px;
    padding-left: 15px;
    margin-top: 0px;
    height: 45px;
}
.fifth_item .item1-container input {
  height: 45px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}
.popup-add-group .fifth_item .item1 li {
  position: relative;
    list-style-type: none;
    font-size: 14.6px;
    font-family: "SFUIDisplayMedium";
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.item1.add-people ul {
  margin: 0;
  padding: 0;
}



@media (max-width: 720px) {
  .popup-add-group .fifth_item .item1 li p {
    max-width: 56%;
    font-size: .8em;
  }
  .item1.add-people li span.add-people-admin {
    line-height: 50px;
    font-size: .8em;
    width: 50px;
    right: 0px;
  }
  .popup-add-group .fifth_item .item1.add-people li p {
    max-width: 41%;
  }
  .add_newgroup .button .create {
    font-size: .8em;
  }
  .add_newgroup .button .cansel {
    font-size: .8em;
  }
  .popup-add-group .fifth_item .item1 li span.group-add-item1-user-plus {
    top: 21px;
  }
  .popup-add-group .fifth_item .item1 li img {
    width: 40px;
    height: 40px;
  }
  .item1.add-people li span.add-people-delete {
    background: #ec6045;
    border-radius: 50%;
    color: #bbb;
    height: 10px;
    line-height: 10px;
    left: 29px;
    top: 5px;
    width: 10px;
    font-size: .5em;
  }
  .popup-add-group .fifth_item .item1 li img {
    margin-right: 8px;
  }
  .item1-add-people-title {
  margin: 0;
  line-height: 45px;
  padding: 0;
  font-size: .8em;
  padding-left: 10px;
  }
  .fifth_item .item1 {
    width: 100%;
    height: 290px;
    overflow-y: auto;
    margin: 0px;
}


}


@media (max-width: 520px) {
  .fifth_item .item1 {
    width: 100%;
  }
  .popup-add-group .fifth_item .item1 li img {
    margin-right: 15px;
  }
  .popup-add-group .fifth_item .item1 li p {
    max-width: 50%;
    font-size: .8em;
  }
  .popup-add-group .fifth_item .item1 li img {
    width: 50px;
    height: 50px;
  }
  .item1.add-people li span.add-people-delete {
    background: #ec6045;
    border-radius: 50%;
    color: #bbb;
    font-size: 16px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    left: 35px;
    text-align: center;
    top: 0px;
    width: 15px;
    font-size: .695em;
    cursor: pointer;
  }
  .item1.add-people li span.add-people-admin {
    line-height: 50px;
    font-size: .7em;
    width: 40px;
  }
  .popup-add-group .fifth_item .item1.add-people li p {
    max-width: 40%;
  }
  .item1-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
  }
  .item1-add-people-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
  }
}



.popup-add-group .add-ava label .ava,.popup-add-group .add-ava label .add {
    height: 100px;
}








/* Pravki (made early)*/
.user-publication-content .publication-text {
    margin-bottom: 12px;
}









/*Чаты*/
.chat-main-container {
  width: 1025px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 100%;
  min-height: 100%;
  margin-top: 30px;
}

.chat-main-container-right {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 100%;
}
.group-menu .user-menu {
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(../images/user-menu.png);
    background-repeat: no-repeat;
    background-size: 99%;
    background-position: center;
    cursor: pointer;
    transition: all .3s ease-in-out .1s;
}
.group-menu .user-menu:hover {
    background-image: url(../images/user-menu-hover.png);
}
.group-menu  .menu-item {
    position: absolute;
    width: 156px;
    top: 20px;
    left: 0;
    padding-top: 20px;
    transition: all .3s ease-in-out .1s;
    z-index: 10;
}
.group-menu .user-menu:hover  .menu-item {
    display: block;
}
.group-menu  .menu-item .inner {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3);
}
.group-menu .menu-item a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 35px;
    color: #333;
    cursor: pointer;
    background-color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: "SFUIDisplayMedium";
}
.group-menu .menu-item a:hover {
    color: #4678b1;
    background-color: #f5f5f5;
}
/*Chat*/
.chat-right-top-person {
  display: flex;
  width: 100%; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #e0e2e5;
}
.chat-top-person-data {
  display: flex;
  width: 100%;
  align-items: center;

}
.chat-person-top-ava a {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.chat-person-top-ava a img {
  width: 100%;
}
.chat-person-top-info {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.chat-person-top-info p {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 14.6px;
  font-family: "SFUIDisplayMedium";
}
p.top-person-status {
  font-size: 12.6px;
  color: #999;
}
.user-menu-top {
  display: flex;
  margin-right: 20px;
  position: relative;
}
.user-menu-top {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(../images/user-menu.png);
  background-repeat: no-repeat;
  background-size: 99%;
  background-position: center;
  cursor: pointer;
  transition: all .3s ease-in-out .1s;
}
.user-menu-top:hover {
  background-image: url(../images/user-menu-hover.png);
}
.user-menu-top-do {
  position: absolute;
  width: 140px;
  top: 30px;
  right: 0;
}
.user-menu-top-inner {
  box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
}
.user-menu-top-inner a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 35px;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: "SFUIDisplayMedium";
  z-index: 1000;
}
.user-menu-top-inner a:hover {
  color: #4678b1;
  background-color: #f5f5f5;
 }





.block-info {
  margin-left: 10px;
}
.block-info p {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
.block-info .time {
    line-height: 20px;
    font-size: 12.6px;
    color: #999;
    font-size: 12.6px;
    font-family: "SFUIDisplayMedium";
}



.chat-main-container-left {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  min-height: 100%;
  align-content: flex-start;
  border: 1px solid #e0e2e5;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 19px;
  font-family: "SFUIDisplayMedium";

}
.chat-left-users-menu {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #e0e2e5;
  height: 60px;
  margin: 0;
  padding: 0;
  align-items: center;
}
.users-menu-tab-chats {
  display: flex;
  box-sizing: border-box;
  border-right: 1px solid #e0e2e5;
  height: 100%;
  align-items: center;
  width: 25%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.users-menu-tab-chats span {
  width: 21px;
  height: 21px;
  display: flex;
  margin: 0 auto;
}
.users-menu-tab-chats span img {
  width: 100%;
}

.users-menu-tab-users {
  display: flex;
  box-sizing: border-box;
  border-right: 1px solid #e0e2e5;
  height: 100%;
  align-items: center;
  width: 25%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.users-menu-tab-users span {
  width: 21px;
  height: 21px;
  display: flex;
  margin: 0 auto;
}
.users-menu-tab-users span img {
  width: 100%;
}

.users-menu-tab-block {
  display: flex;
  box-sizing: border-box;
  border-right: 1px solid #e0e2e5;
  height: 100%;
  align-items: center;
  width: 25%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.users-menu-tab-block span {
  width: 21px;
  height: 21px;
  display: flex;
  margin: 0 auto;
}
.users-menu-tab-block span img {
  width: 100%;
}

.users-menu-tab-menu-do {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  width: 25%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.users-menu-tab-menu-do span {
  width: 21px;
  height: 21px;
  display: flex;
  margin: 0 auto;
}
.users-menu-tab-menu-do span img {
  width: 100%;
}

.chat-left-users-search {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  background-color: rgb(245,245,245);

}
.chat-left-users-search input {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 0px;
  padding: 9px;
  border-radius: 5px;
  font-family: "SFUIDisplayMedium";

  background-image: url(../images/search-hover.png);   
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 17px;
  outline: none;
}


.chat-left-users-all {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}

.chat-left-users-users-today {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: orange;
}


.chat-left-users-users-early {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: green;
}


.chat-left-users-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  border-left: 1px solid #e0e2e5;
  background-color: #fff;
  box-sizing: border-box;
  font-family: "SFUIDisplayMedium";
}