/* font-family: "SFUIDisplayMedium"; */
@font-face {
       font-family: "SFUIDisplayMedium";
       src: url("../fonts/SFUIDisplay-Medium.otf");
       font-style: normal;
       font-weight: normal;
}
   /* font-family: "SFUIDisplayMedium"; */
@font-face {
       font-family: "SFUIDisplayLight";
       src: url("../fonts/SFUIDisplay-Light.otf");
       font-style: normal;
       font-weight: normal;
}
html{
	width: 100%;
	height: auto;
}
body.main-page {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-family:  "SFUIDisplayMedium"; 
	box-sizing: border-box;
	position: relative;
	background-image: url(../images/bc.png);
	background-repeat:  no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff; 
	overflow: hidden;
}
.check-in .form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form .logo {
	background-image: url(../images/logo.png);
	background-repeat:  no-repeat;
	background-position: center;
	background-size: 100%;
	width: 190px;
	height: 125px;
	// margin-top: 35px;
	margin-top: 5vh;
}
.form h1 {
	// margin: 70px 0 0;
	font-family:  "SFUIDisplayMedium"; 
	font-size: 33.3px;
	line-height: 35px;
	text-shadow: 3px 3px 1px #000;
	margin: 6vh 0 0;
}
.form-item {
	// margin-top: 65px;
	margin-top: 6vh;
	background: rgba(0, 0, 0, 0.4);
}
.form-item h5 {
	font-family:  "SFUIDisplayMedium"; 
	line-height: 62px;
	font-size: 21px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.form-item form {
	width: 400px;
	box-sizing: border-box;
	padding: 0 20px;
}
.form-item form input,
.form-item form select,
.text-field,
.password-field-first,
.password-field-second {
	width: 100%;
	box-sizing: border-box;;
	padding: 0 35px;
	line-height: 37px;
	height: 37px;
	border-radius: 2px;
	font-size: 14.6px;
	font-family: Tahoma;
	font-weight: 400;
	background: #fff;
	color: #999;
	border: none;
	margin-bottom: 10px;
	border: 1px solid transparent;
	transition: all .3s ease-in-out .2s; 
}
.form-item form input {
	padding: 0 0 0 65px;
}
.form-item form input:focus,
.text-field:focus {
	border: 1px solid #c24f39;
	transition: all .3s ease-in-out .2s; 
	outline: none;
}
.form-item form select {
	margin-bottom: 0;
}
.form-item form .city-field {
	margin-bottom: 10px;
	position: relative;
}
.form-item form select:focus,
.form-item form select:visited {
	outline: none;
}
.form-item form .city-field:focus {
	border: 1px solid #c24f39;
	transition: all .3s ease-in-out .2s; 
	outline: none;
}
.form-item form select {
	padding: 0;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../images/select.png);
	background-position: 97% center;
	background-repeat: no-repeat;
	padding: 0 40px;
}
.form-item form .phone-field input {
	line-height: 19px;
}
.text-field,
.password-field-first,
.password-field-second {
	width: 290px;
	margin-top: 13vh; 
	padding:  0 15px;
}
.password-field-first {
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #999;
	margin-bottom: 0;
}
.password-field-second {
	border-radius: 0 0 3px 3px; 
	margin-top: 0;
}
.recovery .form p {
	text-align: center;
	width: 300px;
	font-size: 13px;
	margin: 0;

}
.form-item .city-field {
	display: block;
	width: 100%;
	display: flex;
}
.phone-field,
.code-field,
.name-field,
.user-field,
.sex-field,
.password-field,
.lastname-field {
	position: relative; 
	display: block;
	width: 100%;
}
.recovery .form p.capcha {
	font-family: "SFUIDisplayMedium";
	font-size: 12.5px;
	color: #ec6045;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	line-height: 15px;
}
/* icons*/

.city-field span{
	display: block;
	border-radius: 2px 0 0 2px;
	background-color: #fff;
	width: 37px;
	height: 37px;
	background-repeat:  no-repeat;
	background-position: center;
	background-size: 50%;
}
.phone-field span,
.code-field span,
.name-field span,
.user-field span,
.sex-field span,
.password-field span,
.lastname-field span {
	position: absolute;
	width: 37px;
	height: 37px;
	top: 0;
	background-repeat:  no-repeat;
	background-position: center;
	background-size: 50%;
}
.phone-field span {
	width: 64px;
	background-position: left 5px center;
	background-size: 31%;
	text-align: right;
	line-height: 38px;
	color: #999;
	font-size: 15px;
    font-family: Tahoma;
}
.city-field span.city {
	background-image: url(../images/location.png);
	left: 0;
	position: absolute;
	top: 0;
}
.sex-field span.sex {
	background-image: url(../images/gente.png);
	left: 0;
}
.city-field span.city-inner {
	background-image: url(../images/select.png);
	background-color: #fff;
	background-size: 45%;
	width: 45px;
	height: 37px; 
	transition: all .3s ease-in-out .1s;  
	border-radius: 0 2px 2px 0; 
	display: none;
}
.sex-field span.sex-inner {
	background-image: url(../images/select.png);
	background-color: #fff;
	background-size: 100%;
	right: 7px;
	top: 10px;
	width: 15px;
	height: 15px;
	transform: rotate(-90deg); 
	transition: all .3s ease-in-out .1s; 
}
.phone-field span.phone {
	background-image: url(../images/phone.png); 
	left: 0;
}
.lastname-field span.lastname {
	background-image: url(../images/user-name.png); 
	left: 0;
}
.sex-field:hover span.sex-inner {
	transition: all .3s ease-in-out .1s; 
	transform: rotate(90deg); 
}
.code-field span.code,
.password-field span.password {
	background-image: url(../images/code.png); 
	left: 0;
}
.name-field span.name {
	background-image: url(../images/name.png);
	left: 0;
}


.user-field span.user {
	background-image: url(../images/at-sign.png);
	left: 0;
}

.form-item form p {
	font-family:  "SFUIDisplayMedium"; 
	font-size: 12.5px;
	color: #ec6045;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	line-height: 15px;
}
.check-in-button {
	width: 100%;
	display: block;
	background: #ec6045;
	border-radius: 0;
	font-size: 14.6px;
	color: #fff;
	font-family:  "SFUIDisplayMedium";
	cursor: pointer;
	transition: all .3s ease-in-out .3s; 
	border: none;
	line-height: 40px;
}
.check-in-button:hover,
.check-in-button:focus {
	transition: all .3s ease-in-out .3s; 
	outline: none;
	background: #DA5036;
}
.add-ava {
	width: 100%;
	margin-bottom: 10px;
	height: 22vh;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px; 
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.4);
	height: 72px;
}
.footer {
	width: 1025px; 
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}
.footer-item {
	width: 275px;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}
.footer-item a {
	font-family: "SFUIDisplayLight";
	font-size: 14.6px;
	color: #fff;
	text-decoration: none;
	transition: all .3s ease-in-out .1s; 
}
.footer-item a:hover {
	color: #999;
	transition: all .3s ease-in-out .1s; 
}
.footer-item a:hover span {
	color: #fff;
}
.payment {
	display: flex;
	justify-content: space-between;
	width: 32%;
}
.payment a {
	display: inline-block;
	vertical-align: middle;
}
.payment a.mastercard {
	background-image: url(../images/mastercard-footer.png);
	width: 39px;
	height: 24px;
}
.payment a.visa {
	background-image: url(../images/visa-footer.png); 
	width: 34px;
	height: 24px; 
}
.footer .menu {
	width: 450px;
	// display: flex;
	// justify-content: space-between; 
}
.footer .menu-item {
	width: 100%;
	display: flex;
	justify-content: space-between; 
}
.footer-item span {
	font-family: "SFUIDisplayLight";
	font-size: 14.6px;
	color: #fff;
}
.footer .menu-item a {
	font-family: "SFUIDisplayLight";
	font-size: 14.6px;
	color: #fff;
	text-decoration: none;
	transition: all .3s ease-in-out .1s; 
}
.footer .menu-item a:hover {
	color: #999;
	transition: all .3s ease-in-out .1s; 
}
.drop-menu {
	display: none;
}

.registration .form .logo{
	margin-top: 0;
}
.registration .form-item {
	margin-top: 2vh;
}
.registration .add-ava {
	height: 20vh;
	margin-bottom: 5px;
}
.registration .form-item form input, 
.registration .form-item form select {
	line-height: 35px;
    	height: 35px;
    	margin-bottom: 4px;
}
.registration .city-field span,
.registration  .phone-field span,
.registration  .code-field span,
.registration  .name-field span,
.registration  .user-field span,
.registration  .sex-field span,
.registration  .password-field span,
.registration  .lastname-field span {
	width: 35px;
	height: 35px;
	background-size: 45%;
}
.registration .form-item form p {
	margin-bottom: 5px;
    	line-height: 15px;
}
.registration .city-field span.city-inner, 
.registration .sex-field span.sex-inner {
	background-size: 70%;
    	top: 6px; 
    	width: 15px;
    	height: 15px;
}
.registration .check-in-button {
	line-height: 28px;
}


.recovery {
	height: 100vh;
}
.recovery .form h1{
	margin: 21vh 0 0;
}
.recovery .check-in-button {
	margin-top: 5vh;
	width: 150px; 
	border-radius: 3px;
}
.recovery .registration-button{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	margin-top: 4vh; 
}
.recovery .registration-button:hover {
	color: #DCDBDB;
}
.recovery .registration-button span {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-image: url(../images/key.png);
	background-repeat:  no-repeat;
	background-position: center;
	background-size: 90%; 
}
.remember a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	line-height: 20px;
	font-size: 14px;
	margin-top: 3vh;
}
.remember a:hover {
	color: #999;
}
.remember a:first-child {
	margin-right: 20px;
}
.form h1.slogan {
	margin-top: 15vh;
}
.preloader {
	width: 50px;
	height: 50px;
	background-image: url(../images/load.gif);
	background-repeat:  no-repeat;
	background-position: center;
	background-size: 90%; 
	text-align: center;
	margin: 15vh auto 0; 
}

@media (max-width: 1024px) {
	body.main-page {
		overflow: visible;
		padding-bottom: 100%;
		min-height: 100vh;
	}
}
@media (max-width: 1025px) {
	.registration .form .logo {
		width: 25%;
    		height: 11vh;
	}
	.footer  {
		width: 100%;
		box-sizing: border-box;
		padding: 0 15px;
		position: relative;
	}
	.form .logo {
		width: 160px;
    		height: 108px;
	}
}
@media (max-width: 800px) {
	.footer-item {
		width: 35%; 
	}
	.payment {
		width: 36%;
	}
	.footer .menu {
		width: 60%;
	}
}
@media (max-width: 650px)  {
	.drop-menu {
		display: block;
		width: 72px;
		height: 70px;
		background-image: url(../images/drop-menu.png);
		background-position: center;
		background-repeat: no-repeat;
		transition: all .3s ease-in-out .1s; 
	}
	// footer {
	// 	height: auto;
	// }
	// .footer {
	// 	flex-wrap: wrap;
 //    		justify-content: flex-start;
	// }
	// .footer .menu {
	// 	width: 100%;
	// }
	.footer .menu {
		width: 72px;
		height: 72px;
		background: rgba(0,0,0,.2);
		margin-right: -13px;
		position: relative;
	}
	.footer .menu:hover {
		background: rgba(0,0,0,.4);
		width: 272px;
		position: absolute;
		right: 13px;
		bottom: 0;
	}
	// .footer .menu-item {
	// 	flex-wrap: wrap;
 //    		justify-content: flex-start;
 //    		padding-bottom: 10px;
 //    		// width: 270px;
	// }
	.footer .menu:hover .drop-menu {
		background-color: #4a4a4a;
	}
	.footer .menu-item a {
		font-size: 15px;
		line-height: 25px;
		padding: 0 25px 0 0;
	}
	.footer .menu:hover .menu-item {
		position: fixed;
		width: 200px;
		height: 100vh;
		display: block;
		bottom: 0;
		top: 0;
		right: 0;
		background: #5c5c5c;
		padding: 20px;
    		box-sizing: border-box;
	}
	// .footer-item {
	// 	justify-content: flex-start;
	// 	width: 100%;
	// 	margin-top: 10px;
	// }


	// .footer .menu:hover .drop-menu {
	// 	border: 1px solid #fff;
	// 	transition: all .3s ease-in-out .1s; 
	// }
	// .footer .drop-menu:hover {
	// 	border: 1px solid #fff;
	// 	transition: all .3s ease-in-out .1s; 
	// }
	// .footer .menu {
	// 	display: none;
	// }
	.footer .menu-item {
		// flex-direction: column;
		display: none;
	}
	// .footer .menu:hover  .menu-item  {
	// 	display: block;
	// 	position: absolute;
	// 	background: rgb(50, 61, 80);
	// 	border-radius: 3px;
	// 	top: -215px;
	// 	right: 0;
	// 	width: 200px;
	// 	padding: 10px;
	// 	text-align: right;

	// } 
	// .footer .menu-item {
	// 	// flex-direction: column;
	// 	display: none;
	// }
	.footer .menu-item a {
		font-size: 16px;
		line-height: 40px;
		padding: 0;
		display: block;
		padding: 0 20px;
	}
	// .footer .menu {
	// 	width: auto;
	// 	position: relative;
	// }
	.footer-item {
		width: 72%;
	}
	// .payment {
	// 	margin-left: 20px;
	// 	width: auto;
	// }
	// .payment a {
	// 	margin-left: 20px;
	// }
}
@media (max-width: 501px) {
	.footer .menu-item {
    		 width: 270px;
	}
}
@media (max-width: 450px) {
	.form h1 {
		font-size: 30px;
		line-height: 30px;
		margin: 3vh 0 0;
	}
	.registration .form h1 {
		font-size: 23px;
		line-height: 23px;
		margin: 0 0 0; 
	}
	.form-item form {
		width: 100%;
	}
	.footer .menu-item a {
		font-size: 14px;
	}
}

/* public.html */
body.public {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	padding: 0 0 75px 0;
	position: relative;
	box-sizing: border-box;
}
body.public.user {
	background: #e9eaed;
}
.public header {
	background: #495b79;
	width: 100%;
}
.public header .header {
	width: 1025px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.public header .logo {
	background-image: url(../images/logotip.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 163px;
	height: 25px; 
} 
.public header .main-menu {
	width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.public header .main-menu.common {
	width: 45%;
}
.public header .main-menu.common .menu-item {
	width: 100%;
	display: flex;
    	justify-content: space-between;
}
.public header .main-menu a,
.public header  .exit,
.public header  .registration {
	padding-left: 20px;
	color: #fff;
	text-decoration: none;
	line-height: 45px;
	font-size: 14px;
	font-family: "SFUIDisplayMedium";
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 27%;
	transition: all .2s ease-in-out .1s; 
}
.public header .main-menu.common a,
.public header  .exit {
	padding-left: 0;
}
.public header .main-menu a:hover,
.public header  .exit:hover,
.public header  .registration:hover {
	color: #999;
	transition: all .2s ease-in-out .1s; 
}
.public header .main-menu .profile {
	background-image: url(../images/profile.png);
	transition: all .2s ease-in-out .1s; 
	background-size: 15%;
}
.public header .main-menu a.profile:hover {
	background-image: url(../images/profile-hover.png);
	transition: all .2s ease-in-out .1s; 
}
.public header .main-menu .places {
	background-image: url(../images/places.png);
	transition: all .2s ease-in-out .1s; 
}
.public header .main-menu a.places:hover {
	background-image: url(../images/places-hover.png);
	transition: all .2s ease-in-out .1s; 
}
.public header .main-menu .chat {
	background-image: url(../images/chat.png);
	transition: all .2s ease-in-out .1s; 
}
.public header .main-menu a.chat:hover {
	background-image: url(../images/chat-hover.png);
	transition: all .2s ease-in-out .1s; 
}
.public header .main-menu .settings {
	background-image: url(../images/settings.png);
	background-size: 20%;
	transition: all .2s ease-in-out .1s; 
}
.public header .main-menu a.settings:hover {
	background-image: url(../images/settings-hover.png); 
	transition: all .2s ease-in-out .1s; 
}
.public header  .exit span {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 60%;
	background-image: url(../images/enter.png);
	transition: all .2s ease-in-out .1s; 
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
}
.public header  .exit.enter span{
	background-position: left center;
	background-image: url(../images/exite.png);
}
.public header .exit:hover span {
	background-image: url(../images/enter-hover.png);
	transition: all .2s ease-in-out .1s; 
}
.public header .exit.enter:hover span {
	background-image: url(../images/exite-hover.png);
	transition: all .2s ease-in-out .1s; 
}
.public header .registration {
	background-image: url(../images/key.png);
	transition: all .2s ease-in-out .1s; 
	background-size: 15%;
}
.public header .registration:hover {
	background-image: url(../images/key-hover.png);
	transition: all .2s ease-in-out .1s; 
}
.public header .search {
	width: 160px;
	position: relative;
}
.public header .search input {
	background: #7988a3;
	border-radius: 2px;
	padding: 0 35px 0 10px;
	color: #fff;
	line-height: 35px;
	transition: all .4s ease-in-out .1s; 
	border: none;
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
}
.public header .search input:focus {
	background: #fff;
	color: #999;
	outline: none;
	transition: all .4s ease-in-out .1s; 
}
.public header .search span {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	background-image: url(../images/search.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 55%;
	width: 35px;
	height: 35px;
	transition: all .2s ease-in-out .1s; 
}
/*.public header .search:hover span,
.public header .search:focus span,
.public header .search input:focus + .public header .search span {
	background-image: url(../images/search-hover.png);
	transition: all .2s ease-in-out .1s; 
}*/
.public header .search input::-webkit-input-placeholder {color:#fff;}
.public header .search input::-moz-placeholder          {color:#fff;}
.public header .search input:-moz-placeholder           {color:#fff;}
.public header .search input:-ms-input-placeholder      {color:#fff;}
.public .footer .menu-item a:hover,
.public .footer-item a:hover {
	color: #403F3F;
}
.content{
	width: 1025px;
	margin: 0 auto;
}
.menu-user {
	margin-top: 30px;
	margin-bottom: 5px;
}
.menu-user a {
	font-size: 14.6px;
	color: #333;
	line-height: 25px;
	padding: 0 10px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	border: 1px solid transparent;
	border-radius: 2px;
	text-decoration: none;
	font-family: "SFUIDisplayMedium";
	transition: all .3s ease-in-out .1s; 
}
.menu-user a:hover,
.menu-user a.active {
	border: 1px solid #495b79;
	color: #495b79;
	transition: all .3s ease-in-out .1s; 
}
.info {
	padding-top: 30px;
	font-family: "SFUIDisplayMedium";
	color: #333;
	background: #fff;
}
.info h3 {
	margin: 0 0 5px;
	font-size: 20.8px;
	line-height: 30px;
}
.info p {
	font-family: "SFUIDisplayLight";
	font-size: 14.6px;
	line-height: 20px;
	margin: 25px 0 0;
}
.info p.bold {
	font-family: "SFUIDisplayMedium";
}
.info ul{
	margin: 0;
	padding: 0;
}
.info ul li {
	list-style-type: none;
	font-family: "SFUIDisplayLight";
	font-size: 14.6px;
	line-height: 20px;
	margin: 25px 0 0;
	padding: 0;
}
.info ul li:before {
	content: '-';
}
.menu-item .registration {
	display: none;
}
.public header .main-menu .search {
	display: none;
}
@media (max-width: 1025px) {
	.public header .header,
	.content {
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
		flex-wrap: wrap;
	}
	.form h1 {
		text-shadow: none;
	}
} 
@media (max-width: 800px) {
	.public header .header {
		position: relative;
		// padding: 0 10px 0 70px;
		padding: 0 10px;
		min-height: 55px;
		height: auto;
		justify-content: space-around;
	}
	.public header .header.header-user {
		justify-content: space-between;
		padding: 0 10px 0 70px;
	}
	// .public header .registration {
	// 	display: none;
	// }
	.public header .main-menu .search {
		display: block;
		width: 100%;
		margin: 30px 0;
	}
	.public header .main-menu .search input{
		background: #495b79;
		border-radius: 2px;
		padding: 0 35px 0 10px;
		color: #fff;
		line-height: 35px;
		transition: all .4s ease-in-out .1s;
		border: none;
		box-sizing: border-box;
	}
	.public header .main-menu .search input:focus {
		background: #fff;
		color: #999;
		outline: none;
		transition: all .4s ease-in-out .1s;
	}
	.public header .main-menu{
		position: absolute;
		left: 0;
		width: 55px;
		height: 55px;
		background-color: rgba(0,0,0,.3);
		display: block;
		transition: width .3s ease-in-out .1s;
	}
	.public header .main-menu.common {
		display: none;
	}
	.public header .main-menu:hover {
		background-color: #7988a3;
		transition: width .3s ease-in-out .1s;
	}
	// .public header .main-menu a {
	// 	background-size: 31%;
	// 	padding-left: 25px;
	// 	font-size: 12px;
	// }
	.public header .main-menu a,
	.public header .main-menu .settings {
		display: block;
		font-size: 15px;
		line-height: 45px;
		padding-left: 40px;
		background-size: 15%;
	}
	.public header .main-menu .drop-menu {
		display: block;
		width: 55px;
		height: 55px;
		background-image: url(../images/drop-menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 75%;
		padding-left: 0;
	}
	// .public header .main-menu.common:hover .drop-menu {
	// 	border: 1px solid #999; 
	// }
	.public header .main-menu .menu-item,
	.public header .search,
	.public header .main-menu.common .menu-item {
		display: none;
	}
	.public header .main-menu.common .menu-item .registration {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 50px;
		background-size: 13%;
    		background-position: left 10px center;
    		margin-right: 0;
	}
	.public header .main-menu:hover {
		width: 200px;
		height: 100vh;
		box-sizing: border-box;
		z-index: 9;
	}
	.public header .main-menu:hover .drop-menu {
		position: absolute;
		background-color: #7988a3;
		right: -56px;
		border-left: 1px solid #495b79;
		top: 0;
		border-top: none;
    		border-bottom: none;
	}
	.public header .main-menu:hover .menu-item  {
		display: block;
		width: auto;
		padding: 10px;
		text-align: left;
	} 
	.public header .main-menu.common a {
		line-height: 46px;
		display: block;
    		font-size: 18px;
	}
	// .public header .main-menu {
	// 	width: auto;
	// 	position: relative;
	// }
	// .public header .main-menu.common {
	// 	width: auto;
	// }
	.public header .main-menu .places,
	.public header .main-menu .chat {
		margin-right: 10px;
	}
}
// @media (max-width: 665px)  {
// 	.public header .header {
// 		justify-content: center;
// 	}
// }
@media (max-width: 550px)  {
	.menu-user {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.menu-user a {
		margin-top: 10px;
	}
}
@media (max-width: 450px) {
	// .public header .header {
	// 	justify-content: center;
	// 	align-items: center;
	// 	flex-wrap: wrap;
	// 	padding: 10px;
	// }
	// .public header .registration {
	// 	margin-right: 30px;
	// }
}

/* user.html */

.content-user {
	background: #e9eaed;
	padding: 32px 0;
	box-sizing: border-box;
	width: 100%;
}
.content-user #user-page {
	width: 700px;
	margin: 0 auto;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 6px 1px rgba(0,0,0,.1); 
}
#user-page .my-profile {
	display: flex;
	padding: 15px 20px;
}
.my-profile .ava {
	margin-right: 25px;
}
.my-profile .ava a {
	border-radius: 50%;
	display: block;
	overflow: hidden;
	width: 140px;
    	height: 140px;
}
.my-profile .ava a img {
	width: 120%;
}
.my-profile .my-profile-item {
	flex-grow:33;
}
.my-profile-item .user-name {
	font-size: 16.7px;
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: 500;
	line-height: 20px;
	font-family: "SFUIDisplayMedium";
	transition: all .3s ease-in-out .1s; 
}
.my-profile-item .user-name:hover {
	transition: all .3s ease-in-out .1s; 
	color: #666
}
.my-profile-item .counts,
.my-profile-item .comunications {
	display: flex;
    	justify-content: space-between;
    	align-items:center;
}
.adaptiv {
	display: none;
}
.counts .counter {
	text-decoration: none;
	font-size: 16.7px;
	color: #333;
	font-family: "SFUIDisplayMedium";
	text-align: center;
	cursor: pointer;
	line-height: 20px;
	margin: 20px 0 20px;
}
.counts .counter p{
	font-size: 12.5px;
	font-family: "SFUIDisplayLight";
	padding-left: 30px;
	margin: 0 0 10px 0;
	ine-height: 20px;
	background-position: center left;
	background-repeat: no-repeat;
	color: #666;
	transition: all .3s ease-in-out .1s; 
}
.counts .counter:hover p {
	color: #333;
	transition: all .3s ease-in-out .1s; 
}
.counts .counter p.notes{
	background-image: url(../images/notes.png);		
}
.counts .counter p.contacts{
	background-image: url(../images/contacts.png);	
}
.counts .counter p.contacts-off{
	background-image: url(../images/contacts-off.png);	
}
.counts .counter p.contacts-on{
	background-image: url(../images/contacts-on.png);	
}
.comunications .create{
	font-size: 14.6px;
	font-family: "SFUIDisplayMedium";
	padding-left: 35px;
	margin: 0;
	line-height: 22px;
	background-position: center left;
	background-repeat: no-repeat;
	color: #ec6045;
	background-image: url(../images/create.png);
	transition: all .3s ease-in-out .1s; 
	text-decoration: none;
}
.comunications .create:hover {
	color: #666; 
	background-image: url(../images/create-hover.png);
	transition: all .3s ease-in-out .1s;
}
.comunications .rewrite {
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14.6px;
	font-family: "SFUIDisplayMedium";
	padding: 0 10px;
	margin: 0;
	line-height: 27px;
	color: #495b79;
	transition: all .3s ease-in-out .1s; 
	text-decoration: none;
}
.comunications .rewrite:hover {
	border: 1px solid #77849b;
	transition: all .3s ease-in-out .1s;  
}
.comunications .view {
	width: 16%;
	display: flex;
    	justify-content: space-between;
    	align-items:center;
}
.comunications .view a {
	width: 23px;
	height: 23px;
	display: inline-block;
	transition: all .3s ease-in-out .1s; 
	background-position: center;
	background-repeat: no-repeat;
	text-decoration: none;
}
.comunications .view a.table {
	background-image: url(../images/view-table.png);
	transition: all .3s ease-in-out .1s;
}
.comunications .view a.table:hover,
.comunications .view a.table.active {
	background-image: url(../images/view-table-hover.png);
	transition: all .3s ease-in-out .1s;
}
.comunications .view a.list {
	background-image: url(../images/view-list.png);
	transition: all .3s ease-in-out .1s;
}
.comunications .view a.list:hover,
.comunications .view a.list.active {
	background-image: url(../images/view-list-hover.png);
	transition: all .3s ease-in-out .1s;
}
#user-page .my-photos {
	display: flex;
    	flex-wrap: wrap;
}
#user-page .photo {
	width: 231px;
	height: 231px;
	margin: 0 3px 3px 0;
	// width: 33%;
	// height: 24vh;
	// margin: 0 .5% .5% 0;
	overflow: hidden;
	box-sizing: border-box; 
}
#user-page .photo:nth-child(3n) {
	margin: 0 0 3px 0;
}
#user-page .photo a {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
#user-page .photo a .video {
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	background-color: rgba(0,0,0,.5);
	z-index: 9999999;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	margin-top: -40px;
	margin-left: -40px;
	background-image: url(../images/play.png);
	transition: all .3s ease-in-out .1s;
	background-position: center;
	background-repeat: no-repeat; 
}
#user-page .photo a:hover .video {
	background-color: rgba(0,0,0,.6);
	background-size: 40%;
	transition: all .3s ease-in-out .1s;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px; 
}
#user-page .photo a img {
	width: 100%;
} 
@media (max-width: 700px) {
	.content-user {
		padding: 32px 0;
	}
	.content-user #user-page {
		width: 500px;
	}
	#user-page .my-profile {
		padding: 15px 10px;
	}
	.my-profile .ava {
		margin-right: 10px;
	}
	.my-profile .ava a {
		width: 120px;
    		height: 120px;
	}
	.counts .counter{
		display: flex;
    		flex-direction: column-reverse;
    		margin: 10px 0 10px;
	}
	.counts .counter p,
	.counts .counter p.notes,
	.counts .counter p.contacts,
	.counts .counter p.contacts-off,
	.counts .counter p.contacts-on {
		padding-left: 0;
		background-image: none;
	}
	.comunications .create {
		font-size: 13px;
		padding-left: 25px;
	}
	.comunications .rewrite {
		font-size: 13px;
	}
	.comunications .view {
		width: 20%;
	}
	#user-page .photo {
		width: 166px;
		height: 166px;
		margin: 0 1px 1px 0;
	}
	#user-page .photo:nth-child(3n) {
		    margin: 0 0 1px 0;
	}
	/*header user*/
	.public header .exit span {
		width: 25px;
		height: 25px;
		background-size: 80%;
	}
	.public header .search {
		order: 1;
		width: 100%;
		margin-bottom: 5px;
	}
	/*end header user*/
}
@media (max-width: 500px) {
	// .public header .header {
	// 	justify-content: center;
	// }
	.public header .search {
		width: 200px;
		margin-right: 10px;
		order: 0;
	}
	.content-user #user-page {
		width: 100%;
		box-shadow: 0 0 0 0 rgba(0,0,0,.1);
		border-radius: 0;
	}
	.content-user {
		padding: 0;
	}
	#user-page .my-profile {
		padding: 25px 20px 0 20px;
	}
	.my-profile .ava a {
		width: 70px;
		height: 70px;
	}
	.my-profile .ava {
		margin-right: 8%;
	}
	.adaptiv {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px 25px 20px;
	}
	.my-profile-item .comunications {
		display: none;
	}
	.comunications.adaptiv .create {
		border-radius: 4px;
		font-size: 14.6px;
		font-family: "SFUIDisplayMedium";
		padding: 0 10px;
		margin: 0;
		line-height: 27px;
		color: #495b79;
		transition: all .3s ease-in-out .1s;
		text-decoration: none;
		background-image: none;
		border: 1px solid #77849b;
	}
}
@media (max-width: 450px) {
	#user-page .my-profile {
		padding: 25px 5px 0 5px;
	}
	.my-profile .ava {
		margin-right: 5px;
	}
	.counts .counter {
		font-size: 14px;
	}
	.counts .counter p {
		font-size: 10px;
	}
	.adaptiv {
		padding: 0 5px 25px 5px;
	}
	.comunications .rewrite,
	.comunications.adaptiv .create {
		padding: 0 5px;
		font-size: 13px;
	}
	.comunications .view {
		width: 18%;
	}
}
@media (max-width: 400px) {
	// .public header .logo {
	// 	background-size: 44%;
 //    		width: 100%;
	// }
	// .public header .header {
	// 	position: relative;
	// }
	// .public header .main-menu.common {
	// 	position: absolute;
	// 	left: 0;
	// 	top: 5px;
	// }
	// .public header .main-menu:hover .menu-item {
	// 	left: 0;
	// 	right: auto;
	// 	top: 40px;
	// }
	// .public header .main-menu.common a {
	// 	text-align: left;
	// 	line-height: 38px;
	// }
}
