<div ng-controller="staticCtrl">
	<header>
		<div class="header">
		    <a class="logo" href=""></a>
		    <div class="main-menu common">
		       <!--  <a class="drop-menu" href=""></a> -->
		        <div class="menu-item">
		            <a ui-sref="static({ pageName: 'about_service'})">О сервисе </a>
		            <a ui-sref="static({ pageName: 'help'})">Помощь </a>
		            <a ui-sref="static({ pageName: 'rules'})">Правила </a>
		            <a ui-sref="static({ pageName: 'advertising'})">Реклама </a>
		            <a ui-sref="static({ pageName: 'developers'})">Разработчикам </a>
		            <!-- <a class="registration" ui-sref="reg">Регистрация</a> -->
		        </div>
		    </div>
		    <a class="registration" ui-sref="reg">Регистрация</a>
		    <a class="exit enter"  ui-sref="login"><span></span>Вoйти</a>
		</div>
	</header>	
	<div class="content">
	<h1>{{page}}</h1>
		<div class="info">
			<h3>О сервисе Place People</h3>
			<p>Информация хранится в системе в виде объектов.</p>
			<p>Объект состоит из "заголовка", "текста" и может содержать в себе файл или несколько файлов. Так же в нем есть другая системная информация, например время создания, изменения, доступ и тому подобное...</p>
			<p>Если в объект загружена картинка, она показывается при просмотре данного объекта и в краткой информации о объекте. Для создания объекта можно использовать кнопку "создать" на "моей страница", при этом созданный объект отобразиться еще и на самом "столе".</p>
			<p>Так же создание доступно при просмотре объектов "написать отзыв", "добавить статью в раздел", "добавить файлы в раздел", если для этого есть необходимые права доступа.</p>
			<p class="bold">При просмотре объекта могут быть доступны следующие действия:</p>
			<ul>
				<li>"написать отзыв";</li>
				<li>"добавить статью в раздел" - просматриваемый объект будет использоваться как раздел и созданный объект появится в нем;</li>
				<li>"добавить файлы в раздел" - просматриваемый объект будет использоваться как раздел, для каждого загруженного файла будет создан объект с этим    файлом, который появится в разделе;</li>
				<li>"добавить из запомненных" - возможность вставлять уже созданные ранее объекты в раздел, можно вставлять любые объекты, которые доступны для просмотра, объекты выбираются из "запомненных";</li>
				<li>"запомнить" - добавления текущего объекта в список "запомненных", для последующей вставки в раздел;</li>
				<li>"в моё" - добавление объекта в "запомненные", на "мою страницу", в "аватары" и тому подобные действия;</li>
				<li>"редактировать" - правка объекта;</li>
				<li>"удалить" - полное удаление объекта и всех его связей, без возможности восстановления; </li>
			</ul>
		</div>
		<div class="info">{{staticText}}</div>
	</div>
	<footer ng-include="'../app/common/views/unauth_footer.html'"></footer>	
</div>