<div class="chat-menu-wrap">
	<div class="chat-left-users-users-today" ng-repeat="listItem in Model.chatRooms" ng-class="Model.opponent.id === listItem.id ? 'active' : ''">
		<div class="chat-users-today-ava">
			<a ui-sref="user({username: listItem.login})">
				<img ng-src="{{listItem.avatar_path}}" alt="">
			</a>
		</div>
		<div class="chat-users-today-data" ng-click="Model.openSettings(listItem);" style="cursor:pointer;">
			<div class="chat-users-today-info">
				<p class="users-today-name">{{listItem.first_name + ' ' + listItem.last_name}}</p>
				<p class="users-today-message">Думаю все будет гуд )))</p>
			</div>
			<!-- <div class="chat-users-today-time">
				<span class="users-today-time-time early">13:20</span>
				<span class="users-today-time-count early">123</span>
			</div> -->			
		</div>
	</div>
</div>