<div class="chat-right-main-wrap">
<!-- login
avatar
name
surname
is_online -->


    <div class="chat-right-top-person">
    <a class="chat-link-back" href="javascript:void(0);" ng-show="Model.mobile.display" ng-click="Model.displayBlockedBlock ? refTo('chat.blocked') : refTo('chat.list')"></a>
	    <div class="chat-top-person-data">	
	    	<div class="chat-person-top-ava">
	    		<a ui-sref="user({username: Model.opponent.login})">
	    			<img ng-src="{{Model.opponent.avatar_path}}" alt="">
	    		</a>
	    	</div>
	    	<div class="chat-person-top-info">
	    		<p class="top-person-name">{{Model.opponent.first_name + ' ' + Model.opponent.last_name}}</p>
	    		<p class="top-person-status">{{Model.opponent.is_online ? 'Подключен':'Отключен'}}</p>
	    	</div>
	    </div>
	    	<div class="user-menu-top" ng-click="showTopChatMenu=!showTopChatMenu">
				<div class="user-menu-top-do" ng-show="showTopChatMenu">
					<div class="user-menu-top-inner">			
						<a ng-click="Model.showContactData(Model.opponent)">О контакте</a>
						<a href="" ng-click="Model.clearChat(Model.opponent)">Очистить чат</a>
						<a href="" ng-click="Model.deleteChat(Model.opponent)">Удалить чат</a>
					</div>
				</div>
			</div>
    </div>
<!--  ng-scrollbar rebuild-on="rebuildScroll" -->
    <div class="chat-right-chat-inner">
    	<div class="chat-message-date">
    		<span>Вчера</span>
    	</div>

    	<!-- <div class="my-msg-wrap">
	    	<div class="right-chat-my-msg">
	    		<div class="right-chat-my-msg-inner">
	    			<div class="my-msg-inner-text">Сегодня думал выйти на прогулку, вобщем как всегда)</div>
	    			<div class="my-msg-inner-photo">
	    				<span class="my-img-inner-photo-pict">
	    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
	    				</span>
	    				<span class="my-img-inner-photo-pict">
	    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
	    				</span>
	    				<span class="my-img-inner-photo-pict">
	    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
	    				</span>				    				
	    			</div>
	    		</div>
	    		<div class="right-chat-my-msg-date">
	    			<span>10:55</span>
	    		</div>
	    	</div>
    	</div> -->

    	<!-- <div class="my-msg-wrap">
	    	<div class="right-chat-my-msg">
	    		<div class="right-chat-my-msg-inner">
	    			<div class="my-msg-inner-text">Но чето влом (((((</div>
	    		</div>
	    		<div class="right-chat-my-msg-date">
	    			<span>10:55</span>
	    		</div>
	    	</div>
    	</div> -->

    	<!-- <div class="chat-message-date">
    		<span>Вчера</span>
    	</div> -->



    	<div ng-class="message.login === loggedUser ? 'my-msg-wrap' : 'to-my-msg-wrap'" ng-repeat="message in Model.Chat" ng-init="Model.scrollBottom()">
	    	<div ng-class="message.login === loggedUser ? 'right-chat-my-msg' : 'right-chat-to-my-msg'">
	    		<div ng-class="message.login === loggedUser ? 'right-chat-my-msg-inner' : 'right-chat-to-my-msg-inner'">
	    			<div ng-class="message.login === loggedUser ? 'my-msg-inner-text' : 'to-my-msg-inner-text'">{{message.text}}</div>
	    			<!-- <div class="to-my-msg-inner-photo">
	    				<span class="to-my-img-inner-photo-pict">
	    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
	    				</span>
	    				<span class="to-my-img-inner-photo-pict">
	    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
	    				</span>
	    				<span class="to-my-img-inner-photo-pict">
	    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
	    				</span>				    				
	    			</div> -->
	    		</div>
	    		<div ng-class="message.login === loggedUser ? 'right-chat-my-msg-date' : 'right-chat-to-my-msg-date'">
	    			<span>{{Model.getTime(message.created_at)}}</span>
	    		</div>
	    	</div>
    	</div>

    	<!-- <div class="chat-right-inner-publication-my">
    		<div class="chat-publication-wrap">
    			<div class="chat-publication-data">
    				<div class="chat-right-top-person my-msg">
					    <div class="chat-top-person-data">	
					    	<div class="chat-person-top-ava">
					    		<a>
					    			<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
					    		</a>
					    	</div>
					    	<div class="chat-person-top-info">
					    		<p class="top-person-name">Виталий</p>
					    		<p class="top-person-status"><span>Вчера,</span><span>17:31</span></p>
					    	</div>
					    </div>
					    	<div class="user-menu-top">
								<div class="user-menu-top-do chat-in" style="display:block">
									<div class="user-menu-top-inner chat-in">			
										<a>Переслать</a>
										<a href="">Получить ссылку</a>
										<a href="">Пожаловаться</a>
									</div>
								</div>
							</div>
				    </div>
    			</div>
    			<div class="chat-publication-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima harum, accusantium non accusamus, temporibus labore, obcaecati incidunt ea, facilis rem aperiam sed sapiente eius quas tenetur. Corporis et sunt velit.Lorem ipsum dolor</div>
    			<div class="chat-publication-adress">
    				<span class="publication-adress-span">Школа №209, </span>
    				<span> г. Санкт-Петербург</span>
    			</div>
    			<div class="chat-publication-photo">
    				<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
    			</div>
    			<div class="chat-publication-relations">
    				<div class="publication-relations-left">
    					<span class="publication-relations-left-btn">Тема</span>
    					<span>В теме</span><span>1600</span><span>чел.</span>
    				</div>
    				<div class="publication-relations-right">
    					<span class="relations-right-img ">0</span>
    				</div>
    			</div>
    		</div>
    	</div> -->

    	<!-- <div class="chat-right-inner-publication-to-my">
    		<div class="chat-publication-wrap to-my-msg">
    			<div class="chat-publication-data">
    				<div class="chat-right-top-person chat-my-msg">
					    <div class="chat-top-person-data">	
					    	<div class="chat-person-top-ava">
					    		<a>
					    			<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
					    		</a>
					    	</div>
					    	<div class="chat-person-top-info">
					    		<p class="top-person-name">Виталий</p>
					    		<p class="top-person-status"><span>Вчера,</span><span>17:31</span></p>
					    	</div>
					    </div>
					    	<div class="user-menu-top">
								<div class="user-menu-top-do" style="display:none">
									<div class="user-menu-top-inner">			
										<a>Переслать</a>
										<a href="">Получить ссылку</a>
										<a href="">Пожаловаться</a>
									</div>
								</div>
							</div>
				    </div>
    			</div>
    			<div class="chat-publication-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima harum, accusantium non accusamus, temporibus labore, obcaecati incidunt ea, facilis rem aperiam sed sapiente eius quas tenetur. Corporis et sunt velit.Lorem ipsum dolor</div>
    			<div class="chat-publication-adress">
    				<span class="publication-adress-span">Школа №209, </span>
    				<span> г. Санкт-Петербург</span>
    			</div>
    			<div class="chat-publication-photo">
    				<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
    			</div>
    			<div class="chat-publication-relations">
    				<div class="publication-relations-left">
    					<span class="publication-relations-left-btn">Тема</span>
    					<span>В теме</span><span>1600</span><span>чел.</span>
    				</div>
    				<div class="publication-relations-right">
    					<span class="relations-right-img ">0</span>
    				</div>
    			</div>
    		</div>
    	</div> --> 
    	<!-- End of send publication -->
    </div>

    <div class="chat-right-send-wrap">
    	<div class="send-wrap-top">
	    	<a class="chat-right-send-smile" href=""></a>
	    	<textarea placeholder="Введите сообщение..." class="textarea" name="" id="" cols="30" rows="10" ng-model="Model.chatMes" ng-keypress="Model.sendOnEnter($event, Model.chatMes, Model.opponent.room_id)"></textarea>
	    	<div class="send-add-file" ng-click="showFileAddMenu=!showFileAddMenu">
	    		<a href=""></a>
	    		<div class="chat-add-file-menu" ng-show="showFileAddMenu">
	    			<a class="chat-add-file-publ" href="">Публикация</a>
	    			<label class="chat-add-file-file"  for="">Файл</label>
	    		</div>
	    	</div>
	    	<button class="chat-send-btn" ng-click="Model.displayBlockedBlock ? Model.blockContact(Model.opponent) : Model.sendMes(Model.chatMes, Model.opponent.room_id)">{{Model.displayBlockedBlock ? 'Разблокировать' : 'Отправить'}}</button>
    	</div>
    	<!-- <div class="send-wrap-bottom">
				<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
					<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/bc.png" alt="">
				</div>
				<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
					<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/bc.png" alt="">
				</div>
				<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
					<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/bc.png" alt="">
				</div>
				<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
					<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/bc.png" alt="">
				</div>
				<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
					<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
						<div class="close-inner">
							<p>Удалить</p>
						</div>
					</div>
					<img src="../../../images/bc.png" alt="">
				</div>
    	</div> -->
    </div>
			    	<!-- end of  -->
</div>