<div class="chat-left-users-container-blocked" ng-init="Model.getLockedUsers(); Model.checkCurrUrl()">
	<div class="chat-left-users-all blocked-users">
		<div ng-show="Model.blockedUsers.length === 0" class="chat-left-users-i-sign">Заблокированных пользователей нет</div>
		<div ng-show="filtered.length === 0 && Model.blockedUsers.length > 0" class="chat-left-users-i-sign">Не найдено</div>
		<div class="chat-left-users-users-today" ng-repeat="blockedUser in Model.blockedUsers | filter:query as filtered">
			<div class="chat-users-today-ava">
				<a >
					<img ng-src="{{blockedUser.avatar_path}}" alt="">
				</a>
			</div>
			<div class="chat-users-today-data" ng-click="Model.showBlockedContactChat(blockedUser)" style="cursor:pointer;">
				<div class="chat-users-today-info tab-contact-title">
					<p class="users-today-name">{{blockedUser.first_name + ' ' +  blockedUser.last_name}}</p>
					<p class="users-today-message">{{blockedUser.status}}</p>
				</div>
			</div>
		</div>	
	</div>
</div>