<div class="chat-notification-title">
	<span class="chat-notification-title-span">Настройки чата с</span>
	<span class="chat-notification-title-name">{{Model.opponent.first_name + ' ' + Model.opponent.last_name}}</span>
</div>
<div class="chat-notification-status">
	<span class="chat-notification-status-span">{{Model.opponent.show_notif ? 'Отключить':'Включить'}} уведомление</span>
	<div class="chat-notification-status-button">
		<div class="switch">
		  <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-checked="!!Model.opponent.show_notif" ng-model="showNotif">
		  <label for="cmn-toggle-1" ng-click="Model.opponent.show_notif=!Model.opponent.show_notif; saveNotificationSettings(Model.opponent)"></label>
		</div>
	</div>	
</div>