<div class="chat-left-users-all" ng-init="Model.checkCurrUrl(); Model.reloadRooms();">
	<!-- <div class="chat-left-users-users-today active">
		<div class="chat-users-today-ava">
			<a href="">
				<img src="http://www.iconarchive.com/download/i47477/hopstarter/face-avatars/Male-Face-H2.ico" alt="">
			</a>
		</div>

		<div class="chat-users-today-data">
			<div class="chat-users-today-info">
				<p class="users-today-name">Елена Новикова</p>
				<p class="users-today-message">Ну так ты будешь в парке или нет? или мне</p>
			</div>
			<div class="chat-users-today-time">
				<span class="users-today-time-time">13:20</span>
				<span class="users-today-time-count">123</span>
			</div>
			<div style="display:none" class="chat-users-today-time">
				<span class="users-today-time-time early">12.04.16</span>
				<span class="users-today-time-count early">1</span>
			</div>
		</div>
	</div> -->
	<div class="chat-left-users-i-sign" ng-show="Model.chatRooms.length === 0">Список чатов пуст</div>
	<div ng-class="{active:isSelected($index)}" class="chat-left-users-users-today" ng-repeat="chat in Model.chatRooms | filter:{$:query}" ng-class="Model.currRoute ? '' : Model.opponent.id === chat.members[0].id ? 'active' : ''">
		<div class="chat-users-today-ava" ng-init="!!chat.is_group ? chat.sref = 'chat.list' : chat.sref = 'user({username: chat.members[0].login})'">
			<a ui-sref="{{chat.sref}}">
				<img ng-src="{{!!chat.is_group ? chat.avatar ? chat.avatar : '/images/user.png' : chat.members[0].avatar_path ? chat.members[0].avatar_path : '/images/user.png'}}" alt="">
			</a>
		</div>
		<div class="chat-users-today-data" ng-click="Model.openChatWith(chat, $index);" style="cursor:pointer;">
			<div class="chat-users-today-info">
				<p class="users-today-name">{{!!chat.is_group ? chat.name : chat.members[0].first_name + ' ' + chat.members[0].last_name}}</p>
				<p class="users-today-message" ng-bind-html="getLastMessage(chat) || chat.last_message | colonToSmiley"></p>
			</div>
			<div class="chat-users-today-time">
				<span class="users-today-time-time early">{{getLastMessageCreatedAt(chat) || chat.last_message_created_at | amDateFormat:'HH:mm'}}</span>
				<span ng-show="chat.countMessages > 0" class="users-today-time-count early">{{getMessagesCount(chat) || chat.countMessages}}</span>
			</div>
		</div>
	</div>
</div>