	<div>
	    <header>
			<div class="header header-user">
				<a class="logo" ui-sref="feed"></a>
				<div class="main-menu" ng-click="openMenu();" ng-class="showMenu ? 'show-menu' : ''" ng-init="showMenu=true;">			
					<a class="drop-menu" href="javascript:void(0)"></a>
					<div class="menu-item" ng-show="showMenu">
						<a class="profile" ui-sref="user({username: loggedUser})">Мой профиль</a>
						<a class="places" ui-sref="places">Места</a>
						<a class="chat" ui-sref="chat.list"> Чаты</a>
						<a class="settings" ui-sref="settings">Настройки</a>
						<div class="search">
							<input type="text" placeholder="Поиск...">
							<span class="button"></span>
						</div>
					</div>
				</div>
				<div class="search">
					<input type="text" placeholder="Поиск...">
					<span class="button"></span>
				</div>
				<a class="exit" href="javascript:void(0);" ng-click="logOut()"><span></span>{{!needToLogin ? 'Выйти' : 'Войти'}}</a>
			</div>
		</header>
	    
	<div class="chat-main-container">
		<div class="chat-main-container-left">
	    	<div class="chat-left-users-menu">
	    		<div class="users-menu-tab-chats" ng-class="Model.showChatBlock ? 'active' : ''" ng-click="refTo('chat.list'); Model.showChatBlock=true; Model.showContactBlock=false; Model.showBlockedBlock=false; Model.showMenuBlock=false;" style="cursor:pointer;">
	    			<span>
	    				<img src="../images/chat-tab-chat.png" alt="">
	    			</span>
	    		</div>
	    		<div class="users-menu-tab-users" ng-class="Model.showContactBlock ? 'active' : ''" ng-click="refTo('chat.contacts'); Model.showContactBlock=true; Model.showChatBlock=false; Model.showBlockedBlock=false; Model.showMenuBlock=false;" style="cursor:pointer;">
	    			<span>
	    				<img src="../images/chat-tab-people.png" alt="">
	    			</span>
	    		</div>
	    		<div class="users-menu-tab-block" ng-class="Model.showBlockedBlock ? 'active' : ''" ng-click="refTo('chat.blocked'); Model.showBlockedBlock=true; Model.showMenuBlock=false; Model.showContactBlock=false; Model.showChatBlock=false;" style="cursor:pointer;">
	    			<span>
	    				<img src="../images/chat-tab-block.png" alt="">
	    			</span>
	    		</div>
	    		<div class="users-menu-tab-menu-do" ng-class="Model.showMenuBlock ? 'active' : ''" ng-click="refTo('chat.menu'); Model.showMenuBlock=true; Model.showBlockedBlock=false; Model.showContactBlock=false; Model.showChatBlock=false;" style="cursor:pointer;">
	    			<span>
	    				<img src="../images/chat-tab-more.png" alt="">
	    			</span>
	    			<div class="users-menu-tab-menu-do-inner">
	    				<a class="chat-do-inner-link-create" href="">Создать группу</a>
	    				<a class="chat-do-inner-link-alert" href="">Уведомления</a>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="chat-left-users-container">
	    		<div class="chat-left-users-search">
					<input type="text" placeholder="Поиск или новый чат">
				</div>		    	
		    	<div ui-view></div>
	    	</div>
	    </div>

	    <div class="chat-main-container-right" ng-if="Model.showChatBlock && Model.displayChatBlock">

<!-- Chat block -->
		   <!--  <div ng-if="Model.showChatBlock && Model.displayChatBlock">	      --> 
			    <div class="chat-right-top-person">
				    <div class="chat-top-person-data">	
				    	<div class="chat-person-top-ava">
				    		<a ui-sref="user({username: Model.opponent.login})">
				    			<img ng-src="{{Model.opponent.avatar_path}}" alt="">
				    		</a>
				    	</div>
				    	<div class="chat-person-top-info">
				    		<p class="top-person-name">{{Model.opponent.first_name + ' ' + Model.opponent.last_name}}</p>
				    		<p class="top-person-status">{{Model.opponent.is_online ? 'Подключен':'Отключен'}}</p>
				    	</div>
				    </div>
				    	<div class="user-menu-top" ng-click="showTopChatMenu=!showTopChatMenu">
							<div class="user-menu-top-do" ng-show="showTopChatMenu">
								<div class="user-menu-top-inner">			
									<a ng-click="Model.showContactData(Model.opponent)">О контакте</a>
									<a href="" ng-init="chatId=1" ng-click="clearChat(loggedUserId, chatId)">Очистить чат</a>
									<a href="" ng-click="deleteChat(loggedUserId, chatId)">Удалить чат</a>
								</div>
							</div>
						</div>
			    </div>

			    <div class="chat-right-chat-inner">
			    	<div class="chat-message-date">
			    		<span>Вчера</span>
			    	</div>

			    	<div class="my-msg-wrap">
				    	<div class="right-chat-my-msg">
				    		<div class="right-chat-my-msg-inner">
				    			<div class="my-msg-inner-text">Сегодня думал выйти на прогулку, вобщем как всегда)</div>
				    			<div class="my-msg-inner-photo">
				    				<span class="my-img-inner-photo-pict">
				    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
				    				</span>
				    				<span class="my-img-inner-photo-pict">
				    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
				    				</span>
				    				<span class="my-img-inner-photo-pict">
				    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
				    				</span>				    				
				    			</div>
				    		</div>
				    		<div class="right-chat-my-msg-date">
				    			<span>10:55</span>
				    		</div>
				    	</div>
			    	</div>

			    	<div class="my-msg-wrap">
				    	<div class="right-chat-my-msg">
				    		<div class="right-chat-my-msg-inner">
				    			<div class="my-msg-inner-text">Но чето влом (((((</div>
				    		</div>
				    		<div class="right-chat-my-msg-date">
				    			<span>10:55</span>
				    		</div>
				    	</div>
			    	</div>

			    	<div class="chat-message-date">
			    		<span>Вчера</span>
			    	</div>

			    	<div class="to-my-msg-wrap">
				    	<div class="right-chat-to-my-msg">
				    		<div class="right-chat-to-my-msg-inner">
				    			<div class="to-my-msg-inner-text">Сегодня думал выйти на прогулку, вобщем как всегда)</div>
				    			<div class="to-my-msg-inner-photo">
				    				<span class="to-my-img-inner-photo-pict">
				    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
				    				</span>
				    				<span class="to-my-img-inner-photo-pict">
				    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
				    				</span>
				    				<span class="to-my-img-inner-photo-pict">
				    					<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
				    				</span>				    				
				    			</div>
				    		</div>
				    		<div class="right-chat-to-my-msg-date">
				    			<span>10:55</span>
				    		</div>
				    	</div>
			    	</div>

			    	<div class="chat-right-inner-publication-my">
			    		<div class="chat-publication-wrap">
			    			<div class="chat-publication-data">
			    				<div class="chat-right-top-person my-msg">
								    <div class="chat-top-person-data">	
								    	<div class="chat-person-top-ava">
								    		<a>
								    			<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
								    		</a>
								    	</div>
								    	<div class="chat-person-top-info">
								    		<p class="top-person-name">Виталий</p>
								    		<p class="top-person-status"><span>Вчера,</span><span>17:31</span></p>
								    	</div>
								    </div>
								    	<div class="user-menu-top">
											<div class="user-menu-top-do chat-in" style="display:block">
												<div class="user-menu-top-inner chat-in">			
													<a>Переслать</a>
													<a href="">Получить ссылку</a>
													<a href="">Пожаловаться</a>
												</div>
											</div>
										</div>
							    </div>
			    			</div>
			    			<div class="chat-publication-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima harum, accusantium non accusamus, temporibus labore, obcaecati incidunt ea, facilis rem aperiam sed sapiente eius quas tenetur. Corporis et sunt velit.Lorem ipsum dolor</div>
			    			<div class="chat-publication-adress">
			    				<span class="publication-adress-span">Школа №209, </span>
			    				<span> г. Санкт-Петербург</span>
			    			</div>
			    			<div class="chat-publication-photo">
			    				<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
			    			</div>
			    			<div class="chat-publication-relations">
			    				<div class="publication-relations-left">
			    					<span class="publication-relations-left-btn">Тема</span>
			    					<span>В теме</span><span>1600</span><span>чел.</span>
			    				</div>
			    				<div class="publication-relations-right">
			    					<span class="relations-right-img ">0</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>

			    	<div class="chat-right-inner-publication-to-my">
			    		<div class="chat-publication-wrap to-my-msg">
			    			<div class="chat-publication-data">
			    				<div class="chat-right-top-person chat-my-msg">
								    <div class="chat-top-person-data">	
								    	<div class="chat-person-top-ava">
								    		<a>
								    			<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
								    		</a>
								    	</div>
								    	<div class="chat-person-top-info">
								    		<p class="top-person-name">Виталий</p>
								    		<p class="top-person-status"><span>Вчера,</span><span>17:31</span></p>
								    	</div>
								    </div>
								    	<div class="user-menu-top">
											<div class="user-menu-top-do" style="display:none">
												<div class="user-menu-top-inner">			
													<a>Переслать</a>
													<a href="">Получить ссылку</a>
													<a href="">Пожаловаться</a>
												</div>
											</div>
										</div>
							    </div>
			    			</div>
			    			<div class="chat-publication-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima harum, accusantium non accusamus, temporibus labore, obcaecati incidunt ea, facilis rem aperiam sed sapiente eius quas tenetur. Corporis et sunt velit.Lorem ipsum dolor</div>
			    			<div class="chat-publication-adress">
			    				<span class="publication-adress-span">Школа №209, </span>
			    				<span> г. Санкт-Петербург</span>
			    			</div>
			    			<div class="chat-publication-photo">
			    				<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_ukaavUI.jpg" alt="">
			    			</div>
			    			<div class="chat-publication-relations">
			    				<div class="publication-relations-left">
			    					<span class="publication-relations-left-btn">Тема</span>
			    					<span>В теме</span><span>1600</span><span>чел.</span>
			    				</div>
			    				<div class="publication-relations-right">
			    					<span class="relations-right-img ">0</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>

<!-- 
			    	<div class="group-comments">
						<div class="group-comment">
							<a href="" class="smile"></a>
							<textarea placeholder="Введите сообщение..." class="textarea" name="" id="" cols="30" rows="10"></textarea>
							<div class="add-objects">						
								<input id="addfile" type="file" ngf-keep="true" style="display: none;" ngf-select="" ng-model="singlePublication.files" ngf-multiple="true" ngf-before-model-change="pubFiles($files)" class="ng-pristine ng-untouched ng-valid ng-empty" multiple="multiple"> 
								<label for="addfile">
									<span class="add" ng-click="showChatAttachmentMenu=!showChatAttachmentMenu">
										<span class="dropp ng-hide" ng-show="showChatAttachmentMenu">
											<a href="" class="active">Публикация</a>
											<a href="" class="">Файл</a>
										</span>
									</span>
								</label>                                         
							</div> 
							
						</div>
						<div class="pictures">
							ngRepeat: pub in [1,2,3,4,5]<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>end ngRepeat: pub in [1,2,3,4,5]<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>end ngRepeat: pub in [1,2,3,4,5]<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>end ngRepeat: pub in [1,2,3,4,5]<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>end ngRepeat: pub in [1,2,3,4,5]<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>end ngRepeat: pub in [1,2,3,4,5]
						</div>
					</div>
 -->

			    </div>

			    <div class="chat-right-send-wrap">
			    	<div class="send-wrap-top">
				    	<a class="chat-right-send-smile" href=""></a>
				    	<textarea placeholder="Введите сообщение..." class="textarea" name="" id="" cols="30" rows="10"></textarea>
				    	<div class="send-add-file">
				    		<a href=""></a>
				    		<div class="chat-add-file-menu">
				    			<a class="chat-add-file-publ" href="">Публикация</a>
				    			<label class="chat-add-file-file"  for="">Файл</label>
				    		</div>
				    	</div>
				    	<span class="chat-send-btn">Отправить</span>
			    	</div>
			    	<div class="send-wrap-bottom">
							<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>
							<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>
							<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>
							<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>
							<div class="pic ng-scope" ng-repeat="pub in [1,2,3,4,5]">
								<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
									<div class="close-inner">
										<p>Удалить</p>
									</div>
								</div>
								<img src="../../../images/bc.png" alt="">
							</div>
			    	</div>
			    </div>





		    <!-- </div> -->

 <!-- Contact Block -->
	    	<div class="chat-contact-right-selected" ng-if="Model.showContactBlock && Model.displayContactBlock">
	    		<div class="chat-contact-selected-ava">
	    			<img ng-src="{{Model.contact.avatar_path}}" alt="">
	    		</div>
	    		<div class="chat-contact-selected-data">
	    			<div class="contact-selected-data-name">{{Model.contact.first_name + ' ' + Model.contact.last_name}}</div>
	    			<div class="contact-selected-data-status">Статус</div>
	    			<div class="contact-selected-data-title">{{Model.contact.status}}</div>
	    			<div class="contact-selected-data-phone">Телефон</div>
	    			<div class="contact-selected-data-tel-number">{{Model.contact.phone}}</div>
	    			<div class="contact-selected-data-message" ng-click="Model.openChatWith(Model.contact)" style="cursor:pointer;"><span><img src="/images/chat-icon.png" alt=""></span><span class="contact-selected-message-span">Написать сообщение</span></div>
	    			<div class="contact-selected-data-block" style="cursor:pointer;" ng-click="Model.blockContact(Model.contact)"><span><img src="/images/chat-tab-block.png" alt=""></span><span class="contact-selected-block-span">Заблокировать контакт</span></div>
	    			<div class="contact-selected-data-delete" style="cursor:pointer;" ng-click="Model.deleteContact(Model.contact)"><span><img src="/images/chat-delete-contact.png" alt=""></span><span class="contact-selected-delete-span">Удалить контакт</span></div>

	    		</div>
	    	</div>


		  </div>
	    </div>




	    <footer>
			<div class="footer">
			    <div class="footer-item">
	                <div class="footer-place">
	                    <a href="javascript:void(0)">Place People </a>
	                    <span>© 2016</span>
	                </div>
	                <div class="payment">
	                    <a class="mastercard" href="javascript:void(0)"></a>
	                    <a class="visa" href="javascript:void(0)"></a>
	                </div>
			    </div>
			    <div class="menu" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'open-bottom-menu' : ''" ng-init="showBottomMenu=true;">
			        <a class="drop-menu" href="javascript:void(0)" ></a>
			        <div class="menu-item" ng-show="showBottomMenu">		        	       
			            <a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})" ng-click="closePopup()">{{staticPage.description}}</a>		            
			        </div>
			    </div>
			</div>
		</footer>
	</div>
