	<div>
		
		
	<div class="chat-main-container">
		<div class="chat-main-container-left" ng-hide="Model.mobile.hideContent">
			<div class="chat-left-users-menu" ng-init="Model.checkCurrUrl()">
				<div class="users-menu-tab-chats" ng-class="Model.currRoute === 'chat.list' ? 'active' : ''" ng-click="refTo('chat.list'); Model.showChatBlock=true; Model.showContactBlock=false; Model.showBlockedBlock=false; Model.showNotificationBlock=false; Model.showMenuBlock=false; Model.displayChatBlock=false; Model.displayBlockedBlock=false;" style="cursor:pointer;">
					
				</div>
				<div class="users-menu-tab-users" ng-class="Model.currRoute === 'chat.contacts' ? 'active' : ''" ng-click="refTo('chat.contacts'); Model.showContactBlock=true; Model.showChatBlock=false; Model.showBlockedBlock=false; Model.showNotificationBlock=false; Model.showMenuBlock=false;" style="cursor:pointer;">
					
				</div>
				<div class="users-menu-tab-block" ng-class="Model.currRoute === 'chat.blocked' ? 'active' : ''" ng-click="refTo('chat.blocked'); Model.showBlockedBlock=true; Model.showNotificationBlock=false; Model.showContactBlock=false; Model.showChatBlock=false; Model.showMenuBlock=false; Model.displayChatBlock=false; Model.displayBlockedBlock=false;" style="cursor:pointer;">	    			
				</div>	    		
				<div class="users-menu-tab-menu-do" ng-class="Model.currRoute === 'chat.notification' ? 'active' : ''" ng-click=" Model.showMenuBlock=!Model.showMenuBlock;" style="cursor:pointer;">			    		
						<div class="chat-add-file-menu" ng-show="Model.showMenuBlock" style="min-width:140px;left:-59px">			    			
							<div class="chat-add-file-publ" ng-click="Model.openGroupChatPopup()">Создать группу</div>
							<div class="chat-add-file-publ" ng-click="refTo('chat.notification'); Model.showBlockedBlock=false; Model.showContactBlock=false; Model.showChatBlock=false;">Уведомления</div>
						</div>    			
				</div>
			</div>
			<div class="chat-left-users-container">
				<div class="chat-left-users-search">
					<input ng-model="query" type="text" placeholder="Поиск или новый чат">
				</div>		    	
				<div ui-view class="chat-left-wrap-contact-data"></div>
			</div>
		</div>
		<div class="chat-main-container-right" ng-hide="Model.mobile.display" style="background:#fff;">
			<!-- Chat block -->
			<div class="chat-right-cont-ng" ng-include="'/app/Chat/views/chat-block.html'" ng-if="Model.showChatBlock && Model.displayChatBlock || Model.showBlockedBlock && Model.displayBlockedBlock"></div> 			
			<!-- Contact Block -->
			<div class="chat-contact-block-ng" ng-include="'/app/Chat/views/contact-block.html'" ng-if="Model.showContactBlock && Model.displayContactBlock"></div>
			<!-- Notification settings -->
			<div  class="chat-notification-wrap"  ng-include="'/app/Chat/views/chat-notification-settings.html'" ng-if="Model.showNotificationBlock && Model.displayNotificationBlock"></div>

		</div>

		<div class="chat-mobile-chat-inner" ng-show="Model.mobile.hideContent" ui-view></div>

	</div>




		<footer>
			<div class="footer">
				<div class="footer-item">
					<div class="footer-place">
						<a href="javascript:void(0)">Place People </a>
						<span>© 2016</span>
					</div>
					<div class="payment">
						<a class="mastercard" href="javascript:void(0)"></a>
						<a class="visa" href="javascript:void(0)"></a>
					</div>
				</div>
				<div class="menu" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'open-bottom-menu' : ''" ng-init="showBottomMenu=true;">
					<a class="drop-menu" href="javascript:void(0)" ></a>
					<div class="menu-item" ng-show="showBottomMenu">		        	       
						<a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})" ng-click="closePopup()">{{staticPage.description}}</a>		            
					</div>
				</div>
			</div>
		</footer>
	</div>
