<div class="chat-menu-wrap" ng-init="Model.checkCurrUrl(); Model.reloadRooms();">
	<div class="chat-left-users-users-today" ng-repeat="chat in Model.chatRooms" ng-class="Model.currRoute ? '' : Model.opponent.id === chat.members[0].id ? 'active' : ''">
		<div class="chat-users-today-ava" ng-init="!!chat.is_group ? chat.sref = 'chat.list' : chat.sref = 'user({username: chat.members[0].login})'">
			<a ui-sref="{{chat.sref}}">
				<img ng-src="{{!!chat.is_group ? 'chat.avatar' : chat.members[0].avatar_path}}" alt="" ng-show="!!chat.is_group && chat.avatar">
			</a>
		</div>
		<div class="chat-users-today-data" ng-click="Model.openSettings(!!chat.is_group ? '' : chat.members[0], chat.room_id);" style="cursor:pointer;">
			<div class="chat-users-today-info">
				<p class="users-today-name">{{ !!chat.is_group ? chat.name : chat.members[0].first_name + ' ' + chat.members[0].last_name}}</p>
				<p class="users-today-message">{{chat.last_message}}</p>
			</div>
			<!-- <div class="chat-users-today-time">
				<span class="users-today-time-time early">13:20</span>
				<span class="users-today-time-count early">123</span>
			</div> -->			
		</div>
	</div>
</div>

