<div class="chat-contact-right-selected">
	<a class="chat-link-back" href="javascript:void(0);" ng-show="Model.mobile.display" ng-click="refTo('chat.contacts')"></a>	    	
	<div class="chat-contact-selected-ava">
		<img ng-src="{{Model.contact.avatar_path ? Model.contact.avatar_path : Model.contact.avatar}}" alt="">
	</div>
	<div class="chat-contact-selected-data">
		<div class="contact-selected-data-name">{{Model.contact.first_name + ' ' + Model.contact.last_name}}</div>
		<div class="contact-selected-data-status">Статус</div>
		<div ng-show="Model.contact.status" class="contact-selected-data-title" ng-bind-html="Model.contact.status | colonToSmiley"></div>
		<div ng-show="Model.contact.user_quote" class="contact-selected-data-title">{{Model.contact.user_quote}}</div>
		<div class="contact-selected-data-phone" ng-hide="Model.contact.is_group">Телефон</div>
		<div ng-show="Model.contact.is_group" class="contact-selected-data-members">
			<p>участники</p>
			<ul>
				<li ng-repeat="member in Model.contact.members"><a ui-sref="user({username: member.login})" href="javascript:void(0);">{{member.first_name}} {{member.last_name}}</a></li>
			</ul>
		</div>
		<div class="contact-selected-data-tel-number">{{Model.contact.phone}}</div>
		<div class="contact-selected-data-message" ng-hide="Model.contact.is_lock" ng-click="Model.openChatWith(Model.contact)" style="cursor:pointer;"><span><img src="/images/chat-icon.png" alt=""></span><span class="contact-selected-message-span">Написать сообщение</span></div>
		<div ng-hide="Model.contact.is_group" class="contact-selected-data-block" style="cursor:pointer;" ng-click="Model.blockContact(Model.contact, Model.contact.is_lock)"><span><img src="/images/chat-tab-block.png" alt=""></span><span class="contact-selected-block-span">{{Model.contact.is_lock ? 'Разблокировать' : 'Заблокировать'}} контакт</span></div>
		<div ng-hide="Model.contact.is_group" class="contact-selected-data-delete" style="cursor:pointer;" ng-click="Model.deleteContact(Model.contact)"><span><img src="/images/chat-delete-contact.png" alt=""></span><span class="contact-selected-delete-span">Удалить контакт</span></div>
	</div>
</div>