<form name="forms.newGroup" novalidate ng-init="Model.loadUserContactList()">
    <div class="new_group"> Новый чат</div>
    <div class="add_newgroup">
        <!-- <div class="first_item">
            <div class="ava_group">
                <img ng-src="{{myAvatar}}" alt="My Avatar" class="img_ava">
                <a class="img_name">{{::myName}}</a>
            </div>
            <div class="checkbox_group">
                <input type="checkbox" id="arr1" ng-model="newGroup.isOpen"/>
                <label for="arr1">Публичная группа</label>
            </div>
        </div> -->
        <div class="second_item">
            <div class="add-ava" ng-class="(forms.newGroup.avatar.$invalid && submFormGroup) ? 'has-error' : ''">
                <input type="file" name="avatar" valid-file id="avatarImg" class="js-group-avatar" ng-model="avatarFile" required>
                <label for="avatarImg">
                <span class="ava" ng-show="dataURI">
                    <img ng-src="{{dataURI}}" style="width:100%;">
                </span>
                <span class="add" ng-class="dataURI ? 'edit-ava' : ''" ng-mouseenter="showEditAva=true;"
                      ng-mouseleave="showEditAva=false;" ng-click="showEditAva=!showEditAva">
                    <span class="add-photo" ng-show="!dataURI || showEditAva"></span>
                </span>
                </label>
            </div>
            <span class="add_ava_grp"> Загрузить аватар </span>
        </div>

        <!-- ng-class="{'has-error': forms.newGroup.name.$invalid && submFormGroup}" -->
        <input type="text" name="name"               
               ng-model="Model.newChat.name"
               required
               placeholder="Название">

        <!--<div ng-messages="forms.newGroup.name.$error" style="color:maroon" role="alert">-->
            <!--<div ng-message="required">You did not enter a field</div>-->
        <!--</div>-->

        <div class="text-field">
            <div emoji-form emoji-message="emojiMessage">
                <textarea id="messageInput" name="description"
                          ng-model="emojiMessage.messagetext"></textarea>
                <a href="javascript:void(0);" class="emoji-button" id="emojibtn">
                    <i class="icon icon-emoji"></i>
                </a>
            </div>
        </div>

        <div class="button">
            <a href="" class="cansel" ng-click="Model.cancelNewChat()"> Отменить </a>
            <a href="" class="create" ng-click="Model.createChat(Model.newChat.name, emojiMessage)"> Создать чат</a>
        </div>

        <div class="fifth_item" ng-if="Model.subscribers.length + Model.subscriptions.length > 0">
            <div class="item1-container">
                <input type="text" id="" ng-model="searchString" placeholder="Пригласить в чат...">
                <ul class="item1">
                    <p>Подписчики</p>
                    <li ng-repeat="user in Model.subscribers | searchFor:searchString">
                        <img ng-src="{{user.avatar_path}}">
                        <p>{{::user.first_name}} {{::user.last_name}}</p>
                        <span class="group-add-item1-user-plus" ng-click="Model.onItemSelected(user)">
                        <img src="/images/add.png" alt=""></span>
                    </li>
                    <p>Подписки</p>
                    <li ng-repeat="user in Model.subscriptions | searchFor:searchString">
                        <img ng-src="{{user.avatar_path}}">
                        <p>{{::user.first_name}} {{::user.last_name}}</p>
                        <span class="group-add-item1-user-plus" ng-click="Model.onItemSelected(user)">
                        <img src="/images/add.png" alt=""></span>
                    </li>
                </ul>
            </div>
            <div class="item1-add-people-container">
                <p class="item1-add-people-title">Список пользователей</p>
                <div class="item1 add-people">
                    <ul>
                        <li ng-repeat="user in Model.newGroupChat.users">
                            <img ng-src="{{user.avatar_path}}">
                            <p>{{::user.first_name}} {{::user.last_name}}</p>
                            <span class="add-people-delete" ng-click="Model.removeUser($index)">&#10006;</span>         
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>

