<div class="comment-imges">
	<div class="comment-img">
		<img src="http://1.bp.blogspot.com/-FlpE6jqIzQg/UmAq6fFgejI/AAAAAAAADko/ulj3pT0dIlg/s1600/best-nature-desktop-hd-wallpaper.jpg">
	</div>
	<div class="comment-imges-list">
		<a href="javascript:void(0);" ng-click="changeMainFile(image, true)" ng-repeat="image in ngDialogData.images" class="comment-list">
			<img src="http://cdn.pcwallart.com/images/city-street-wallpaper-4.jpg" alt="">
			<!-- <img ng-src="{{image.url}}" alt="" ngf-src="image"> -->
		</a>
	</div>
</div>