<div class="content-item search-result__item-publication" ng-repeat="pub in vm.results[1]" ng-click="vm.openModalPublication(+pub.id)">
    <div class="user-publication">
        <div class="user-publication-header">
            <div class="user-function">
                <a class="user" ui-sref="{{vm.getStateName(pub)}}">
							<span class="ava">
								<img ng-src="{{pub.pl_avatar || pub.gr_avatar || pub.usr_avatar}}" alt="">
							</span>
							<span class="block-info">
								<p class="user-name">{{vm.getAuthorName(pub)}}</p>
								<p class="time" am-time-ago="pub.created_at"></p>
							</span>
                </a>
            </div>
        </div>

        <div class="user-publication-content">
            <p class="publication-text" ng-bind-html="pub.text | colonToSmiley"></p>
            <div class="publication-ava" ng-click="showPublication(pub)">
                <a href>
                    <img ng-src="{{pub.url}}">
                </a>
            </div>
        </div>

        <div class="likes">
            <div class="likes-item">
                <a href class="like">Тема</a>

                <p class="like-item">
                    В теме
                    <span ng-show="pub.user_like" class="you"> Вы </span>
                    <span ng-show="pub.user_like && pub.like_count > 1" class="more">и еще</span>
                    <span class="count-like" ng-hide="pub.user_like && pub.like_count == 1">{{pub.user_like ? pub.like_count - 1 : pub.like_count}} чел.</span>
                </p>
            </div>
            <a href class="comments-count">{{pub.comment_count}} 10</a>
        </div>
    </div>
</div>