<div class="group-peoples">
    <div class="group-peoples-inner">
    	<div class="group-peoples-inner-item" ng-repeat="user in vm.results[0]">
            <div class="peoples-inner-item-data">
                <div class="peoples-item-photo">
                    <a ui-sref="user({username: user.login})">
                        <img ng-src="{{::user.avatar_path}}" alt="User avatar">
                    </a>
                </div>
                <div class="peoples-item-name-content">
                    <a class="peoples-item-name-family" ui-sref="user({username: user.login})"><span>{{::user.first_name}} {{::user.last_name}}</span></a>
                    <p class="peoples-item-name-comment" ng-if="user.user_quote">{{::user.user_quote}}</p>
                    <p class="peoples-item-name-comment">{{::user.is_online ? 'В сети' : 'Не в сети'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>