<div class="group-peoples search">
    <h4 class="text-center" ng-if="vm.results[1].length === 0">Публикации не найдены</h4>
    <div class="group-peoples-inner" ng-if="vm.results[1].length > 0">
        <div class="content-item search-result__item-publication" ng-repeat="pub in vm.results[1]"
             ng-click="vm.openModalPublication(+pub.id)">
            <div class="user-publication">
                <div class="user-publication-header">
                    <div class="user-function">
                        <a class="user" ng-if="!+pub.is_anonym" ui-sref="{{vm.getStateName(pub)}}"
                           ng-click="$event.stopPropagation()">
							<span class="ava">
								<img ng-src="{{pub.pl_avatar || pub.gr_avatar || pub.usr_avatar}}" alt="">
							</span>
							<span class="block-info">
								<p class="user-name">{{::vm.getAuthorName(pub)}}</p>
								<p class="time" am-time-ago="pub.created_at"></p>
							</span>
                        </a>
                <span class="user" ng-if="+pub.is_anonym">
                    <span class="block-info">
                        <p class="user-name">Анонимная публикация</p>
                        <p class="time" am-time-ago="pub.created_at"></p>
                    </span>
                </span>
                    </div>
                </div>

                <div class="user-publication-content">
                    <p class="publication-text" ng-bind-html="pub.text | colonToSmiley"></p>

                    <div class="publication-ava" ng-click="showPublication(pub)">
                        <a href>
                            <img ng-src="{{pub.url}}">
                        </a>
                    </div>
                </div>

                <div class="likes">
                    <div class="likes-item">
                        <a href class="like">Тема</a>

                        <p class="like-item">
                            <span class="count-like" ng-if="+pub.cnt_likes > 0">В теме {{::+pub.cnt_likes}} чел.</span>
                        </p>
                    </div>
                    <span class="comments-count">{{::+pub.cnt_comments}}</span>
                </div>
            </div>
        </div>
    </div>
</div>