<div class="places-page-category-wrap">
    <div class="places-category-item">
        <div class="places-item-photo">
            <!-- <span class="places-item-new-place">NEW</span> -->
            <a class="places-item-photo-link" ui-sref="place">
                <img class="places-item-photo-img"
                  src="http://fuza.ru/uploads/posts/2011-06/1307559119_green-nature-road-1280x800.jpg"
                  alt="">
            </a>

            <div class="places-item-photo-place">
                <span>г. Санкт-Петербург</span>
            </div>
        </div>
        <div class="places-item-description">
            <p class="places-item-description-p">Расположен на северо-западе Российской Федерации, на
                                побережье Финского залива и в устье Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Facilis, ullam?</p>
        </div>
        <div class="places-item-rating">
            <span class="places-item-rating-like">176</span>
            <span class="places-item-rating-link">4</span>
        </div>
    </div>
    <div class="places-category-item">
        <div class="places-item-photo">
            <!-- <span class="places-item-new-place">NEW</span> -->
            <a class="places-item-photo-link" ui-sref="place">
                <img class="places-item-photo-img"
                  src="http://fuza.ru/uploads/posts/2011-06/1307559119_green-nature-road-1280x800.jpg"
                  alt="">
            </a>

            <div class="places-item-photo-place">
                <span>г. Санкт-Петербург</span>
            </div>
        </div>
        <div class="places-item-description">
            <p class="places-item-description-p">Расположен на северо-западе Российской Федерации, на
                                побережье Финского залива и в устье Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Facilis, ullam?</p>
        </div>
        <div class="places-item-rating">
            <span class="places-item-rating-like">176</span>
            <span class="places-item-rating-link">4</span>
        </div>
    </div>
    <div class="places-category-item">
        <div class="places-item-photo">
            <!-- <span class="places-item-new-place">NEW</span> -->
            <a class="places-item-photo-link" ui-sref="place">
                <img class="places-item-photo-img"
                  src="http://fuza.ru/uploads/posts/2011-06/1307559119_green-nature-road-1280x800.jpg"
                  alt="">
            </a>

            <div class="places-item-photo-place">
                <span>г. Санкт-Петербург</span>
            </div>
        </div>
        <div class="places-item-description">
            <p class="places-item-description-p">Расположен на северо-западе Российской Федерации, на
                                побережье Финского залива и в устье Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Facilis, ullam?</p>
        </div>
        <div class="places-item-rating">
            <span class="places-item-rating-like">176</span>
            <span class="places-item-rating-link">4</span>
        </div>
    </div>         
</div>