<div class="groups">
	<div class="group">
        <div class="group-cover">
            <span class="groups-item-new-group">NEW</span>
                <a href="javascript:void(0);" class="group-ava">
                    <!--<img ng-src="{{group.avatar}}">-->
                    <img src="http://www.pageresource.com/wallpapers/wallpaper/cool-beautiful-nature-road.jpg">
                </a>

            <div class="group-likes">
                <a href="" class="group-like">12</a>
                <a href="" class="group-comments">10</a>
            </div>
        </div>
        <div class="titles">
            <a href class="title">Имя группы</a>
            <p class="about">О группе</p>
        </div>
        <button class="wright" ng-if="!group.is_sub" ng-click="subscribe(group)">Подписаться</button>
        <!-- <button class="wright" ng-if="group.is_sub && !group.is_creator" ng-click="subscribe(group)">Отписаться</button>
        <button class="wright" ng-if="group.is_sub && group.is_creator" ng-click="openModalUnsubscribeCreator()">Отписаться</button> -->
    </div>


    <div class="group"
        ng-repeat="group in [1,2,3,4,5]">
        <div class="group-cover">
            <span class="groups-item-new-group" ng-if="group.is_new_group">NEW</span>
               <a ui-sref="group({groupName: group.url_name, groupId: group.id})" class="group-ava">
                    <!--<img ng-src="{{group.avatar}}">-->
                    <img ngf-src="group.card_avatar" ngf-as-background="true">
                </a>

            <div class="group-likes">
                <a href="" class="group-like">{{::group.count_user}}</a>
                <a href="" class="group-comments">{{::group.publications}}</a>
            </div>
        </div>
        <div class="titles">
            <a href ng-class="{'groups-locked-icon': !group.is_open}" class="title">{{::group.name}}</a>
            <p ng-bind-html="group.description | colonToSmiley" class="about"></p>
        </div>
        <button class="wright" ng-if="!group.is_sub" ng-click="subscribe(group)">Подписаться</button>
        <button class="wright" ng-if="group.is_sub && !group.is_creator" ng-click="subscribe(group)">Отписаться</button>
        <button class="wright" ng-if="group.is_sub && group.is_creator" ng-click="openModalUnsubscribeCreator()">Отписаться</button>
    </div>
</div>