<div>
	<div class="search-page">
		<div class="place-menu-wrap">
			<div class="group-menu">
				<div class="group-menu-item">
					<div class="counts">
						<a ui-sref="search.people" ui-sref-active="active" class="counter">
							<p>Люди</p>
							<span>{{vm.results[0].length}}</span>
						</a>
						<a ui-sref="search.publications" ui-sref-active="active" class="counter">
							<p>Публикации</p>
							<span>{{vm.results[1].length}}</span>
						</a>
						<a ui-sref="search.places" ui-sref-active="active" class="counter">
							<p>Места</p>
							<span>{{vm.results[3].length}}</span>
						</a>
						<a ui-sref="search.groups" ui-sref-active="active" class="counter">
							<p>Группы</p>
							<span>{{vm.results[2].length}}</span>
						</a>

					</div>
				</div>
			</div>
		</div>
		<div class="search-tab-container" ui-view>
			<h4 class="text-center" ng-if="!vm.isResults">Ничего не найдено</h4>
		</div>
	</div>
</div>