
<div>
    <div class="check-in" ng-hide="dataLoaded">
               <div class="form">
                        <a class="logo" href=""></a>
                        <h1 class="slogan">С теми, кто в теме</h1>  
                </div>
                <div class="preloader"></div>
    </div>    
    <div class="check-in recovery" ng-show="dataLoaded && !hideForm">
       <div class="form">
                <a class="logo" href=""></a>
                <h1>С теми, кто в теме</h1>  
                <button class="check-in-button" ng-click="loginPage();">Войти</button>
                <a class="registration-button" ui-sref="reg"><span></span>Регистрация</a>
       </div>
    </div>
</div>
<footer>
    <div class="footer">
        <div class="footer-item">
                    <div class="footer-place">
                        <a href="">Place People </a>
                        <span>© 2016</span>
                    </div>
                    <!-- <div class="payment">
                        <a class="mastercard" href=""></a>
                        <a class="visa" href=""></a>
                    </div> -->
        </div>
        <div class="menu" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'open-bottom-menu' : ''" ng-init="showBottomMenu=true;">
            <a class="drop-menu" href="" ></a>
            <div class="menu-item" ng-show="showBottomMenu">                           
                <a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})">{{staticPage.description}}</a>                  
            </div>
        </div>
    </div>
</footer>
