<div ng-controller="authCtrl">    
      
            <!-- <div class="check-in">
                       <div class="form">
                                <a class="logo" href=""></a>
                                <h1 class="slogan">С теми, кто в теме</h1>  
                        </div>
                        <div class="preloader"></div>
            </div> -->
            <!-- REGISTRATION -->
        <div class="check-in">
               <div class="form">
                        <a class="logo" href=""></a>
                        <h1>С теми, кто в теме</h1>  

                         <!-- first  step-- city & phone -->
                        <div class="form-item">
                                    <h5>Регистрация</h5>
                                    <form>
                                        <div class="city-field">
                                                <span class="city"></span>
                                                <select>
                                                        <option>Москва</option>
                                                        <option>Москва</option>
                                                        <option>Москва</option>
                                                        <option>Москва</option>
                                                        <option>Москва</option>
                                                        <option>Москва</option>
                                                        <option>Москва</option>
                                                        <option>Москва</option>
                                                </select>
                                                <span class="city-inner"></span>
                                        </div>
                                        <div class="phone-field">
                                        <span class="phone"></span>
                                                    <input type="tel" name="" placeholder="Введите номер телефона...">
                                        </div>
                                        <p class="capcha-tel">Поле обязательно для заполнения</p>
                                    </form>
                                    <button class="check-in-button">Зарегистрироваться</button>
                        </div> 
<!-- end of 1 step -->
                          <!-- second  step-- city & phone -->
                        <!-- <div class="form-item">
                                    <h5>Регистрация</h5>
                                    <form>
                                        <div class="code-field">
                                            <span class="code"></span>
                                                        <input type="text" name="" placeholder="Введите код...">
                                            </div>
                                            <p class="capcha-code">Поле обязательно для заполнения</p>
                                    </form>
                                    <button class="check-in-button">Зарегистрироваться</button>
                        </div>  -->
                        <!-- end of step 2 -->
           <!--      </div>
        </div> -->  

         <!--  third  step-- city & phone -->
         <!-- отлдельный блок вместо блока с первыми шагами -->
        <!-- <div class="check-in registration">
               <div class="form">
                        <a class="logo" href=""></a>
                        <h1>С теми, кто в теме</h1>  
                        <div class="form-item ">
                                    <form>
                                        <div class="add-ava"></div>
                                        <div class="name-field">
                                                    <span class="name"></span>
                                                    <input type="text" name="" placeholder="Введите ваше имя...">
                                        </div>
                                        <p class="capcha-name">Поле обязательно для заполнения</p>
                                        <div class="user-field">
                                                    <span class="user"></span>
                                                    <input type="text" name="" placeholder="Введите ваш логин...">
                                        </div> 
                                        <p class="capcha-user">Поле обязательно для заполнения</p>
                                        <div class="sex-field">
                                                <span class="sex"></span>
                                                <select>
                                                        <option>Мужской</option>
                                                        <option>Женский</option>
                                                </select>
                                                <span class="sex-inner"></span>
                                        </div>
                                        <div class="password-field">
                                                    <span class="password"></span>
                                                    <input type="password" name="" placeholder="Введите ваш пароль...">
                                        </div>
                                        <p class="capcha-password">Поле обязательно для заполнения</p>
                                    </form>
                                    <button class="check-in-button">Готово</button>
                        </div> 

               </div>
        </div> -->

        <!-- END OF REGISTRATION -->

        <!-- RECOVERY -->
        <!-- <div class="check-in recovery">
               <div class="form">
                        <a class="logo" href=""></a>
                        <h1>С теми, кто в теме</h1>  
                        <button class="check-in-button">Войти</button>
                        <a class="registration-button" href=""><span></span> Регистрация</a>
               </div>
        </div> -->

        <!-- <div class="check-in recovery">
               <div class="form">
                        <a class="logo" href=""></a>
                        <input class="text-field" type="text" name="" placeholder="Ваш номер телефона...">
                        <p>На этот номер телефона мы oтправим вам SMS с кодом</p>
                        <button class="check-in-button">Отправить код</button>
                        <a class="registration-button enter-button" href="">Войти</a>
               </div>
        </div> -->

        <!-- <div class="check-in recovery">
               <div class="form">
                        <a class="logo" href=""></a>
                        <input class="text-field" type="text" name="" placeholder="Введите код...">
                        <p>Введите код, полученный SMS сообщением на указанный номер телефона</p>
                        <button class="check-in-button">Востановить</button>
                        <a class="registration-button enter-button" href="">Войти</a>
               </div>
        </div> -->

         <!-- <div class="check-in recovery">
               <div class="form">
                        <a class="logo" href=""></a>
                        <input class="password-field-first" type="text" name="" placeholder="Придумайте новый пароль...">
                        <input class="password-field-second" type="text" name="" placeholder="Повторите пароль...">
                        <button class="check-in-button">Отправить</button>
               </div>
        </div>  -->

         <!-- <div class="check-in recovery">
               <div class="form">
                        <a class="logo" href=""></a>
                        <input class="password-field-first" type="text" name="" placeholder="Логин или номер телефона...">
                        <input class="password-field-second" type="text" name="" placeholder="Пароль...">
                        <button class="check-in-button">Войти</button>
                        <div class="remember">
                            <a href="">Забыли пароль? </a>
                            <a href="">Регистрация</a>
                        </div>
               </div>
        </div>  -->
<!-- END OF RECOVERY -->
</div>