<div class="registration-key">
	<div class="check-in" ng-hide="regConfirmed">
		<div class="form">
			<div class="logo"></div>
			<h1>С теми, кто в теме</h1>
			<div class="form-item" ng-hide="regStep1">
				<h5>Регистрация</h5>
				<form>                                       
					<div class="phone-field">
						<span id="phone" class="reg-key">{{newUserCountryId ? phoneCode : ''}}</span>
							<input id="phone-input" type="text" ng-model="inviteCode" ng-pattern="inviteCodeExp" placeholder="Введите регистрационный код..." required style="padding-left:{{calcPadding()}}px;">
					</div>                                        
					<p ng-show="wrongCode" class="capcha-tel">Введенный вами код неверен</p>
					<p ng-show="bruteForceError" class="capcha-tel">Вы превысили количество попыток не правильного ввода, попробуйте через 24 часа</p>
					<div class="key-prompt">
						<p>*Регистрационный код можно получить у зарегистрированных пользователей</p>
					</div>
				</form>
				<button class="check-in-button" ng-click="regWithCode(inviteCode)" ladda="codeSendLoader">Зарегистрироваться</button>
			</div>
		</div>
	</div>
</div>