<div class="check-in recovery">
	   <div class="form">
				<a class="logo" href=""></a>
				<input class="password-field-first" type="text" name="userLogin" placeholder="Логин или номер телефона..." ng-model="userLogin" ng-click="loginError=false;" ng-change="loginError=false;" ng-keypress="keyPress($event.keyCode)">
				<input class="password-field-second" type="password" name="userPassword" placeholder="Пароль..." ng-model="userPassword"  ng-click="loginError=false;" ng-change="loginError=false;" ng-keypress="keyPress($event.keyCode)">
				<p class="capcha" ng-show="loginError">{{loginError}}</p>
				<button class="check-in-button" ng-click="login(userLogin, userPassword);" ladda="loginLoader">Войти</button>
				<div class="remember">
					<a ui-sref="restore">Забыли пароль? </a>
					<a ui-sref="reg">Регистрация</a>
				</div>
	   </div>        
</div>