<div>
		<div class="check-in" ng-hide="regConfirmed">
			   <div class="form">
						<div class="reg-regions-list">
							<div class="region-name" ng-repeat="area in areas">
								<span>
									<img class="region-img" ng-src="{{area.img}}" alt="">
								</span>
								<a ng-click="selectArea(area.id)" href="javascript:void(0);">{{area.name}}</a>
							</div>
						</div>
						<div class="logo"></div>
						<h1>С теми, кто в теме</h1>
						<div class="form-item" ng-hide="regStep1">
									<h5>Регистрация</h5>
									<form>
										<div class="city-field">
												<span class="city"></span>
												<select ng-init="selectedOption = getTopics()[0]" ng-change="changeTopic(selectedOption)" ng-model="selectedOption" ng-options="topic.name for topic in getTopics() track by topic.id"></select>
												<span class="city-inner"></span>
										</div>
										<div ng-show="showAnotherTopic" class="phone-field">
											<span class="region"></span>
											<input type="text" placeholder="Напишите другую тему..." required style="padding-left:{{calcPadding()}}px;">
										</div> 
										<div class="city-field">
												<span class="city"></span>                                                
												<select ng-model="newUserCountryId" ng-options="country.id as country.name for country in countries" ng-change="setCoutryCode(country)" ng-click="nupnErr=false;" ng-change="nupnErr=false;" required>
												<option value="">Выберите страну...</option>
												</select>
												<span class="city-inner"></span>
										</div>                                        
										<div class="phone-field">
											<span id="phone" class="phone">{{newUserCountryId ? phoneCode : ''}}</span>
											<input id="phone-input" type="tel" ng-model="newUserPhoneNumber" ng-pattern="phoneRegExp" placeholder="Введите номер телефона..." ng-click="nupnErr=false;" ng-change="nupnErr=false;" required style="padding-left:{{calcPadding()}}px;">
										</div>                                        
										<p ng-show="nupnErr" class="capcha-tel">{{nupnErr}}</p>
									</form>
									<button class="check-in-button" ng-click="userRegisterS1();" ladda="codeSendLoader">Зарегистрироваться</button>
						</div>
						<a class="enter-button" ui-sref="login" ng-hide="regStep1">Войти </a>
						<div class="form-item" ng-show="regStep1">
									<h5>Регистрация</h5>
									<form>
										<div class="code-field">
											<span class="code"></span>
														<input type="text" name="" placeholder="Введите код..." ng-model="newUserSmsCode" ng-click="nuscErr=false;" ng-change="nuscErr=false;" required>
											</div>
											<p ng-show="nuscErr" class="capcha-code">{{nuscErr}}</p>
									</form>
									<button class="check-in-button" ng-click="userRegisterS2()" ladda="smsConfirmLoader">Зарегистрироваться</button>
						</div>
				</div>
		</div> 
		<div class="check-in registration" ng-show="regConfirmed && !userRegistred">
			   <div class="form">
						<div class="logo"></div>
						<h1>С теми, кто в теме</h1>                          
						<div class="form-item ">
									<form>
										<div class="add-ava" ng-init="showEditAva=true;">
											<input type="file" id="avatarImg"/>  
											<label for="avatarImg">                                            
												<span class="ava" ng-show="croppedFile">         
													<img data-ng-src="{{croppedFile}}" style="width:100%;">
												</span>
												<span class="add" ng-class="croppedFile ? 'edit-ava' : ''"  ng-mouseover="showEditAva=true;" ng-mouseleave="showEditAva=false;" ng-click="showEditAva=!showEditAva">
													<span class="add-photo" ng-show="!croppedFile || showEditAva"></span>
												</span>
											</label>                                         
										</div>                        
										<div class="name-field">
													<span class="name"></span>
													<input type="text" ng-model="newUserName" placeholder="Введите ваше имя..." ng-click="nunErr=false;" ng-change="nunErr=false;">
										</div>
										<p ng-show="nunErr" class="capcha-name">{{nunErr}}</p>
										<div class="lastname-field">
													<span class="lastname"></span>
													<input type="text" ng-model="newUserLastName" placeholder="Введите вашу фамилию..." ng-click="nusErr=false;" ng-change="nusErr=false;">
										</div>
										<p ng-show="nusErr" class="capcha-name">{{nusErr}}</p>
										<div class="user-field">                                        
													<span class="user"></span>
													<input type="text" ng-model="newUserLogin" placeholder="Введите ваш логин..." ng-click="nulErr=false;" ng-change="nulErr=false;">
										</div> 
										<p ng-show="nulErr" class="capcha-user">{{nulErr}}</p>
										<div class="sex-field">
											<span class="sex"></span>
											<select ng-model="newUserGender" ng-options="gender.sign as gender.title for gender in [{sign:1, title:'Мужской'}, {sign:0, title:'Женский'}]" ng-click="nugErr=false;" ng-change="nugErr=false;" required>
											<option value="">Выберите пол...</option>
											</select>    
										</div>                              
										<p ng-show="nugErr" class="capcha-user">{{nugErr}}</p>
										<div class="password-field">
													<span class="password"></span>
													<input type="password"  ng-model="newUserPassword" placeholder="Введите ваш пароль..." ng-click="nupErr=false;" ng-change="nupErr=false;">
										</div>
										<p ng-show="nupErr" class="capcha-password">{{nupErr}}</p>
									</form>
									<button class="check-in-button" ng-click="userRegisterS3(newUserName, newUserLastName, newUserGender, newUserLogin, newUserPassword, newUserCountryId, newUserId)" ladda="regLoader">Готово</button>
						</div>
			   </div>
		</div>        
	</div>