<div>
        <div class="check-in" ng-hide="regConfirmed">
               <div class="form">
                        <a class="logo" href=""></a>
                        <h1>С теми, кто в теме</h1>
                        <div class="form-item" ng-hide="regStep1">
                                    <h5>Регистрация</h5>
                                    <form>
                                        <div class="city-field">
                                                <span class="city"></span>                                                
                                                <select ng-model="newUserCountryId" ng-options="country.id as country.name for country in countries" ng-change="setCoutryCode(country)" ng-click="nupnErr=false;" required>
                                                <option value="">Выберите страну...</option>
                                                </select>
                                                <span class="city-inner"></span>
                                        </div>                                        
                                        <div class="phone-field">
                                            <span id="phone" class="phone">{{newUserCountryId ? phoneCode : ''}}</span>
                                            <input id="phone-input" type="tel" ng-model="newUserPhoneNumber" ng-pattern="phoneRegExp" placeholder="Введите номер телефона..." ng-click="nupnErr=false;" required style="padding-left:{{calcPadding()}}px;">
                                        </div>                                        
                                        <p ng-show="nupnErr" class="capcha-tel">{{nupnErr}}</p>
                                    </form>
                                    <button class="check-in-button" ng-click="userRegisterS1();" ladda="codeSendLoader">Зарегистрироваться</button>
                        </div>
                        <div class="form-item" ng-show="regStep1">
                                    <h5>Регистрация</h5>
                                    <form>
                                        <div class="code-field">
                                            <span class="code"></span>
                                                        <input type="text" name="" placeholder="Введите код..." ng-model="newUserSmsCode" ng-click="nuscErr=false;" required>
                                            </div>
                                            <p ng-show="nuscErr" class="capcha-code">{{nuscErr}}</p>
                                    </form>
                                    <button class="check-in-button" ng-click="userRegisterS2()" ladda="smsConfirmLoader">Зарегистрироваться</button>
                        </div>
                </div>
        </div> 
        <div class="check-in registration" ng-show="regConfirmed && !userRegistred">
               <div class="form">
                        <a class="logo" href=""></a>
                        <h1>С теми, кто в теме</h1>
                          <!--  flow-init flow-file-added="handleFileSelect($file, $event, $flow)"  -->
                          <!-- <input type="file" name="file" id="avatarImg" flow-btn> -->
                        <div class="form-item ">
                                    <form>
                                        <div class="add-ava" ng-init="showEditAva=true;">                                           
                                            <input type="file" id="avatarImg"/>  
                                            <label for="avatarImg">                                            
                                                <span class="ava" ng-show="croppedFile">         
                                                    <img data-ng-src="{{croppedFile}}" style="width:100%;">
                                                </span>
                                                <span class="add" ng-class="croppedFile ? 'edit-ava' : ''"  ng-mouseover="showEditAva=true;" ng-mouseleave="showEditAva=false;" ng-click="showEditAva=!showEditAva">
                                                    <span class="add-photo" ng-show="!croppedFile || showEditAva"></span>
                                                </span>
                                            </label>                                         
                                        </div>                        
                                        <div class="name-field">
                                                    <span class="name"></span>
                                                    <input type="text" ng-model="newUserName" placeholder="Введите ваше имя..." ng-click="nunErr=false;">
                                        </div>
                                        <p ng-show="nunErr" class="capcha-name">{{nunErr}}</p>
                                        <div class="lastname-field">
                                                    <span class="lastname"></span>
                                                    <input type="text" ng-model="newUserLastName" placeholder="Введите вашу фамилию..." ng-click="nusErr=false;">
                                        </div>
                                        <p ng-show="nusErr" class="capcha-name">{{nusErr}}</p>
                                        <div class="user-field">                                        
                                                    <span class="user"></span>
                                                    <input type="text" ng-model="newUserLogin" placeholder="Введите ваш логин..." ng-click="nulErr=false;">
                                        </div> 
                                        <p ng-show="nulErr" class="capcha-user">{{nulErr}}</p>
                                        <div class="sex-field">
                                            <span class="sex"></span>
                                            <select ng-model="newUserGender" ng-options="gender.sign as gender.title for gender in [{sign:1, title:'Мужской'}, {sign:0, title:'Женский'}]" ng-click="nugErr=false;" required>
                                            <option value="">Выберите пол...</option>
                                            </select>    
                                        </div>                              
                                        <p ng-show="nugErr" class="capcha-user">{{nugErr}}</p>
                                        <div class="password-field">
                                                    <span class="password"></span>
                                                    <input type="password"  ng-model="newUserPassword" placeholder="Введите ваш пароль..." ng-click="nupErr=false;">
                                        </div>
                                        <p ng-show="nupErr" class="capcha-password">{{nupErr}}</p>
                                    </form>
                                    <button class="check-in-button" ng-click="userRegisterS3(newUserName, newUserLastName, newUserGender, newUserLogin, newUserPassword, newUserCountryId, newUserId)" ladda="regLoader">Готово</button>
                        </div>
               </div>
        </div>        
    </div>
    <footer>
        <div class="footer">
            <div class="footer-item">
                        <div class="footer-place">
                            <a href="">Place People </a>
                            <span>© 2016</span>
                        </div>
                        <div class="payment">
                            <a class="mastercard" href=""></a>
                            <a class="visa" href=""></a>
                        </div>
            </div>
            <div class="menu" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'open-bottom-menu' : ''" ng-init="showBottomMenu=true;">
                <a class="drop-menu" href="" ></a>
                <div class="menu-item" ng-show="showBottomMenu">                           
                    <a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})">{{staticPage.description}}</a>                  
                </div>
            </div>
        </div>
    </footer>
