<div>  
  <div class="check-in recovery" ng-show="!smsSend">
         <div class="form">
                  <a class="logo" href=""></a>
                  <input class="text-field" type="text" name="" placeholder="Ваш номер телефона..." ng-model="restoreUserPhone" ng-pattern="phoneRegExp" ng-click="restoreUserPhoneError=false;">
                  <p ng-show="restoreUserPhoneError" class="capcha">По данному телефону нет зарегистрированных пользователей</p>
                  <p>На этот номер телефона мы oтправим вам SMS с кодом</p>
                  <button class="check-in-button" ng-click="sendRestoreSms()">Отправить код</button>
                  <a class="registration-button enter-button" ui-sref="login">Войти</a>
         </div>
  </div>

  <div class="check-in recovery" ng-show="smsSend && !smsConfirmed">
         <div class="form">
                  <a class="logo" href=""></a>
                  <input class="text-field" type="text" name="" placeholder="Введите код..." ng-model="restoreUserSms" ng-click="restoreUserSmsError=false;">                  
                  <p>Введите код, полученный SMS сообщением на указанный номер телефона</p>
                  <p ng-show="restoreUserSmsError" class="capcha">Код введён не верно</p>
                  <button class="check-in-button" ng-click="sendRestoreCode()">Востановить</button>
                  <a class="registration-button enter-button" ui-sref="login">Войти</a>
         </div>
  </div>

   <div class="check-in recovery" ng-show="smsConfirmed">
         <div class="form">
                  <a class="logo" href=""></a>
                  <input class="password-field-first" type="password" name="" placeholder="Придумайте новый пароль..." ng-model="restoreUserPwd"ng-click="restoreUserPwdError=false;">
                  <input class="password-field-second" type="password" name="" placeholder="Повторите пароль..." ng-model="restoreUserPwdConf"ng-click="restoreUserPwdError=false;">
                  <p ng-show="restoreUserPwdError" class="capcha">Пароли не совпадают</p>
                  <p ng-show="changePwdSuccess">Пароль успешно изменён</p>
                  <button class="check-in-button" ng-click="setNewPwd()">Отправить</button>
         </div>
  </div>
</div>
<footer ng-include="'../app/common/views/unauth_footer.html'"></footer> 