
.cp{cursor:pointer}
.m0{margin:0px;}
.p0{padding:0px;}
.m5{margin:5px;}
.p5{padding:5px;}

.daosn2{width:180px; height:auto; padding:5px; background-color:#fff; border:1px #999 solid; cursor:pointer; text-align:center; color:#333; border-right:0px solid;}
.daosn3{height:auto;}
.daosn4{background-color:#f1f1f1;}

.miniText{width:40px; text-align:center;}
.b{color:#000;}