photo
.cp{cursor:pointer}
.m0{margin:0px;}
.p0{padding:0px;}
.m5{margin:5px;}
.p5{padding:5px;}

.daosn2{width:180px; height:auto; padding:5px; background-color:#fff; border:1px #999 solid; cursor:pointer; text-align:center; color:#333; border-right:0px solid;}
.daosn3{height:auto;}
.daosn4{background-color:#f1f1f1;}

.miniText{width:60px; text-align:center;display: inline-block;}
.b{color:#000;}
.admin-table {
	padding-right: 5px;
	box-sizing: border-box;
}
.admin-table table,
.admin-table table tbody,
.admin-table table tbody tr,
.admin-table table tbody tr td div{
	width: 100%;
}
.admin-table table tbody tr td {
	width: 14.5%;
}
.admin-table table tbody tr td:nth-child(4) {
	width: 16%;
}
.admin-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 5px;
    	flex-wrap: wrap;
}
.admin-info .input-group {
	display: block;
	overflow: hidden;
}
.admin-info .input-group span,
.admin-info .input-group input {
	float: left;
}
.admin-info .input-group span {
	display: block;
	height: 34px;
	width: 36px;
}
.admin-table table tbody tr td div {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
	min-height: 50px;
	max-height: 70px;
	height: auto;
}
.sort {
	text-decoration: underline;
	font-size: 16px;
}
.daosn3 {
	display: flex;
    	align-items: center;
    	margin: 10px 0;
}
.daosn3 p {
	margin: 0 5px;
	display: flex;
	align-items: center;
	line-height: 12px;
}
.daosn3 p input[type=checkbox] {
	margin: 0px 5px 0 0;
}
.daosn3 select,
.daosn3 input[type='text'] {
	height: 34px;
}
.daosn3.key input[type='text'] {
	margin-left: 5px;
}
.controls .input-group {
	margin-bottom: 0;
}
.daosn3.age select{
	margin: 0 5px;
}
#datatable_wrapper .row  {
	display: flex;
    	align-items: flex-end;
}
#datatable_wrapper .row .col-sm-6 {
	width: 50%;
}
#datatable_wrapper .dataTables_length,
#datatable_wrapper .row .col-sm-12 {
	width: 100%;
}
#datatable_wrapper .dataTables_length label {
	width: 100%;
}
#datatable_wrapper .dataTables_length label .form-control {
	display: inline-block;
    	width: auto;
}
@media (max-width: 737px) {
	.admin-table table tbody tr td div {
		font-size: 11px;
	}
	.admin-table table tbody tr td {
		width: 14%;
	}
	.admin-table table tbody tr td:nth-child(2) {
		width: 16%;
	}
	.admin-table table tbody tr td:nth-child(4) {
		width: 19%;
	}
}
@media (max-width: 570px) {
	.admin-table table tbody tr td div {
		min-height: 70px;
	}
}
.admin-user-page-ava {
	width: 250px;
	height: 250px;
}
.admin-user-content-table table {
	width: 100%;
}
.table img {
	height: 50px;
	width: 50px;
	margin-bottom: 3px;
}
.admin-user-content-table table thead th {
	vertical-align: middle;
}
.admin-user-content-table-col-img {
	width: 20%;
	text-align: center;
}
.admin-users-select select {
	padding: 5px;
	margin-bottom: 10px;
}
.admin-user-contacts-pagination {
	text-align: center;
}
.admin-settings-menu {
	margin: 0;
	margin-bottom: 10px;
}
.admin-settings-menu li {
	border: 1px solid #ddd;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	list-style: none;
}
/*.admin-settings-menu li.active,*/
.ui-tabs-active  {
	background-color: #ddd;
}
.admin-settings-menu li:hover {
	background-color: #f1f1f1;
}
.admin-settings-menu li a {
	text-decoration: none;
}
.admin-settings-data h2 {
	margin: 30px 0 30px 0px;
}
.admin-settings-data div.col-md-3,
.admin-settings-data div.col-md-4 {
	line-height: 34px;
}
.admin-settings-data .row {
	margin-bottom: 20px;
}
.admin-settings-limit {
	margin: 0;
}
.admin-settings-limit .cmn-toggle {
	display: inline-block;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 28px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;
}
.admin-settings-limit-toggle-btn {
	width: 100%;
	display: flex;
	align-items: center;
}
.admin-settings-limit .switch {
	margin-left: 10px;
}
.row-margin-none {
	margin: 0;
}
.admin-delete-menu {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.admin-delete-menu-inner {
	width: 75%;
	display: flex;
}
.admin-delete-btn {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;
}
.admin-delete-menu-inner .item {
	width: 25%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	cursor: pointer;
}
.admin-delete-menu-inner .item.active {
	background-color: #f1f1f1;
}
.admin-user-page .row,
.admin-user-page-content .row,
.admin-user-page-contacts .row,
.admin-settings .row,
.admin-settings-limit .row {
	margin-left: 0px;
	margin-right: 0px;
	box-sizing: border-box;
}
.admin-user-contacts a {
	text-decoration: none;
}
.admin-user-contacts-action {
	text-align: center;
	vertical-align: middle;
}
.admin-user-contacts-action p {
	margin: 0;
}
.table>thead>tr>th,
.table>tbody>tr>td {
	word-wrap: break-word;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 5px;
}
.admin-user-content-table .col-id {
	width: 25px;
}
.admin-user-content-table .col-description {
	width: 30%;
}
.admin-user-content-table .col-author {
	width: 7%;
}
.admin-user-content-table .col-name {
	width: 10%;
}
.admin-user-content-table .col-img {
	width: 20%;
}
.admin-user-content-table .col-video {
	width: 20%;
}
.admin-user-content-table .col-time {
	width: 10%;
}
.admin-user-content-table .col-action {
	width: 10%;
}
.admin-user-content-publication .col-id {
	width: 25px;
}
.admin-user-content-publication .col-text {
	width: 30%;
}
.admin-user-content-publication .col-author {
	width: 10%;
}
.admin-user-content-publication .col-img {
	width: 20%;
}
.admin-user-content-publication .col-video {
	width: 20%;
}
.admin-user-content-publication .col-time {
	width: 10%;
}
.admin-user-content-publication .col-action {
	width: 10%;
}


.admin-user-contacts .col-id {
	width: 5%;
}
.admin-user-contacts .col-ava {
	width: 10%;
}
.admin-user-contacts .col-name {
	width: 20%;
}
.admin-user-contacts .col-gender {
	width: 10%;
}
.admin-user-contacts .col-age {
	width: 10%;
}
.admin-user-contacts .col-registration {
	width: 15%;
}
.admin-user-contacts .col-action {
	width: 15%;
}
.admin-user-contacts .col-type {
	width: 10%;
}
.moderator-comments .col-comments-place {
	width: 35%;
}
.moderator-comments .col-comments-text {
	width: 40%;
}
.moderator-comments .col-comments-author {
	width: 20%;
}
.moderator-comments .col-comments-action {
	width: 10%;
}
.moderator-time-to-work p {
	margin: 0 5px;
}
.admin-moderator-avatar {
	text-align: center;
}
.admin-moderator-avatar div {
	width: 100%;
	padding: 10px 0 10px 0;
}
.admin-moderator-avatar img {
	width: 100px;
	height: 100px;
}
.add-admin-button {
	position: absolute;
	right: 0;
	top: 0;
}
table thead {
	background-color: #f1f1f1;
}
div table.table>thead>tr>th {
	text-align: center;
	vertical-align: middle;
}
div table.table>tbody>tr:hover {
	background-color: #f1f1f1;
}
.admin-moderators .id {
	width: 4%;
}
.admin-moderators .photo {
	width: 6%;
}
.admin-moderators .name {
	width: 14%;
}
.admin-moderators .time {
	width: 40%;
}
.admin-moderators .process {
	width: 20%;
}
.admin-moderators .do {
	width: 10%;
}
.btn.btn-success.save {
	margin-bottom: 15px;
}
.table .mini-image {
	text-align: center;
}
.table .mini-image img {
	width: 40px;
	height: 40px;
}
.table .mini-image {
	width: 140px;
}
.img-center {
	text-align: center;
}
.moderator-content-table.publication .col-id {
	width: 5%;
}
.moderator-content-table.publication .col-text {
	width: 20%;
}
.moderator-content-table.publication .col-author {
	width: 10%;
}
.moderator-content-table.publication .col-img {
	width: 15%;
}
.moderator-content-table.publication .col-video {
	width: 15%;
}
.moderator-content-table.publication .col-time {
	width: 9%;
}
.moderator-content-table.publication .col-do {
	width: 30%;
}
.moderator-content-table.publication tbody tr button {
	margin-bottom: 5px;
}
.moderator-content-table.groups .col-id {
	width: 4%;
}
.moderator-content-table.groups .col-title {
	width: 12%;
}
.moderator-content-table.groups .col-description {
	width: 14%;
}
.moderator-content-table.groups .col-cover {
	width: 6%;
}
.moderator-content-table.groups .col-author {
	width: 10%;
}
.moderator-content-table.groups .col-count {
	width: 7%;
}
.moderator-content-table.groups .col-time {
	width: 9%;
}
.moderator-content-table.groups .col-do {
	width: 22%;
}
.moderator-complaints .col-id {
	width: 4%;
}
.moderator-complaints .col-text {
	width: 15%;
}
.moderator-complaints .col-author {
	width: 10%;
}
.moderator-complaints .col-img {
	width: 15%;
}
.moderator-complaints .col-who {
	width: 10%;
}
.moderator-complaints .col-complains {
	width: 10%;
}
.moderator-complaints .col-do {
	width: 35%;
}
.moderator-complaints table tbody tr td,
.moderator-comments table tbody tr td,
.admin-mail-to table tbody tr td,
.admin-moderators tbody tr td,
.admin-users tbody tr td,
.moderator-content-table table tbody tr td,
.to-delete table tbody tr td,
.to-delete-groups table tbody tr td,
.country table tbody tr td {
	vertical-align: middle;
}
table tbody tr td:first-child {
	text-align: center;
}
.moderator-comments table tbody tr td:first-child {
	text-align: left;
}
.buttons, button, .btn {
    margin-bottom: 0px; 
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.admin-settings-menu li a {
	display: block;
	width: 100%;
}
.admin-settings-menu li.col-md-3,
.admin-settings-menu li.col-md-2,
.admin-settings-menu li.col-md-1,
.admin-settings-menu li.col-md-4 {
	padding-left: 0px;
	padding-right: 0px;
}
.admin-mail-to .col-id {
	width: 4%;
}
.admin-mail-to .col-ava {
	width: 6%;
}
.admin-mail-to .col-name {
	width: 10%;
}
.admin-mail-to .col-mail {
	width: 10%;
}
.admin-mail-to .col-message {
	width: 22%;
}
.admin-mail-to .col-registration {
	width: 9%;
}
.admin-mail-to .col-type {
	width: 20%;
}
.moderators-process p {
	margin: 0;
}
.admin-moderators a.btn {
	margin-top: 5px;
}
table tbody tr td {
	    word-break: break-word;
}
.daosn3.age {
	width: 115px;
}
.daosn3.avatar label {
	margin-bottom: 0px;
}
.daosn3.gender {
	margin-left: 5px;
}
.admin-info {
	background-color: #dedede;
	color: #111;
	border-radius: 4px;
}
table.admin-users .col-id {
	width: 5%;
}
table.admin-users .col-ava {
	width: 7%;
}
table.admin-users .col-name {
	width: 10%;
}
table.admin-users .col-gender {
	width: 7%;
}
table.admin-users .col-age {
	width: 7%;
}
table.admin-users .col-date {
	width: 10%;
}
table.admin-users .col-status {
	width: 10%;
}
table.admin-users .col-do {
	width: 20%;
}
.admin-user-menu {
	list-style: none;
}
.admin-user-menu li {
	line-height: 34px;
	border: 1px solid #ddd;
	text-align: center;
}
.admin-user-menu li a {
	text-decoration: none;
}
.admin-user-menu li.active {
	background-color: #f1f1f1;
 }
.admin-user-menu li:hover {
	background-color: #f1f1f1;
 }
.user-groups .col-id {
	width: 5%;
}
.user-groups .col-title {
	width: 15%;
}
.user-groups .col-cover {
	width: 10%;
}
.user-groups .col-author {
	width: 20%;
}
.user-groups .col-count {
	width: 5%;
}
.user-groups .col-time {
	width: 10%;
}
.admin-user-menu li a,
.admin-settings-menu li a {
	display: block;
	width: 100%;
}
.promo li {
	margin-bottom: 5px;
}
.promo-create form label {
	margin-bottom: 5px;
}
.promo-create form .form-control {
	width: 300px;
}
.to-delete .col-id 	{
	width: 4%;
}
.to-delete .col-ava 	{
	width: 6%;
}
.to-delete .col-name 	{
	width: 15%;
}
.to-delete .col-gender 	{
	width: 9%;
}
.to-delete .col-age 	{
	width: 9%;
}
.to-delete .col-registration 	{
	width: 9%;
}
.to-delete .col-action 	{
	width: 15%;
}
.to-del-publ .col-id {
	width: 5%;
}
.to-del-publ .col-text {
	width: 17%;
}
.to-del-publ .col-author {
	width: 10%;
}
.to-del-publ .col-img {
	width: 17%;
}
.to-del-publ .col-video {
	width: 17%;
}
.to-del-publ .col-time {
	width: 10%;
}
.to-del-publ .col-action {
	width: 20%;
}
.to-delete-groups .col-id {
	width: 5%;
}
.to-delete-groups .col-description {
	width: 16%;
}
.to-delete-groups .col-author {
	width: 10%;
}
.to-delete-groups .col-name {
	width: 10%;
}
.to-delete-groups .col-img {
	width: 17%;
}
.to-delete-groups .col-video {
	width: 10%;
}
.to-delete-groups .col-time {
	width: 8%;
}
.to-delete-groups .col-action {
	width: 20%;
}
.to-del-places .col-id {
	width: 15%;
}
.base.country {
	width: 60%;
}
.country .col-id {
	width: 5%;
}
.country .col-title {
	width: 50%;
}
.country .col-do {
	width: 20%;
}
.settings-tab-common-inner.row {
	margin-bottom: 0;
}
.mg-l {
	margin-left: 20px;
}
#settings-tab-limit .row {
	margin-left: 20px;
}
.form.delete_user button {
	margin-bottom: 5px;
}
.line-h {
	line-height: 34px;
}
.country {
	margin-bottom: 10px;
}
.admin-settings-menu li a:active,
.admin-settings-menu li.active,
.admin-settings-menu li a:hover,
.admin-settings-menu li a.active {
	background-color: #ddd;
}
.lh {
	line-height: 34px;
	font-weight: 700;
	padding-left: 20px;
}
.admin-promo-main-img {
	margin-bottom: 10px;
}
.modal-footer button.btn.btn-default {
	margin: 5px;
}
.modal-footer button.btn {
	margin: 5px;
	min-width: 70px;
}
.modal-body {
	font-size: 15px;
}