<form name="$ctrl.newPublicationForm" ng-submit="$ctrl.submitNewPublication()" novalidate>
    <h5>Новая публикация</h5>

    <div class="publication">

        <div class="publication-item">
            <a class="user" ng-if="$ctrl.group" ui-sref="group({groupName: $ctrl.group.url_name})" ng-click="closeThisDialog()">
			    <span class="ava">
				    <img ng-src="{{::$ctrl.avatar}}">
			    </span>

                <p class="user-name">{{::$ctrl.authorName}}</p>
            </a>
            <a class="user" ng-if="$ctrl.place" ui-sref="place({placeName: $ctrl.place.url_name})" ng-click="closeThisDialog()">
			    <span class="ava">
				    <img ng-src="{{::$ctrl.avatar}}">
			    </span>

                <p class="user-name">{{::$ctrl.authorName}}</p>
            </a>
            <a class="user" ng-if="$ctrl.profile" ui-sref="user({username: $ctrl.profile.username})" ng-click="closeThisDialog()">
			    <span class="ava">
				    <img ng-src="{{::$ctrl.avatar}}">
			    </span>

                <p class="user-name">{{::$ctrl.authorName}}</p>
            </a>
            <a class="user" ng-if="$ctrl.feed" ui-sref="user({username: $ctrl.feed.username})" ng-click="closeThisDialog()">
			    <span class="ava">
				    <img ng-src="{{::$ctrl.avatar}}">
			    </span>

                <p class="user-name">{{::$ctrl.authorName}}</p>
            </a>
        </div>

        <div class="text-field">

            <div emoji-form emoji-message="$ctrl.emojiMessage">
                <textarea id="messageInput" name="text" ng-model="$ctrl.emojiMessage.messagetext"></textarea>
                <a href class="emoji-button" id="emojibtn">
                    <i class="icon icon-emoji"></i>
                </a>
            </div>
        </div>

        <div class="error-messages" ng-messages="$ctrl.forms.newPublication.text.$error"
             ng-if="$ctrl.forms.newPublication.$invalid && $ctrl.forms.newPublication.$submitted">
            <div ng-message="required">Вы не заполнили текст публикации</div>
        </div>
        <div class="new-add" ng-scrollbar rebuild-on="rebuild:me" bottom rebuild-on-resize
             style="max-height: 250px; overflow:hidden; position:relative;">

            <div class="new-img" ng-repeat="file in $ctrl.files">
                <div class="inner" ng-mouseenter="file.showIsCover=true" ng-mouseleave="file.showIsCover=false">
                    <div class="close" ng-click="$ctrl.removeAttachFile($index)">
                        <div class="close-inner">
                            <p>Удалить</p>
                        </div>
                    </div>
                    <img ngf-thumbnail="file || '/thumb.jpg'">
                    <video width="200px" controls ngf-src="file"></video>
                    <div class="check" ng-class="{'js-isShow': file.isCover}" ng-click="$ctrl.setMainPubPhoto($index)"
                         ng-if="file.showIsCover || file.isCover">
                        <div class="check-inner">
                            <p>{{file.isCover ? 'Заставка публикации' : 'Сделать заставкой публикации'}}</p>
                        </div>
                    </div>
                </div>
                <p class="img-name">{{file.name}}</p>
            </div>
        </div>

        <div class="publication-footer">
            <div class="add-objects">
                <input id="add-main-pub-object" style="display: none;"
                       name="files1"
                       type="file"
                       ngf-select
                       ngf-accept="'image/*, video/*'"
                       ngf-pattern="'image/*, video/*'"
                       ng-model="$ctrl.filesPreview"
                       ngf-change="$ctrl.beforeAttachFileToPublication($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                       ngf-multiple="true"
                       ngf-keep="true"
                       required>


                <label for="add-main-pub-object"
                >
                    <span class="add"></span>
                    Добавить фото или видео *
                </label>

                <div class="error-messages" ng-messages="$ctrl.newPublicationForm.files1.$error"
                     ng-if="$ctrl.newPublicationForm.$invalid && $ctrl.newPublicationForm.$submitted">
                    <div ng-message="required">Вы не выбрали медиафайл</div>
                    <div ng-message="pattern">Выбранный файл не является фото или видео</div>
                </div>
            </div>
            <div class="publication-footer-button">
                <a href="" class="cansel" ng-click="closeThisDialog()">Отменить</a>
                <button type="submit" class="publication-button"
                        ladda="$ctrl.subForm" data-style="slide-right" ng-disabled="$ctrl.subForm">Опубликовать
                </button>
            </div>
        </div>

        <p class="publication-text"><span>* </span>{{ publishNewPubErr ? 'В публикации обязательны текст и файл' : 'Для
            создания публикации обязательным является добавление фото или видео'}} </p>

    </div>
</form>
