<div class="user-publication-bg" ng-click="openPreviousInfo(singlePublication.images)"></div>
<div class="user-publication">
	<div class="user-publication-header">
		<div class="user-function">
			<a class="user" ui-sref="user({username: singlePublication.user.login})" ng-click="closePopup()">
				<span class="ava">
					<img ng-src="{{singlePublication.user.avatar_path}}" alt="">
				</span>
				<p class="user-name">{{singlePublication.user.first_name}} {{singlePublication.user.last_name}}</p>
			</a>
			<div class="topic" ng-show="!!singlePublication.is_topic">Тема дня</div>
			<div class="user-menu" ng-click="$root.showUserMenu=!$root.showUserMenu"
				 click-outside="closeUserMenu()"
				 outside-if-not="user-menu">
				<div class="menu-item" ng-show="$root.showUserMenu">
					<div class="inner">
						<!-- <a href="" ng-click="editPub(singlePublication)">Редактировать</a> -->
						<a href="" ng-click="sharePub(singlePublication)">Переслать</a>
						<a href="" ng-click="getPubLink(singlePublication.id)">Получить ссылку</a>
						<a href ng-if="singlePublication.user_id !== loggedUserId" ng-click="openPubComplainBlock(singlePublication.id)">Пожаловаться</a>
						<!-- <a href="" ng-click="deletePub(singlePublication)">Удалить</a> -->
					</div>
				</div>
			</div>
		</div>
		<a href="javascript:void(0);" ng-click="returnToBack()" class="return">Назад</a>
	</div>
	<div class="user-publication-content">
		<div tabindex="1" ng-keydown="keyPress($event, singlePublication.images)" ng-click="openNextInfo(singlePublication.images)" class="publication-ava main-image-publication">
			<img ng-if="mainImage" ng-src="{{mainImage}}">
			<video ng-if="mainVideo" width="150px" controls ngf-src="mainVideo"></video>
		</div>				
		<div class="publication-images" ng-scrollbar rebuild-on="loadPubFiles" style="max-height:175px; overflow:hidden; position:relative;" ng-hide="singlePublication.images.length === 1">		

			<div ng-click="changeMainFile(file, null, null, $index)" ng-repeat="file in singlePublication.images.concat(singlePublication.videos) | limitTo: limit as results" class="images-item">
				<img ng-src="{{file.url}}" ng-if="file.pivot.image_id">
				<video width="150px" controls ngf-src="file.url" ng-if="file.pivot.video_id"></video>				
			</div>

			<div ng-hide="results.length === (singlePublication.images.length + singlePublication.videos.length)" class="images-item more" ng-click="loadMorePubFiles(results.length === (singlePublication.images.length + singlePublication.videos.length))">
				<p class="counter">Еще<br> {{(singlePublication.images.length + singlePublication.videos.length)  - limit}} файлов</p>
			</div>

		</div> 
		<p class="publication-text" ng-click="goToSearch(splitText(singlePublication.text))" ng-bind-html="splitText(singlePublication.text) | colonToSmiley | linkCheck"></p>
	</div>
	<div class="likes">
		<div class="likes-item">
			<a href="javascript:void(0);" ng-click="addPublicationLike(singlePublication, singlePublication.user.id == loggedUserId)" class="like" ng-class="singlePublication.user_like ? 'active': ''">Тема</a>
			<p class="like-item" ng-if="singlePublication.like_count > 0">
				В теме 
				<span ng-show="singlePublication.user_like" class="you"> Вы </span>
				<span ng-show="singlePublication.user_like && singlePublication.like_count > 1" class="more">и еще</span>
				<span class="count-like" ng-hide="singlePublication.user_like && singlePublication.like_count == 1">{{singlePublication.user_like ? singlePublication.like_count - 1 : singlePublication.like_count}} чел.</span>		
			</p>
		</div>
		<a href class="comments-count" ng-if="singlePublication.comment_count > 0">{{singlePublication.comment_count}}</a>
	</div>
	<div class="more-comments" ng-show="singlePublication.comments.length !== singlePublication.comment_count">
		<a href="javascript:void(0);" ng-click="getAllCommentsPublication('feedPage', singlePublication, true)" class="all-comments">Еще {{singlePublication.comment_count - singlePublication.comments.length}} комментариев</a>
	</div>
	<div ng-hide="singlePublication.comments.length === 0" class="visible-comments">
		<div ng-repeat="comment in singlePublication.comments" class="user-comment" ng-init="comment.commentLength = 250;">
			<div class="user-ava">
				<a class="ava" ui-sref="user({username: comment.user.login})"  ng-click="closePopup()">
					<img ng-src="{{comment.user.avatar_path}}" alt="">
				</a>
			</div>
			<div class="comment">
				<div class="user-info">				
					<div class="info-item">
						<a class="user-name" ui-sref="user({username: comment.user.login})" ng-click="closePopup()">{{comment.user.first_name}} {{comment.user.last_name}}</a>
						<p class="time" am-time-ago="comment.created_at"></p>
						<a ng-hide="comment.like_count === 0 && comment.user.id === loggedUserId" href="javascript:void(0);" ng-click="comment.user.id != loggedUserId && addCommentLike(comment)" class="like-counter">{{comment.like_count}}</a>
					</div>
					<a href="javascript:void(0);" ng-click="openCommentComplainBlock(comment.id)" class="alert alert-text" ng-hide="comment.user.id == loggedUserId">Пожаловаться</a>
					<a href="javascript:void(0);" ng-click="deleteComment('viewPage', singlePublication, comment, $index)" class="alert" ng-show="comment.user.id == loggedUserId"></a>
				</div>
				<p class="comment-item" ng-click="goToSearch(comment.text)" ng-bind-html="comment.text.length > comment.commentLength ? (comment.text | limitTo: 250) + '...' : comment.text | colonToSmiley | linkCheck">{{comment.text}}</p>
				<a class="link-at-hashtag" style="font-size: 14.6px;" href="javascript:void(0);" ng-click="showFullComment(comment)" ng-show="comment.text.length != comment.commentLength && comment.text.length > 250">Показать все</a>
				<div ng-if="comment.images[0]" class="comment-pic">
					<a ng-repeat="image in comment.images | limitTo: 3 as results" ng-click="showMoreImages(comment.images)" href="javascript:void(0);" class="comment-pic-item">
						<img ng-src="{{image.url}}">
					</a>
					<a ng-show="comment.images.length >= 4" href="javascript:void(0);" ng-click="showMoreImages(comment.images)" class="comment-pic-item">
						<p>Ещё {{comment.images.length - 3}} фото</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="add-comment">
		<div class="user-ava">
			<a class="ava" ui-sref="user({username: $root.user.username})" ng-click="closePopup()">
				<img ng-src="{{$root.user.loggedUserAva}}" alt="">
			</a>
		</div>
		<div flow-init style="position:relative;" class="add">
			<div class="text-field">
				<!-- <textarea name="" id="" placeholder="Текст комментария..." ng-model="commentModel.pubText"></textarea> -->
				<div emoji-form emoji-message="emojiMessage">
				<textarea id="messageInput" ng-model="emojiMessage.messagetext"></textarea>
					<a href="javascript:void(0);" class="emoji-button" id="emojibtn">
						<i class="icon icon-emoji"></i>
					</a>
				</div>
			</div>
			<div class="new-add" ng-show="singlePublication.files" ng-scrollbar rebuild-on="rebuild:me" style="max-height: 250px; overflow:hidden; position:relative;">
				<div class="new-img" ng-repeat="file in singlePublication.files" ng-click="showMoreImages(singlePublication.files)">  
					<div class="inner">
						<div ng-click="deletePubFile(singlePublication.files, $index)" class="close">
							<div class="close-inner">
								<p>Удалить</p>
							</div>
						</div>								
						<img ngf-thumbnail="file || '/thumb.jpg'">
						<video width="200px" controls ngf-src="file"></video>	
					</div>
					<p class="img-name">{{file.name}}</p>
				</div>
			</div>
			{{commentModel.pubText}}
			<div class="publication-footer" ng-init="addFileObjId = 'add-file-to-comment-popup-'+singlePublication.id">
				<div class="publication-footer-button">
					<button ng-disabled="disableAddComment" ng-click="addNewComment('feedPage', singlePublication, emojiMessage, singlePublication.files)" class="publication-button">Отправить</button>    
				</div>
				<div class="add-objects">						
					<input id="{{addFileObjId}}" ngf-keep="true" style="display: none;" ngf-select ng-model="singlePublication.files" ngf-multiple="true" ngf-before-model-change="pubFiles($files)"> 
					<label for="{{addFileObjId}}">
						Прикрепить
						<span class="add"></span>
					</label>                                         
				</div>   
			</div>
											

		</div>
	</div>
</div>