<div class="user-publication-bg" ng-if="$ctrl.isModal" ng-click="$ctrl.openPreviousInfo($ctrl.pub.images)"></div>
<div class="user-publication" ng-class="{blocked: !!ctrl.pub.is_block}" ng-if="!$ctrl.isGrid"
     id="{{'pub' + $ctrl.pub.id}}" tabindex="{{$ctrl.isModal ? 1 : 0}}"
     ng-keydown="$ctrl.keyPress($event)">

    <div class="user-publication-header">

        <div class="user-function" ng-class="{'pub-modal': $ctrl.isModal}">
            <a href class="user" ui-sref="user({username: $ctrl.pub.user.login})" ng-click="closeThisDialog()">
				<span class="ava">
					<img ng-src="{{$ctrl.avatar}}" alt="">
				</span>
                <span class="block-info">
								<p class="user-name">{{::$ctrl.authorName}}</p>
								<p class="time" am-time-ago="$ctrl.pub.created_at"></p>
							</span>
            </a>

            <div class="topic" ng-show="!!$ctrl.pub.is_topic">Тема дня</div>
            <div class="topic"
                 ng-if="!$ctrl.pub.is_moderate && $ctrl.pub.user.id === $root.user.userId && $ctrl.showModerate">На
                модерации
            </div>
            <div class="user-menu" ng-click="$ctrl.showUserMenu=!$ctrl.showUserMenu"
                 click-outside="$ctrl.showUserMenu = false"
                 outside-if-not="user-menu">
                <div class="menu-item" ng-if="$ctrl.showUserMenu">
                    <div class="inner">
                        <a href ng-if="$ctrl.pub.user.id === $root.user.userId" ng-click="$ctrl.openModalEditPub()">Редактировать</a>
                        <a href ng-click="$ctrl.sharePub($ctrl.pub)">Переслать</a>
                        <a href ng-click="$ctrl.getPubLink($ctrl.pub.id)">Получить ссылку</a>
                        <a href ng-click="$ctrl.openPubComplainBlock($ctrl.pub.id)">Пожаловаться</a>
                        <a href ng-if="$ctrl.pub.user.id === $root.user.userId" ng-click="$ctrl.openModalDeletePub()">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-function">
            <a class="user" ng-if="$ctrl.pub.group.length > 0"
               ui-sref="group({groupName: $ctrl.pub.group[0].url_name})">
                <p class="user-name">{{$ctrl.pub.group[0].name}}</p>
            </a>
            <a class="user" ng-if="$ctrl.pub.place.length > 0"
               ui-sref="place({placeName: $ctrl.pub.place[0].url_name})">
                <p class="user-name">{{$ctrl.pub.place[0].name}}</p>
            </a>
        </div>
        <a href ng-if="$ctrl.prevState" ng-click="$ctrl.goPrevState()" class="return">Назад</a>
    </div>

    <div class="user-publication-content">
        <div class="publication-ava hover--pointer" ng-click="$ctrl.clickEvent()">

            <div ng-if="!$ctrl.isModal && $ctrl.mainVideo && !$ctrl.showVideo">
                <h4>Видео еще загружается. Попробуйте позжe</h4>
            </div>
            <div ng-if="$ctrl.isModal && $ctrl.mainVideo && !$ctrl.showVideo">
                <h4>Видео еще загружается. Попробуйте позже</h4>
            </div>

            <img ng-if="!$ctrl.isModal && !$ctrl.mainVideo" ng-src="{{$ctrl.mainImage}}">
            <img ng-if="$ctrl.isModal && !$ctrl.mainVideo" ng-src="{{$ctrl.mainImage}}">

            <video ng-if="$ctrl.isModal && $ctrl.mainVideo && $ctrl.showVideo" width="700" controls ngf-src="$ctrl.mainVideo"></video>
            <video ng-if="!$ctrl.isModal && $ctrl.mainVideo && $ctrl.showVideo" width="700" controls ngf-src="$ctrl.mainVideo"></video>

        </div>
        <div class="publication-images" ng-scrollbar rebuild-on="loadPubFiles"
             style="max-height:175px; overflow:hidden; position:relative;"
             ng-hide="$ctrl.pub.files.length === 1">

            <div ng-click="$ctrl.changeMainFile(file, $index)"
                 ng-repeat="file in $ctrl.pub.files | limitTo: limit as results"
                 class="images-item">
                <img ng-src="{{file.url}}" ng-if="file.pivot.image_id">
                <img ng-src="{{file.img_url}}" ng-if="file.pivot.video_id">
                <!--<video width="150px" controls ngf-src="file.url" ng-if="file.pivot.video_id"></video>-->
            </div>

            <div ng-if="!(results.length === ($ctrl.pub.images.length + $ctrl.pub.videos.length))"
                 class="images-item more"
                 ng-click="loadMorePubFiles(results.length === ($ctrl.pub.images.length + $ctrl.pub.videos.length))">
                <p class="counter">Еще<br> {{($ctrl.pub.images.length + $ctrl.pub.videos.length) -
                    limit}} файлов</p>
            </div>

        </div>
        <p class="publication-text" ng-click="$ctrl.goToSearch(ctrl.pub.text)"
           ng-bind-html="$ctrl.pub.text | colonToSmiley | linkCheck"></p>
    </div>

    <div class="likes">
        <div class="likes-item">
            <a href ng-click="$ctrl.addPublicationLike($ctrl.pub, $ctrl.pub.user.id == $root.user.userId)"
               class="like" ng-class="$ctrl.pub.user_like ? 'active': ''">Тема</a>

            <p class="like-item" ng-if="$ctrl.pub.like_count > 0">
                В теме
                <span ng-if="$ctrl.pub.user_like" class="you"> Вы </span>
                <span ng-if="$ctrl.pub.user_like && $ctrl.pub.like_count > 1"
                      class="more">и еще</span>
                <span class="count-like"
                      ng-if="!($ctrl.pub.user_like && $ctrl.pub.like_count === 1)">{{$ctrl.pub.user_like ? ($ctrl.pub.user_like && ($ctrl.pub.like_count - 1)) : $ctrl.pub.like_count}} чел.</span>
            </p>
        </div>
        <span href class="comments-count" ng-if="$ctrl.pub.comment_count > 0">{{$ctrl.pub.comment_count}}</span>
    </div>

    <div class="more-comments" ng-if="$ctrl.pub.comments.length !== $ctrl.pub.comment_count">
        <a href ng-click="$ctrl.getAllCommentsPublication('feedPage', $ctrl.pub, true)" class="all-comments">Еще
            {{$ctrl.pub.comment_count - 3}} комментариев</a>
    </div>

    <div class="visible-comments" ng-hide="$ctrl.pub.comments.length === 0">
        <div ng-repeat="comment in $ctrl.pub.comments | orderBy: 'comment.created_at'" class="user-comment"
             ng-init="comment.commentLength = 250;">
            <div class="user-ava">
                <a href class="ava" ui-sref="user({username: comment.user.login})" ng-click="$ctrl.closeModal()">
                    <img ng-src="{{comment.user.avatar_path}}" alt="">
                </a>
            </div>
            <div class="comment">
                <div class="user-info">
                    <div class="info-item">
                        <a href class="user-name" ui-sref="user({username: comment.user.login})"
                           ng-click="$ctrl.closeModal()">{{comment.user.first_name}}
                            {{comment.user.last_name}}</a>

                        <p class="time" am-time-ago="comment.created_at"></p>
                        <a ng-hide="comment.user.id == $ctrl.myId" href="javascript:void(0);"
                           ng-click="comment.user.id != $ctrl.myId && $ctrl.addCommentLike(comment)"
                           class="like-counter">{{comment.like_count > 0 ? comment.like_count : ''}}</a>
                    </div>
                    <a href ng-click="$ctrl.openCommentComplainBlock(comment.id)" class="alert alert-text"
                       ng-if="!(comment.user.id == $ctrl.myId)">Пожаловаться</a>
                    <a href ng-click="$ctrl.deleteComment('viewPage', $ctrl.pub, comment, $index)" class="alert"
                       ng-if="comment.user.id == $ctrl.myId"></a>
                </div>
                <p class="comment-item"
                   ng-bind-html="comment.text.length > comment.commentLength ? (comment.text | limitTo: 250) + '...' : comment.text | colonToSmiley | linkCheck">
                    {{comment.text}}</p>
                <a class="link-at-hashtag" style="font-size: 14.6px;" href="javascript:void(0);"
                   ng-click="$ctrl.showFullComment(comment)"
                   ng-show="comment.text.length != comment.commentLength && comment.text.length > 250">Показать все</a>

                <div ng-if="comment.images[0]" class="comment-pic">
                    <a href ng-repeat="image in comment.images | limitTo: 3 as results"
                       ng-click="$ctrl.showMoreImages(comment.images, image)" class="comment-pic-item">
                        <img ng-src="{{::image.url}}">
                    </a>
                    <a href ng-if="comment.images.length >= 4" ng-click="$ctrl.showMoreImages(comment.images)"
                       class="comment-pic-item">
                        <p>Ещё {{comment.images.length - 3}} фото</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="added_comments">
        <a ng-hide="$ctrl.showAddComment" href="javascript:void(0);"
           ng-click="$ctrl.showAddCommentBlock()" class="add_comments">Добавить комментарий</a>
    </div>

    <div class="add-comment" ng-show="$ctrl.showAddComment">
        <form class="popup-place-view-publication-form" name="$ctrl.commentForm" novalidate>
            <div class="user-ava">
                <a href class="ava" ui-sref="user({username: $ctrl.userName})" ng-click="$ctrl.closeModal()">
                    <img ng-src="{{$ctrl.myAvatar}}" alt="My Avatar">
                </a>
            </div>
            <div flow-init style="position:relative;" class="add">
                <div class="text-field">
                    <div emoji-form emoji-message="$ctrl.emojiMessage">
                        <textarea id="messageInput" name="text" ng-model="$ctrl.emojiMessage.messagetext"
                                  required></textarea>
                        <a href class="emoji-button" id="emojibtn">
                            <i class="icon icon-emoji"></i>
                        </a>
                    </div>
                </div>
                <div class="error-messages" ng-messages="$ctrl.commentForm.text.$error"
                     ng-if="$ctrl.commentForm.$invalid && $ctrl.commentForm.$submitted">
                    <div ng-message="required">Не указан текст комментария</div>
                </div>

                <div class="new-add" ng-if="$ctrl.newComment.files"
                     ng-scrollbar
                     rebuild-on="rebuild:me"
                     bottom
                     rebuild-on-resize style="max-height: 250px; overflow:hidden; position:relative;">
                    <div class="new-img"
                         ng-repeat="file in $ctrl.newComment.files"
                         ng-click="showMoreImages($ctrl.newComment.files)">
                        <div class="inner">
                            <div ng-click="$ctrl.deletePubFile($ctrl.newComment.files, $index)" class="close">
                                <div class="close-inner">
                                    <p>Удалить</p>
                                </div>
                            </div>
                            <img ngf-thumbnail="file || '/thumb.jpg'">
                            <video width="200px" controls ngf-src="file"></video>
                        </div>
                        <p class="img-name">{{file.name}}</p>
                    </div>
                </div>
                {{$ctrl.commentModel.pubText}}
                <div class="publication-footer"
                     ng-init="addFileObjId = 'add-file-to-comment-popup-'+$ctrl.pub.id">
                    <div class="publication-footer-button">
                        <button ladda="$ctrl.subForm" data-style="slide-right" ng-disabled="$ctrl.subForm"
                                ng-click="$ctrl.addNewComment('feedPage', $ctrl.pub, emojiMessage, $ctrl.newComment.files)"
                                class="publication-button">Отправить
                        </button>
                        <div class="add-objects">
                            <input id="{{addFileObjId}}" style="display: none;"
                                   name="files"
                                   ngf-keep="true"
                                   ngf-accept="'image/*, video/*'"
                                   ngf-pattern="'image/*, video/*'"
                                   ngf-select
                                   ng-model="$ctrl.newComment.files"
                                   ngf-multiple="true"
                                   ngf-change="$ctrl.attachFileToComment($files)">
                            <label for="{{addFileObjId}}">
                                Прикрепить
                                <span class="add"></span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div>

</div>

<a href class="user-publication-grid" ng-if="$ctrl.isGrid" ng-click="$ctrl.clickEvent()">
    <img ng-src="{{$ctrl.pub.cover || $ctrl.pub.images[0].url}}" alt="">
    <!-- <span class="video" ng-show="$index==0"></span> -->
</a>