<div class="share-publication-title">Переслать публикацию</div>
<div class="share-publication-menu-wrap">
	<div class="share-publication-menu-wrap-inner">
		<a ng-class="{active: $ctrl.isSelected($index)}" ng-repeat="menuItem in $ctrl.menuItems" href="javascript:void(0);" ng-click="$ctrl.changeMenu(menuItem.menuType, $index)" class="share-publication-menu-item">{{menuItem.name}}</a>
	</div>
</div>
<div class="share-publication-search-wrap">
	<div class="share-publication-search-input">
		<input ng-model="$ctrl.query" type="text" placeholder="Поиск...">
	</div>
	<div ng-if="$ctrl.members()" class="share-publication-search-data">
		<div class="share-publication-search-sign">Я подписан</div>
		<div ng-init="subscription.type = 'members'" ng-repeat="subscription in $ctrl.subscriptions | filter:{$:$ctrl.query}" class="share-publication-search-data-item">
			<span><input ng-checked="$ctrl.isChecked(subscription.id)" class="share-publication-checkbox" ng-model="active" ng-change="$ctrl.change(subscription, active)" type="checkbox"></span>
			<div class="share-publication-search-data-info">
				<div class="share-publication-search-data-ava">
					<a ui-sref="user({username: subscription.login})" href="javascript:void(0);">
						<img ng-src="{{subscription.avatar_path}}" alt="">
					</a>
				</div>
				<span class="share-publication-search-data-name">{{subscription.first_name}} {{subscription.last_name}}</span>
			</div>
		</div>
		<div class="share-publication-search-sign">Подписчики</div>
		<div ng-init="subscriber.type = 'members'" ng-repeat="subscriber in $ctrl.subscribers | filter:{$:$ctrl.query}" class="share-publication-search-data-item">
			<span><input ng-checked="$ctrl.isChecked(subscriber.id)" class="share-publication-checkbox" ng-model="active" ng-change="$ctrl.change(subscriber, active)" type="checkbox"></span>
			<div class="share-publication-search-data-info">
				<div class="share-publication-search-data-ava">
					<a ui-sref="user({username: subscriber.login})" href="javascript:void(0);">
						<img ng-src="{{subscriber.avatar_path}}" alt="">
					</a>
				</div>
				<span class="share-publication-search-data-name">{{subscriber.first_name}} {{subscriber.last_name}}</span>
			</div>
		</div>
	</div>
	<div ng-if="$ctrl.groupsChat()" class="share-publication-search-data">
		<div class="share-publication-search-sign">Групповые чаты</div>
		<div ng-repeat="groupChat in $ctrl.groupsChatArr | filter:{$:$ctrl.query}" ng-if="groupChat.is_group" class="share-publication-search-data-item">
			<span><input class="share-publication-checkbox" ng-model="active" ng-change="$ctrl.change(groupChat, active)" type="checkbox"></span>
			<div class="share-publication-search-data-info">
				<div class="share-publication-search-data-ava">
					<a ui-sref="user({username: groupChat.login})" href="javascript:void(0);">
						<img ng-src="{{groupChat.avatar}}" alt="">
					</a>
				</div>
				<span class="share-publication-search-data-name">{{groupChat.name}}</span>
			</div>
		</div>
	</div>
	<div ng-if="$ctrl.showGroups()" class="share-publication-search-data">
		<div class="share-publication-search-sign">Группы</div>
		<div ng-show="group.is_sub" ng-repeat="group in $ctrl.groups | filter:{$:$ctrl.query}" class="share-publication-search-data-item">
			<span><input class="share-publication-checkbox" ng-model="active" ng-change="$ctrl.change(group, active)" type="checkbox"></span>
			<div class="share-publication-search-data-info">
				<div class="share-publication-search-data-ava">
					<a ui-sref="group({groupName: group.url_name, groupId: group.id})" href="javascript:void(0);">
						<img ng-src="{{group.card_avatar}}" alt="">
					</a>
				</div>
				<span class="share-publication-search-data-name">{{group.name}}</span>
			</div>
		</div>
	</div>
	<div ng-if="$ctrl.showPlaces()" class="share-publication-search-data">
		<div class="share-publication-search-sign">Места</div>
		<div ng-show="place.is_sub" ng-repeat="place in $ctrl.places | filter:{$:$ctrl.query}" class="share-publication-search-data-item">
			<span><input class="share-publication-checkbox" ng-model="active" ng-change="$ctrl.change(place, active)" type="checkbox"></span>
			<div class="share-publication-search-data-info">
				<div class="share-publication-search-data-ava">
					<a ui-sref="place({placeName: place.url_name, placeId: place.id})" href="javascript:void(0);">
						<img ng-src="{{place.avatar}}" alt="">
					</a>
				</div>
				<span class="share-publication-search-data-name">{{place.name}}</span>
			</div>
		</div>
	</div>
	<div class="share-publication-send-btn">
		<div ng-click="closeThisDialog()" class="share-publication-send-btn-cancel">Отменить</div>
		<div ng-click="$ctrl.sendSharePublication($ctrl.pub.id)" class="share-publication-send-btn-send">Отправить</div>
	</div>
</div>