<div>
	<form action="" ng-if="!vm.complainIsSend">
		<div class="spam-item">
			<input type="checkbox" id="spam" ng-model="v.alerts.alertPub1">
			<label for="spam">
				<span></span>
				Спам
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="anon" ng-model="v.alerts.alertPub2">
			<label for="anon">
				<span></span>
				Оскорбление
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="adult" ng-model="v.alerts.alertPub3">
			<label for="adult">
				<span></span>
				Материал для взрослых
			</label>
			</div>
		<div class="spam-item">
			<input type="checkbox" id="narcotic" ng-model="v.alerts.alertPub4">
			<label for="narcotic">
				<span></span>
				Пропаганда наркотиков
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="child" ng-model="v.alerts.alertPub5">
			<label for="child">
				<span></span>
				Детская порнография
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="extremism" ng-model="v.alerts.alertPub6">
			<label for="extremism">
				<span></span>
				Экстремизм
			</label>
		</div>
		<div class="spam-item">
			<input type="checkbox" id="wiolense" ng-model="v.alerts.alertPub7">
			<label for="wiolense">
				<span></span> 
				Насилие
			</label>
		</div>
	</form>
	<button ng-if="!vm.complainIsSend" ng-click="vm.sendComplain(ngDialogData.id, ngDialogData.flag, v.alerts.alertPub1, v.alerts.alertPub2, v.alerts.alertPub3, v.alerts.alertPub4, v.alerts.alertPub5, v.alerts.alertPub6, v.alerts.alertPub7)">Отправить</button>
	<p class="publication-alert-done" ng-if="vm.complainIsSend">Жалоба отправлена!</p>
</div>