<div ui-view>
    <div class="create-places">
        <h2>Создать место</h2>

        <h3>Выберите тип места</h3>

        <div class="create-places-cont">
            <div class="create-places-item">
                <div class="create-places-item-photo">
                    <a ui-sref="places.add.dynamic">
                        <img src="/images/places-dynamic.png" alt="">
                    </a>
                </div>
                <div class="create-places-item-name">
                    <a href="">Динамичное</a>
                </div>
            </div>
            <div class="create-places-item">
                <div class="create-places-item-photo">
                    <a ui-sref="places.add.common({activeTypePlaceId: 1})">
                        <img src="/images/places-store.png" alt="">
                    </a>
                </div>
                <div class="create-places-item-name">
                    <a ui-sref="places.add.common({activeTypePlaceId: 1})">Магазин</a>
                </div>
            </div>
            <div class="create-places-item">
                <div class="create-places-item-photo">
                    <a ui-sref="places.add.common({activeTypePlaceId: 2})">
                        <img src="/images/places-cafe.png" alt="">
                    </a>
                </div>
                <div class="create-places-item-name">
                    <a ui-sref="places.add.common({activeTypePlaceId: 2})">Кафе/Ресторан</a>
                </div>
            </div>
            <div class="create-places-item">
                <div class="create-places-item-photo">
                    <a ui-sref="places.add.common({activeTypePlaceId: 3})">
                        <img src="/images/places-game.png" alt="">
                    </a>
                </div>
                <div class="create-places-item-name">
                    <a ui-sref="places.add.common({activeTypePlaceId: 3})">Развлечение</a>
                </div>
            </div>
            <div class="create-places-item">
                <div class="create-places-item-photo">
                    <a ui-sref="places.add.common({activeTypePlaceId: 4})">
                        <img src="/images/places-organization.png" alt="">
                    </a>
                </div>
                <div class="create-places-item-name">
                    <a ui-sref="places.add.common({activeTypePlaceId: 4})">Организация</a>
                </div>
            </div>
            <div class="create-places-item">
                <div class="create-places-item-photo">
                    <a ui-sref="places.add.common({activeTypePlaceId: 5})">
                        <img src="/images/places-univer.png" alt="">
                    </a>
                </div>
                <div class="create-places-item-name">
                    <a ui-sref="places.add.common({activeTypePlaceId: 5})">Университет</a>
                </div>
            </div>
            <div class="create-places-item">
                <div class="create-places-item-photo">
                    <a ui-sref="places.add.common({activeTypePlaceId: 6})">
                        <img src="/images/places-school.png" alt="">
                    </a>
                </div>
                <div class="create-places-item-name">
                    <a ui-sref="places.add.common({activeTypePlaceId: 6})">Школа</a>
                </div>
            </div>
            <div class="create-places-item">
                <div class="create-places-item-photo">
                    <a ui-sref="places.add.common({activeTypePlaceId: 10})">
                        <img src="/images/places-adress.png" alt="">
                    </a>
                </div>
                <div class="create-places-item-name">
                    <a ui-sref="places.add.common({activeTypePlaceId: 10})">Адрес</a>
                </div>
            </div>
        </div>
    </div>
</div>

