<div class="group-files">
	<div class="group-files-title">
		<span>Ноябрь 2015</span>
	</div>
	<div class="group-files-container">
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt=""></a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
		<div class="group-files-content" style="{{resizeSizes}}">
			<a href="javascript:void(0);"><img src="" alt="">
			</a>
		</div>
	</div>
</div>
