<div style="min-height: 100%;">
    <div class="user-main-content">
        <div class="user-main-content-item">
            <!-- Content -->

            <div class="place-top-ava-wrap">
                <div class="group-ava">
                    <a href="" class="ava">
                        <img ng-src="{{vm.place.cover}}">
                    </a>

                    <div class="group-likes">
                        <div class="group-info">
                            <a href="" class="publication-place publication-place-img1" title="{{vm.place.name}}">{{vm.place.name}}</a>
                            <a href class="publication-place"
                               ng-click="vm.showFullDescription = !vm.showFullDescription"
                               ng-bind-html="vm.place.description | colonToSmiley"></a>


                            <p class="like-item">
                                В теме
                                <span class="count-like">{{vm.place.count_users}}</span>
                                чел.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group-description-container1 animate-if" ng-if="vm.showFullDescription">
                <p ng-bind-html="vm.place.description | colonToSmiley"></p>
            </div>

            <div class="place-menu-wrap">
                <div class="group-menu">
                    <div class="group-menu-item">
                        <div class="places-place-menu-avatar">
                            <a href="">
                                <img ng-src="{{vm.place.avatar}}">
                            </a>
                        </div>
                        <div class="place-publication-menu" ng-if="vm.showPubSwitch">
                            <a href class="place-publication-menu-table active"></a>
                            <a href class="place-publication-menu-list">
                            </a>
                        </div>
                        <div class="counts">
                            <a ui-sref="place.publications" eat-click-if="!$root.isAuthorized" ui-sref-active="active" class="counter">
                                <p>Публикации</p>
                                <span ng-if="vm.place.count_publications > 0">{{vm.place.count_publications}}</span>
                            </a>
                            <a ui-sref="place.chat" eat-click-if="!$root.isAuthorized" ui-sref-active="active" class="counter">
                                <p>Чат</p>
                                <span ng-if="vm.place.count_chat_message > 0">{{vm.place.count_chat_message}}</span>
                            </a>
                            <a ui-sref="place.people" eat-click-if="!$root.isAuthorized" ui-sref-active="active" class="counter">
                                <p>Люди</p>
                                <span ng-if="vm.place.count_users > 0">{{vm.place.count_users}}</span>
                            </a>
                            <a ui-sref="place.files()" eat-click-if="!$root.isAuthorized" ui-sref-active="active" class="counter">
                                <p>Файлы</p>
                                <span ng-if="vm.place.count_chat_files > 0">{{vm.place.count_chat_files}}</span>
                            </a>
                        </div>
                        <div class="place-user-menu-wrap">
                            <div class="user-menu" ng-if="vm.place.is_admin"
                                 ng-click="$root.showUserMenu=!$root.showUserMenu"
                                 click-outside="closeUserMenu()"
                                 outside-if-not="user-menu">
                                <div class="menu-item" ng-if="$root.showUserMenu">
                                    <div class="inner">
                                        <a href="" ng-click="vm.openModalNewPublication()">Публикация</a>
                                        <a ui-sref="place.edit({isDynamicPlace: vm.place.is_dynamic})">Редактировать</a>
                                        <a href ng-click="vm.openModalInviteUsers()">Пригласить</a>
                                        <a href ng-if="vm.place.is_creator"
                                           ng-click="vm.openModalDeletePlace()">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button ng-if="!vm.place.is_sub && $root.isAuthorized" ng-click="vm.subscribe()">Подписаться</button>
                        <button ng-if="vm.place.is_sub && $root.isAuthorized" ng-click="vm.subscribe()">Отписаться</button>
                    </div>

				</div>
				<div class="group-header"></div>
			</div>


			<div class="group-page">


				<div ui-view>
                    <h4 class="text-center" ng-if="!$root.isAutorized">Для просмотра места следует авторизоваться</h4>
                </div>
			</div>
		</div>
	</div>
</div>