<form name="vm.placeEditedForm" novalidate>
    <div class="create-places-common">
        <div class="create-places-header">
            Редактирование места
        </div>
        <div class="create-places-common-inner">
            <div class="create-places-type">
                <span class="place-type-title">Тип места:</span>
                <span class="place-type-name">Динамичное</span>
            </div>
            <div class="create-places-description">
                {{vm.place.type_place.description}}
            </div>
            <div class="create-places-select-country">
                <div class="select-country-country">Категория динамического места</div>
                <div class="select-country-name">
                    <select ng-model="vm.placeEdited.type_place"
                            name="category"
                            ng-options="option.name for option in vm.typeDynamic track by option.id"
                            required>
                        <option value="" disabled>---</option>
                    </select>

                    <div class="error-messages" ng-messages="vm.placeEditedForm.typePlaceId.$error"
                         ng-if="vm.placeEditedForm.$invalid && vm.placeEditedForm.$submitted">
                        <div ng-message="required">Вы не выбрали категорию места</div>
                    </div>
                </div>
            </div>
            <div class="create-places-select-street">
                <div class="select-country-country">Название</div>
                <div class="select-street-input">
                    <input type="text"
                           name="name"
                           ng-model="vm.placeEdited.name"
                           placeholder="Введите название места..."
                           required>

                    <div class="error-messages" ng-messages="vm.form.placeEdited.name.$error"
                         ng-if="vm.form.placeEdited.$invalid && vm.form.placeEdited.$submitted">
                        <div ng-message="required">Вы не указали название</div>
                    </div>
                </div>

            </div>
            <div class="create-places-select-country">
                <div class="select-country-country">Выберите страну</div>
                <div class="select-country-name">
                    <select name="country"
                            ng-options="option.name for option in vm.countries track by option.id"
                            ng-model="vm.placeEdited.country"
                            required>
                        <option value="" disabled>---</option>
                    </select>

                    <div class="error-messages" ng-messages="vm.form.placeEdited.country.$error"
                         ng-if="vm.form.placeEdited.$invalid && vm.form.placeEdited.$submitted">
                        <div ng-message="required">Вы не выбрали страну</div>
                    </div>
                </div>
            </div>

            <div class="create-places-select-country">
                <div class="select-country-country">Выберите город</div>
                <div class="select-country-name">
                    <select name="city"
                            ng-options="option.name for option in vm.cities track by option.id"
                            ng-model="vm.placeEdited.city"
                            required>
                        <option value="" disabled>---</option>
                    </select>

                    <div class="error-messages" ng-messages="vm.form.placeEdited.city.$error"
                         ng-if="vm.form.placeEdited.$invalid && vm.form.placeEdited.$submitted">
                        <div ng-message="required">Вы не выбрали город</div>
                    </div>
                </div>
            </div>
            <div class="create-places-select-street">
                <div class="select-country-country">Адрес места</div>
                <div class="select-street-input">
                    <input type="text" name="address" placeholder="улица, номер дома" ng-model="vm.placeEdited.address"
                           required>
                    <span class="street-on-map" ng-click="vm.openModalMap()">или укажите на карте</span>

                    <div class="error-messages" ng-messages="vm.form.placeEdited.address.$error"
                         ng-if="vm.form.placeEdited.$invalid && vm.form.placeEdited.$submitted">
                        <div ng-message="required">Вы не указали адрес</div>
                    </div>
                </div>

            </div>
            <div class="create-places-select-country days">
                <div class="select-country-country">Сколько дней актуально это место</div>
                <div class="select-country-name">
                    <input type="date" name="date" placeholder="Выберите дни" ng-model="vm.placeEdited.expired_date"
                           required>

                    <div class="error-messages" ng-messages="vm.placeEditedForm.date.$error"
                         ng-if="vm.placeEditedForm.$invalid && vm.placeEditedForm.$submitted">
                        <div ng-message="required">Вы не указали дату актуальности</div>
                    </div>
                </div>
            </div>
            <div class="create-places-select-street">
                <div class="select-country-country">Описание</div>
                <div class="select-street-input">
                    <textarea type="text"
                              name="description"
                              placeholder="Введите описание..."
                              ng-model="vm.placeEdited.description"
                              required></textarea>

                    <div class="error-messages" ng-messages="vm.form.placeEdited.description.$error"
                         ng-if="vm.form.placeEdited.$invalid && vm.form.placeEdited.$submitted">
                        <div ng-message="required">Вы не заполнили описание</div>
                    </div>
                </div>

            </div>

            <div class="create-places-add-cover">
                <div class="create-places-add-cover-img"
                     name="cover"
                     ngf-select
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-min-heiht="280"
                     ngf-min-width="1200"
                     ngf-before-model-change="vm.changePlaceCoverFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                     ng-model="vm.placeEdited.cover"
                >
                    <a href="">
                        <img ngf-thumbnail="vm.placeEdited.cover" ngf-no-object-url="true">
                    </a>

                    <span>Добавить обложку месту</span>
                </div>
            </div>
            <div class="error-messages" ng-messages="vm.placeEditedForm.cover.$error" ng-if="vm.placeEditedForm.$invalid && vm.placeEditedForm.$submitted || vm.placeEditedForm.$dirty">
                <div ng-message="pattern">Выбранный файл не является изображением</div>
                <div ng-message="minWidth">Минимальная ширина 1200 пикселей</div>
                <div ng-message="required">Вы не выбрали обложку для места</div>
                <div ng-message="minHeight">Минимальная высота 280 пикселей</div>
            </div>
            <div class="create-places-add-cover">
                <div class="create-places-add-cover-img"
                     name="logo"
                     ngf-select
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-before-model-change="vm.changePlaceAvatarFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                     ng-model="vm.placeEdited.avatar">
                    <a href="">
                        <img ngf-thumbnail="vm.placeEdited.avatar" ngf-no-object-url="true">
                    </a>
                    <span>Добавить логотип месту</span>
                </div>
                <div class="error-messages" ng-messages="vm.placeEditedForm.logo.$error" ng-if="vm.placeEditedForm.$invalid && vm.placeEditedForm.$submitted || vm.placeEditedForm.$dirty">
                    <div ng-message="pattern">Выбранный файл не является изображением</div>
                    <!--<div ng-message="minWidth">Минимальная ширина 700 пикселей</div>-->
                    <!--<div ng-message="required">Вы не выбрали обложку для группы</div>-->
                    <!--<div ng-message="minHeight">Минимальная высота 240 пикселей</div>-->
                </div>
                <a href class="modal__buttons-negative" ng-click="vm.abortUpdatePlace()">Отменить</a>

                <div class="create-places-add-cover-button-create" ladda="vm.subForm" ng-disabled="vm.subForm"
                     data-style="slide-right" ng-click="vm.updatePlace()">Сохранить
                </div>
            </div>

        </div>
    </div>
</form>

