<h3>Создать место</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nemo, neque. Aliquam at atque beatae consectetur
    cupiditate et fugit laborum nulla possimus provident qui quibusdam ratione repellat sequi suscipit tempore, tenetur
    vero voluptatibus? Cumque dignissimos doloremque doloribus ducimus eligendi impedit labore laborum modi nihil
    praesentium, quibusdam quo ratione, sapiente sint.</p>


<label>Выберите страну
    <select>
        <option value="1">Украина</option>
        <option value="2">Норвегия</option>
        <option value="3">Нидерланды</option>
        <option value="4">США</option>
    </select>
</label>
<br>
<label>Выберите город
    <select>
        <option value="1">Киев</option>
        <option value="2">Берген</option>
        <option value="3">Амстердам</option>
        <option value="4">Нью-Йорк</option>
    </select>
</label>
<br>
<label>Введите название университета
    <input type="text" placeholder="Университет ...">
</label>
<br>
<label>Описание
    <textarea cols="30" rows="10"></textarea>
</label>
<br>
<label>Добавить обложку месту
    <input type="file">
</label>
<br>
<input type="submit" value="Создать место">

