<div class="create-places-common">
	<div class="create-places-header">
		<a class="create-places-header-a" href="">Создать место</a>
	</div>
	<div class="create-places-common-inner">
		<div class="create-places-type">
			<span class="place-type-title">Тип места:</span>
			<span class="place-type-name">Динамичное</span>
		</div>
		<div class="create-places-description">
			Высшее учебное заведение, где готовятся специалисты по фундаментальным и многим прикладным
			наукам. Как правило, осуществляет и научно-исследовательскую работу. Многие современные 
			университеты действуют как учебно-научно-практические комплексы. Университеты объединяют в
			своём составе несколько факультетов, на которых представлена совокупность различных дисциплин,
			составляющих основы научного знания.
		</div>
		<div class="create-places-select-country">
			<div class="select-country-country">Категория динамического места</div>
			<div class="select-country-name">
				<select>
				  <option value="">Выберите категорию</option>
				  <option value="">Выберите категорию</option>
				  <option value="">Выберите категорию</option>
				  <option value="">Выберите категорию</option>
				</select>
			</div>
		</div>
		<div class="create-places-select-country">
			<div class="select-country-country">Выберите страну</div>
			<div class="select-country-name">
				<select>
				  <option value="">Россия</option>
				  <option value="">Украина</option>
				  <option value="">Исландия</option>
				  <option value="">Ирландия</option>
				</select>
			</div>
		</div>
		
		<div class="create-places-select-country">
			<div class="select-country-country">Выберите город</div>
			<div class="select-country-name">
				<select>
				  <option value="">Москва</option>
				  <option value="">Киев</option>
				  <option value="">Днепропетровск</option>
				  <option value="">Мюнхен</option>
				</select>
			</div>
		</div>
		<div class="create-places-select-street">
			<div class="select-country-country">Адрес места</div>
			<div class="select-street-input">
				<input type="text" placeholder="улица, номер дома">
				<span class="street-on-map">или укажите на карте</span>
			</div>

		</div>
		<div class="create-places-select-country days">
			<div class="select-country-country">Сколько дней актуально это место</div>
			<div class="select-country-name">
				<input type="date" placeholder="Выберите дни">
			</div>
		</div>
		<div class="create-places-select-street">
			<div class="select-country-country">Описание</div>
			<div class="select-street-input">
				<textarea type="text" placeholder="Введите описание:"></textarea>
			</div>

		</div>

		<div class="create-places-add-cover">
			<div class="create-places-add-cover-img">
				<a href=""></a>
				<span>Добавить обложку месту</span>
			</div>
			<!-- <div class="create-places-add-cover-ava">аватар</div> -->
			<div class="create-places-add-cover-button-create">Создать место</div>
		</div>
	</div>
</div>