<div class="group-publication">
    <div class="my-photos" ng-if="vm.photosGrid">
        <div class="photo" ng-repeat="item in vm.place.publications | orderBy: '-created_at'" style="{{pubSize}}">
            <a href="" ng-click="vm.openModalReviewPublication(item.id, $index)">
                <img ng-src="{{item.cover || item.images[0].url}}" alt="">
                <!-- <span class="video" ng-show="$index==0"></span> -->
            </a>
        </div>
    </div>

    <div class="content-item" ng-if="!vm.photosGrid" ng-repeat="item in vm.place.publications | orderBy: '-created_at'">
        <pub-list-item pub-data="item"
                       index="$index"
                       to-click="vm.openModalPublication"></pub-list-item>
    </div>
</div>
<h4 class="text-center" ng-if="vm.place.publications.length === 0">Список публикаций пуст</h4>