<div class="group-peoples">
    <div class="group-peoples-inner">
        <div class="group-peoples-inner-item"
             ng-repeat="user in vm.place.users | orderBy: ['-is_admin']"
             ng-mouseenter="showAdmin=vm.place.is_creator"
             ng-mouseleave="showAdmin=false">
            <div class="peoples-inner-item-data">
                <div class="peoples-item-photo">
                    <a href="javascript:void(0);">
                        <img ng-src="{{::user.avatar_path}}" alt="User avatar">
                    </a>
                </div>
                <div class="peoples-item-name-content">
                    <a class="peoples-item-name-family" href=""><span>{{::user.first_name}} {{::user.last_name}}</span></a>

                    <p class="peoples-item-name-comment">{{::user.status}}</p>
                </div>
            </div>
            <div class="peoples-inner-item-admin"
                 ng-if="user.is_admin || showAdmin"
                 ng-class="vm.place.is_creator ? '' : 'no-click'"
                 ng-click="vm.setAdmin(user)"
            >Администратор
            </div>

            <span class="peoples-item__delete" ng-if="vm.place.is_admin" ng-click="vm.removeUser(user)">✖</span>
        </div>
    </div>
</div>