<div ng-if="!ngDialogData.isCover">
    <div class="cropArea">
        <img-crop image="vm.selectedLogoImage"
                  result-image="vm.myCroppedImage"
                  area-type="square"
                  area-min-size="220"
                  result-image-quality="1"
                  result-image-size="220"></img-crop>
    </div>
    <button ng-click="vm.saveCropp(vm.myCroppedImage);" class="check-in-button">Выбрать</button>
</div>
<div ng-if="ngDialogData.isCover">
    <div class="cropArea">
        <img-crop image="vm.selectedLogoImage"
                  result-image="vm.myCroppedImage"
                  area-type="rectangle"
                  area-min-relative-size="{w: 1200, h: 300}"
                  result-image-quality="1"
                  result-image-size="220"></img-crop>
    </div>
    <button ng-click="vm.saveCropp(vm.myCroppedImage);" class="check-in-button">Выбрать</button>
    <div><img ng-src="{{vm.myCroppedImage}}" /></div>
</div>