<div class="modal__title">Пригласить пользователя в место</div>

<div class="modal__content" ng-if="vm.inviteNotSend && (vm.subscribers.length + vm.subscription.length) > 0">
    <div class="invite-group__items">
        <input type="text" id="" ng-model="searchString" placeholder="Пригласить в место...">
        <ul class="contacts_list">
            <p>Подписки</p>
            <li ng-repeat="user in vm.subscription | filter: vm.showUsersForInvite | searchFor:searchString"
                ng-click="vm.onItemSelected(user)" class="user_block">
                <div class="popup-invite-place-people-name1 user-block">
                    <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                        <img ng-src="{{user.avatar_path}}" class="contacts_photo_img">
                    </a>

                    <div class="user-info">
                        <div class="user-info__user">
                            <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                                {{::user.first_name}} {{::user.last_name}}
                            </a>
                        </div>
                        <div class="user-info__status" ng-if="user.user_quote">{{::user.user_quote}}</div>
                        <div class="user-info__online">{{::user.is_online ? 'В сети' : 'Не в сети'}}</div>
                    </div>
                </div>
            </li>
            <p>Подписчики</p>
            <li ng-repeat="user in vm.subscribers | filter: vm.showUsersForInvite | searchFor:searchString"
                ng-click="vm.onItemSelected(user)" class="user_block">
                <div class="popup-invite-place-people-name1 user-block">
                    <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                        <img ng-src="{{user.avatar_path}}" class="contacts_photo_img">
                    </a>

                    <div class="user-info">
                        <div class="user-info__user">
                            <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                                {{::user.first_name}} {{::user.last_name}}
                            </a>
                        </div>
                        <div class="user-info__status" ng-if="user.user_quote">{{::user.user_quote}}</div>
                        <div class="user-info__online">{{::user.is_online ? 'В сети' : 'Не в сети'}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="invite-group__items-selected">
        <p class="item1-add-people-title">Список пользователей</p>
        <ul class="contacts_list">
            <li ng-repeat="user in vm.invitedUsers" ui-sref="user({username: user.login})"
                ng-mouseenter="showAdmin=true" ng-mouseleave="showAdmin=false">
                <div class="popup-invite-place-people-name1 user-block">
                    <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                        <img ng-src="{{user.avatar}}" class="contacts_photo_img">
                    </a>

                    <div class="user-info">
                        <div class="user-info__user">
                            <a ui-sref="user({username: user.login})" ng-click="$event.stopPropagation()">
                                {{::user.firstName}} {{::user.lastName}}
                            </a>
                        </div>
                        <div class="user-info__status" ng-if="user.user_quote">{{::user.user_quote}}</div>
                        <div class="user-info__online">{{::user.is_online ? 'В сети' : 'Не в сети'}}</div>
                    </div>
                </div>
                    <span class="items-selected__item-delete"
                          ng-click="vm.removeUserFromInviteList(user)">&#10006;</span>
            </li>
        </ul>
    </div>
</div>
<div class="modal__content" ng-if="(vm.subscribers.length + vm.subscription.length) === 0">
    <p>Список контактов пуст</p>
</div>
<div class="modal__content" ng-if="!vm.inviteNotSend">
    <p>Приглашение отправлено</p>
</div>

<div class="modal__footer" ng-hide="!vm.inviteNotSend">
    <div class="modal__buttons">
        <a href="" class="modal__buttons-negative" ng-if="(vm.subscribers.length + vm.subscription.length) > 0"
           ng-click="vm.abortInviteUsers()">Отменить</a>
        <a href="" class="modal__buttons-positive" ng-if="(vm.subscribers.length + vm.subscription.length) > 0"
           ng-click="vm.submitInviteUsers()">Отправить</a>
        <a href="" class="modal__buttons-positive" ng-if="(vm.subscribers.length + vm.subscription.length) === 0"
           ng-click="closeThisDialog()">Закрыть</a>
    </div>
</div>