<div class="footer" ng-controller="footerCtrl">
    <div class="footer-item">
                <div class="footer-place">
                    <a href="">Place People </a>
                    <span>© 2016</span>
                </div>
                <div class="payment">
                    <a class="mastercard" href=""></a>
                    <a class="visa" href=""></a>
                </div>
    </div>
    <div class="menu">
        <a class="drop-menu" href="" ng-click="openBottomMenu()" ng-class="showBottomMenu ? 'show-bottom-menu' : ''" ng-init="showBottomMenu=true;"></a>
        <div class="menu-item" ng-show="showBottomMenu">            
            <a ng-repeat="staticPage in staticPages" ui-sref="static-auth({ pageName: staticPage.name})">{{staticPage.description}}</a>
        </div>
    </div>
</div>