<div class="footer" ng-controller="footerCtrl">
    <div class="footer-item">        
        <div class="footer-place">
            <a href="">Place People </a>
            <span>© 2016</span>
        </div>
        <div class="payment">
            <a class="mastercard" href=""></a>
            <a class="visa" href=""></a>
        </div>
    </div>
    <div class="menu">        
        <div class="menu-item">
            <a ng-repeat="staticPage in staticPages" ui-sref="static({ pageName: staticPage.name})">{{staticPage.description}}</a>            
        </div>
    </div>
</div>
