<div class="footer">
    <div class="footer-item">        
        <a href="">Place People <span>© 2016</span></a>
        <div class="payment">
            <a class="mastercard" href=""></a>
            <a class="visa" href=""></a>
        </div>
    </div>
    <div class="menu">
        <!-- <a class="drop-menu" href=""></a> -->
        <div class="menu-item">
            <a ui-sref="static({ pageName: 'about_service'})">О сервисе </a>
            <a ui-sref="static({ pageName: 'help'})">Помощь </a>
            <a ui-sref="static({ pageName: 'rules'})">Правила </a>
            <a ui-sref="static({ pageName: 'advertising'})">Реклама </a>
            <a ui-sref="static({ pageName: 'developers'})">Разработчикам </a>                                
        </div>
    </div>
</div>
