<input type="text" ng-model="model" placeholder="{{prompt}}" ng-keydown="selected=false"/><br/>
<div class="typeahead-items" ng-hide="!model.length || selected">
    <div class="typeahead-items__item" ng-repeat="item in items | filter:model  track by $index" ng-click="handleSelection(item[key1])"
         style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
        {{item[key1] + ' ' + item[key2]}}
        <!--<span class="typeahead-item__title">{{item[key1] + ' ' + item[key2]}}</span>-->

        <!--<p class="subtitle">{{item[subtitle]}}</p>-->
    </div>
</div>